
@{
    ViewBag.Title = "AssignRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h2 class="page-heading">Setting</h2>
</div>
<div class="userrole_section section_wrapper">
    <div class="row mb-35">
        <div class="col-md-6">
            <div class="form-group">
                <label>Minimal</label>
                <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Enter User Type</option>
                    <option>Customer</option>
                    <option>User</option>
                    <option>Admin</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-35">
        <div class="col-sm-12">
            <h2 class="sm-heading">Main Menu</h2>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="user">
                        <label class="form-check-label" for="user">
                            User
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="customer">
                        <label class="form-check-label" for="customer">
                            Customer
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="orders">
                        <label class="form-check-label" for="orders">
                            Order(s)
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="setting">
                        <label class="form-check-label" for="settings">
                            Setting
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="sm-heading">Sub Menu</h2>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="user">
                        <label class="form-check-label" for="user">
                            User
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="customer">
                        <label class="form-check-label" for="customer">
                            Customer
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="orders">
                        <label class="form-check-label" for="orders">
                            Order(s)
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="setting">
                        <label class="form-check-label" for="settings">
                            Setting
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

