
@{
    ViewBag.Title = "AssignRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h2 class="page-heading">Setting</h2>
</div>
<div class="userrole_section section_wrapper">
    <div class="row mb-35">
        <div class="col-md-3">
            <div class="form-group">
                <h2 class="sm-heading">User Roles</h2>
                <select id="userrole" class="form-control select2" style="width: 100%;">
                    <option selected="selected">Select Type</option>                    
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-35">
        <div class="col-sm-12">
            <h2 class="sm-heading">Main Menu</h2>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="user">
                        <label class="form-check-label" for="user">
                            User
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="customer">
                        <label class="form-check-label" for="customer">
                            Customer
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="orders">
                        <label class="form-check-label" for="orders">
                            Order(s)
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="setting">
                        <label class="form-check-label" for="setting">
                            Setting
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="sm-heading">Sub Menu</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="createnew">
                        <label class="form-check-label" for="createnew">
                            Create New
                        </label>
                    </div>
                    <div class="form-check mt-1">
                        <input class="form-check-input" type="checkbox" value="" id="changepassword">
                        <label class="form-check-label" for="changepassword">
                            Change Password
                        </label>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="addneworder">
                        <label class="form-check-label" for="addneworder">
                            Add New Order
                        </label>
                    </div>
                    <div class="form-check mt-1">
                        <input class="form-check-input" type="checkbox" value="" id="vieweditorders">
                        <label class="form-check-label" for="vieweditorders">
                            View / Edit Order(s)
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.get('GetRoles', function (data) {
            $.each(data, function (index, value) {
                $('<option>').val(value).text(value).appendTo("#userrole");
            })
        })
    })
</script>