
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="page-title">
    <h2 class="page-heading">Create User</h2>
</div>
<div class="createuser-section section_wrapper">
    <div class="create-user-box">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <div class="user-box-profile">
                            <div class="add-profile">
                                <span class="edit-pic-profile">
                                    <input type="file" name="file" id="file" class="inputfile" />
                                    <label for="file"><i class="fa fa-edit"></i>Edit</label>
                                </span>
                                <img class="profile-user-img img-responsive img-circle" width="90" height="90" src="~/Images/userprofile2.png" alt="User profile picture">
                            </div>
                        </div>
                        <h3 class="profile-username text-center">Layla Sleep</h3>
                        <p class="text-muted text-center">laylasleep@acb.com</p>
                        <p class="text-center">Washington Dc</p>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                    <div class="box box-primary create-user-primary">
                        <div class="box-header with-border">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">First Name</label>
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Last Name</label>
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">User Status</label>
                                    <select class="form-control">
                                        <option>Select User Status</option>
                                        <option>Active</option>
                                        <option>Away</option>
                                        <option>Do not disturb</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">User Type</label>
                                    <select class="form-control">
                                        <option>Select User Type</option>
                                        <option>Admin</option>
                                        <option>Customer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Contact Number</label>
                                    <input type="text" class="form-control" placeholder="Enter Your Phone Number">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Country</label>
                                    <select class="form-control">
                                        <option>Select Country/Region</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Address</label>
                                    <textarea class="form-control form-address" placeholder="Enter Your Address"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">E-mail</label>
                                    <input type="text" class="form-control" placeholder="Enter Your Mail Address">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">User Name</label>
                                    <input type="text" class="form-control" placeholder="Enter User Name">
                                </div>
                                <div class="form-group form-password-group">
                                    <label for="exampleInputEmail1">Password</label>
                                    <input type="password" class="form-control" placeholder="Enter Your Password">
                                    <span class="genrate_password">Genrate Password</span>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Confirm Password</label>
                                    <input type="password" class="form-control" placeholder="Confirm Your Password">
                                </div>
                            </div>
                            <div class="col-offset-8 col-sm-4 mt-1" >
                                <a href="#" class="btn btn-danger btn-block"><b>Create User</b></a>
                            </div>
                        </div>
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>

