@model LaylaERP.Models.clsUserDetails
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@*@using (Html.BeginForm("Users", "Users", FormMethod.Post)) { }*@
<div class="page-title">
    <h2 class="page-heading">Users</h2>

</div>
<div class="user_subCrumbs">
    <ul class="subsubsub">
        <li class="all"><a href="#" id="all" class="current" aria-current="page">All (<span class="count">0</span>)</a> |</li>
        <li class="accounting"><a href="#" id="accounting">Accounting (<span class="count">0</span>)</a> |</li>
        <li class="administrator"><a href="#" id="administrator">Administrator (<span class="count">0</span>)</a> |</li>
        <li class="author"><a href="#" id="author">Author (<span class="count">0</span>)</a> |</li>
        <li class="contributor"><a href="#" id="contributor">Contributor (<span class="count">0</span>)</a> |</li>
        <li class="editor"><a href="#" id="editor">Editor (<span class="count">0</span>)</a> |</li>
        <li class="modsquad"><a href="#" id="modsquad">Mod Squad (<span class="count">0</span>)</a> |</li>
        <li class="shop_manager"><a href="#" id="shopmanager">Shop Manager (<span class="count">0</span>)</a> |</li>
        <li class="subscriber"><a href="#" id="subscriber">Subscriber (<span class="count">0</span>)</a> |</li>
        <li class="supplychainmanager"><a href="#" id="supplychainmanager">Supply Chain Manager (<span class="count">0</span>)</a> |</li>
        <li class="wpseo_editor"><a href="#" id="seo">SEO Editor (<span class="count">0</span>)</a> |</li>
        <li class="wpseo_editor"><a href="#" id="seomanager">SEO Manager (<span class="count">0</span>)</a> |</li>
        <li class="none"><a href="#" id="norole">No role (<span class="count">0</span>)</a></li>
    </ul>
</div>
<div>
    <p id="selectStatus"><label><b class="sm-heading">Status</b></label></p>
</div>
<section class="content section-content">
    <div class="user-top-section">

        <div class="tablenav top">
            <div class="alignleft actions bulkactions">
                <select name="action" id="ddlStatus">
                    <option value="1">Bulk actions</option>
                    <option value="2">Active</option>
                    <option value="3">InActive</option>
                </select>
                <input type="submit" id="btnApply" class="button action" value="Apply">
            </div>
            <div class="alignleft actions">
                <select name="new_role" id="new_role">
                    <option value="">Change role to…</option>
                    <option value="Accounting">Accounting</option>
                    <option value="Administrator">Administrator</option>
                    <option value="Author">Author</option>
                    <option value="Contributor">Contributor</option>
                    <option value="Editor">Editor</option>
                    <option value="Mod_Squad">Mod Squad</option>
                    <option value="SEO_Editor">SEO Editor</option>
                    <option value="SEO_Manager">SEO Manager</option>
                    <option value="Shop_Manager">Shop Manager</option>
                    <option value="Subscriber">Subscriber</option>
                    <option value="Supply_Chain_Manager">Supply Chain Manager</option>
                </select>
                <input type="submit" name="changeit" id="changeit" class="button" value="Change">
            </div>

            <div class="alignleft actions">
                <select name="grant_role" id="grant_role">
                    <option value="">Grant Roal to…</option>
                    <option value="Accounting">Accounting</option>
                    <option value="Administrator">Administrator</option>
                    <option value="Author">Author</option>
                    <option value="Contributor">Contributor</option>
                    <option value="Editor">Editor</option>
                    <option value="Mod_Squad">Mod Squad</option>
                    <option value="SEO_Editor">SEO Editor</option>
                    <option value="SEO_Manager">SEO Manager</option>
                    <option value="Shop_Manager">Shop Manager</option>
                    <option value="Subscriber">Subscriber</option>
                    <option value="Supply_Chain_Manager">Supply Chain Manager</option>
                </select>
                <input type="submit" name="Grantrole" id="Grantrole" class="button" value="Grant">
            </div>
            <div class="alignleft actions">
                <select name="revoke_role" id="revoke_role">
                    <option value="">Revoke Roal to…</option>
                    <option value="Accounting">Accounting</option>
                    <option value="Administrator">Administrator</option>
                    <option value="Author">Author</option>
                    <option value="Contributor">Contributor</option>
                    <option value="Editor">Editor</option>
                    <option value="Mod_Squad">Mod Squad</option>
                    <option value="SEO_Editor">SEO Editor</option>
                    <option value="SEO_Manager">SEO Manager</option>
                    <option value="Shop_Manager">Shop Manager</option>
                    <option value="Subscriber">Subscriber</option>
                    <option value="Supply_Chain_Manager">Supply Chain Manager</option>
                </select>
                <input type="submit" name="Revoke" id="Revoke" class="button" value="Revoke">
            </div>
            <input type="hidden" name="varpass" id="varpass" value="">
            @*<div class="tablenav-pages">
                    <span class="displaying-num">61,641 items</span>
                    <span class="pagination-links">
                        <span class="tablenav-pages-navspan button disabled" aria-hidden="true">«</span>
                        <span class="tablenav-pages-navspan button disabled" aria-hidden="true">‹</span>
                        <span class="paging-input">
                            <input class="current-page" id="current-page-selector" type="text" name="paged" value="1" size="4" aria-describedby="table-paging">
                            <span class="tablenav-paging-text"> of <span class="total-pages">3,083</span></span>
                        </span>
                        <a class="next-page button" href="http://173.247.242.204/~rpsisr/woo/wp-admin/users.php?paged=2"><span aria-hidden="true">›</span></a>
                        <a class="last-page button" href="http://173.247.242.204/~rpsisr/woo/wp-admin/users.php?paged=3083"><span aria-hidden="true">»</span></a>
                    </span>
                </div>*@
            <br class="clear">
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <div id="gridContainer" class="margin-15-rem">
                <table id="dtdata" class="table table-blue table-bordered table-striped dataTable check-table" style="width:100%;">
                    <thead class="thead-dark">
                        <tr>
                            <th><input type="checkbox" name="checkAll" id="checkAll"><label></label></th>
                            <th>ID</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</section>

<script src="~/js/common.js"></script>
<script src="@Url.Content("~/js/Users/Users.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
@section scripts{

    <script type="text/javascript">
        var j = "";
        $(document).ready(function () {
            $(".subsubsub li a").click(function (e) {
                $('.subsubsub li a').removeClass('current');
                $(this).addClass('current');
            });
            GetUsersCount();
            setTimeout(function () { Datagrid(1); }, 50);
        });

        //CheckBoxes
        $('#checkAll').click(function () {
            var isChecked = $(this).prop("checked");
            $('#dtdata tr:has(td)').find('input[type="checkbox"]').prop('checked', isChecked);
        });

        function Singlecheck() {
            var isChecked = $(this).prop("checked");
            var isHeaderChecked = $("#checkAll").prop("checked");
            if (isChecked == false && isHeaderChecked)
                $("#checkAll").prop('checked', isChecked);

            else {
                $('#dtdata tr:has(td)').find('input[type="checkbox"]').each(function () {
                    if ($(this).prop("checked") == false)
                        isChecked = false;
                });
                $("#checkAll").prop('checked', isChecked);
            }
        }

        $('#btnApply').click(function () {
            var id = "";
            var status = $("#ddlStatus").val();
            $("input:checkbox[name=CheckSingle]:checked").each(function () { id += $(this).val() + ","; });
            if (status == "1") { UpdateCustomerStatus(); }
            if (status == "3") {
                id = id.replace(/,(?=\s*$)/, '');
                DeleteUsers(id);
                //dataGridLoad();
            }
            if (status == "2") {

                id = id.replace(/,(?=\s*$)/, '');
                ActiveUsers(id);
                //dataGridLoad();
            }
            $("input:checkbox[name=CheckSingle]:checked").each(function () {
                //alert("Id: " + $(this).attr("id") + " Value: " + $(this).val());
            });
        })
        $("#changeit").click(function () {
            var ID = "";
            var new_role = $("#new_role").val();
            $("input:checkbox[name=CheckSingle]:checked").each(function () { ID += $(this).val() + ","; });
            ID = ID.replace(/,(?=\s*$)/, '');
            changeRole(ID);
        })
        //Grantrole
        $("#Grantrole").click(function () {
            var ID = "";
            var new_role = $("#grant_role").val();
            $("input:checkbox[name=CheckSingle]:checked").each(function () {
                ID += $(this).val() + ",";

            });
            ID = ID.replace(/,(?=\s*$)/, '');
            Grantrole(ID);
        })
        //Revoke
        $("#Revoke").click(function () {
            var ID = "";
            var new_role = $("#revoke_role").val();
            $("input:checkbox[name=CheckSingle]:checked").each(function () {
                ID += $(this).val() + ",";

            });
            ID = ID.replace(/,(?=\s*$)/, '');
            Revokerole(ID);
        })

        //Count Role Grid Show
        $('#all').click(function () {
            j = "";
            k = 1;
            Datagrid(k);
        });

        $('#administrator').click(function () {
            j = 'administrator';
            k = 1;
            // alert(j);
            Datagrid(k);

        });
        $('#accounting').click(function () {
            j = 'accounting';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#author').click(function () {
            j = 'author';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#modsquad').click(function () {
            j = 'modsquad';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#shopmanager').click(function () {
            j = 'shop manager';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#subscriber').click(function () {
            j = 'subscriber';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#supplychainmanager').click(function () {
            j = 'supplychainmanager';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#seo').click(function () {
            j = 'seoeditor';
            // alert(j);
            k = 1;
            Datagrid(k);
        });

        $('#norole').click(function () {
            j = 'norole';
            // alert(j);
            k = 1;
            Datagrid(k);
        });
        $('#norole').click(function () {            j = 'norole', k = 1;            Datagrid(k);
        });
                                      //Count Role Grid End



    </script>

    @*<script>
            function drop() {
                var urid = $("#ddlStatus").val();
                var obj = { user_status: urid };

                $.ajax({
                    url: '/Users/GetData/', dataType: 'json', type: 'Post',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(obj),
                    dataType: "json",
                    success: function (data) {
                        if (data.status == true) {

                            swal('Alert!', data.message, 'success');
                        }
                        else {
                            swal('Alert!', data.message, 'error')
                        }
                    },
                    error: function (error) {
                        swal('Error!', 'something went wrong', 'error');
                    },


                })
            }
        </script>*@
}
@*<script>
        var dataTable = document.getElementById('data-table');
        var checkItAll = dataTable.querySelector('input[name="select_all"]');
        var inputs = dataTable.querySelectorAll('tbody>tr>td>input');

        checkItAll.addEventListener('change', function () {
            if (checkItAll.checked) {
                inputs.forEach(function (input) {
                    input.checked = true;
                });
            }
            else {
                inputs.forEach(function (input) {
                    input.checked = false;
                });
            }
        });
    </script>*@