@model LaylaERP.Models.clsUserDetails
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@*<div>
        <form action="">
            <select name="bulkaction" id="bulkactions">
                <option value="0">Bulk Action</option>
                <option value="1">Delete</option>
            </select>
            <br>
            <input type="submit" value="Apply">
        </form>

        <select name="userrole" id="userrole">
            <option value="0">Select User Role</option>
            <option value="1">Administrator</option>
            <option value="1">Mod Squad</option>
        </select>

        <select name="useractivate" id="useractivate">
            <option value="0">Active</option>
            <option value="1">InActive</option>
        </select>


    </div>
    <br>
    <br>
    <table id="data-table" class="table table-striped table-bordered nowrap" width="100%">
        <tr>
            <th><input name="select_all" value="1" type="checkbox"> All</th>
            <th>UserID</th>
            <th>UserName</th>
            <th>Role</th>
            <th>Status</th>
            <th>Email</th>
        </tr>
        <tr>
            <td><input type="checkbox" name="name1" /></td>
            <td>1</td>
            <td>david</td>
            <td>Administrator</td>
            <td>Active</td>
            <td>david.quickfix1@gmail.com</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="name1" /></td>
            <td>2</td>
            <td>david002</td>
            <td>Administrator</td>
            <td>Active</td>
            <td>david2.quickfix1@gmail.com</td>
        </tr>
    </table>

    <style>
        table {
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #eee;
        }

        tr:nth-child(odd) {
            background-color: #fff;
        }

        th {
            background-color: orange;
            color: white;
        }
    </style>*@

@using (Html.BeginForm("Users", "Users", FormMethod.Post))
{<div class="page-title">
    <h2 class="page-heading">Users</h2>
    <a href="#" class="page-title-action">Add New</a>
    @Html.DropDownList("UserStatus", new List<SelectListItem>
                            {
                            new SelectListItem{ Text="Active", Value = "0" },
                            new SelectListItem{ Text="Inactive", Value = "1" },
                            })
</div>
    <div class="user_subCrumbs">
        <ul>
            <li class="all"><a href="#" class="current" aria-current="page">All <span class="count">(61,602)</span></a> |</li>
            <li class="accounting"><a href="#">Accounting <span class="count">(1)</span></a> |</li>
            <li class="administrator"><a href="#">Administrator <span class="count">(4)</span></a> |</li>
            <li class="author"><a href="#">Author <span class="count">(2)</span></a> |</li>
            <li class="customer"><a href="#">Customer <span class="count">(61,526)</span></a> |</li>
            <li class="modsquad"><a href="#">Mod Squad <span class="count">(29)</span></a> |</li>
            <li class="shop_manager"><a href="#">Shop manager <span class="count">(1)</span></a> |</li>
            <li class="subscriber"><a href="#">Subscriber <span class="count">(1)</span></a> |</li>
            <li class="supplychainmanager"><a href="#">Supply Chain Manager <span class="count">(1)</span></a> |</li>
            <li class="wpseo_editor"><a href="#">SEO Editor <span class="count">(1)</span></a> |</li>
            <li class="none"><a href="#">No role <span class="count">(7)</span></a></li>
        </ul>
    </div>
    <section class="content section-content">
                <div class="dx-viewport demo-container data-table-container">
                    <div id="gridContainer">
                        <table id="userslist" class="table table-bordered table-striped dataTable" style="width:100%;">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Role</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
    </section>
}

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#userslist').DataTable({
                destroy: true,
                bAutoWidth: false,
                "ajax": {
                    "url": '/Users/GetData',
                    "type": 'GET',
                    "dataType": 'json',
                },
                lengthMenu: [[10, 20, 50, 100], [10, 20, 50, 100]],
                "columns": [
                    { 'data': '', 'sWidth': "5%" },
                    { 'data': 'ID', 'sWidth': "5%" },
                    { 'data': 'user_login', 'sWidth': "20%" },
                    { 'data': 'user_email', 'sWidth': "20%" },
                    { 'data': 'user_status', 'sWidth': "20%" },
                    { 'data': 'my', 'sWidth': "30%" },
                ],


                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0,
                    data: null,
                    defaultContent: '',
                }],
                "select": {
                    "style": 'os',
                    "selector": 'td:first-child'
                },
                "order": [[1, 'desc']],

            });
        });
    </script>
}
<script>
    var dataTable = document.getElementById('data-table');
    var checkItAll = dataTable.querySelector('input[name="select_all"]');
    var inputs = dataTable.querySelectorAll('tbody>tr>td>input');

    checkItAll.addEventListener('change', function () {
        if (checkItAll.checked) {
            inputs.forEach(function (input) {
                input.checked = true;
            });
        }
        else {
            inputs.forEach(function (input) {
                input.checked = false;
            });
        }
    });
</script>