
@{
    ViewBag.Title = "POClosure Order";

}

<div class="page-title">
    <h2 class="page-heading">PO-Closure Order List</h2>
</div>
<section class="content section-content table-design customer-section">  
    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="dtdataPoClosure" class="inventory-table table-blue table check-table table-bordered table-striped dataTable" width="100%">
                                    <thead>
                                        <tr>
                                            @*<th width="5%" style="display:none"><input type="checkbox" name="checkall" id="checkall" onClick="CheckAll();"><label></label></th>*@
                                            <th>PO No.</th>
                                            <th>Date</th>
                                            <th>Invoice No</th>
                                            <th>SO No. Name</th>
                                            <th>Vendor Name</th>
                                            <th>Address</th>
                                            <th>Zip Code</th>
                                            <th>Planned date of delivery</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
</section>
@*<script src="@Url.Content("~/js/Reception/ReceivePrint.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
<script src="@Url.Content("~/js/Reception/ReceiveOrderList.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>*@