
@{
    ViewBag.Title = "Payment Invoice List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.rangePicker = "/Content/AdminLTE-3.1.0/bower_components/bootstrap-daterangepicker/daterangepicker.css";
}

<!-- datatables CSS -->
<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
<!-- datatables js -->
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<style>
    .payment.invoice.list #dtdata.inventory-table .shown + tr > td {
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;
    }

    .payment.invoice.list .table-design #dtdata.inventory-table thead th {
        padding: 10px !important;
    }

    .payment.invoice.list .dataTables_scrollBody #dtdataPartially.inventory-table.table-blue thead th {
        padding: 10px !important;
    }
</style>
<div class="page-title">
    <h2>Payments PO</h2>
</div>
<section class="content section-content neworder-section table-design">
    <div class="nav-tabs-custom">
        <div class="row">
            <input type="hidden" id="hfType" value="" />
            <div class="col-md-12">
                <div class="user-top-section">
                    <div class="tablenav top tablenav-top2">
                        <div class="alignleft actions">
                            <div class="input-group">
                                <input type="hidden" id="hfhref" />
                                <input type="hidden" id="hfEdit" value="" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="txtOrderDate" data-auto-update-input="false" readonly="readonly" class="form-control">
                            </div>
                        </div>
                        <div style="display:none" class="alignleft actions">
                            <select class="form-control" id="ddlStatus">
                                @*<option value="">Select Type</option>*@
                                <option value="PO">Purchase Orders</option>
                                <option value="PR">Received Orders</option>
                            </select>
                            <input type="submit" name="filter_action" id="btnOtherFilter" class="button" value="Filter" data-toggle="tooltip" title="Search order by selection criteria.">
                        </div>
                        <div class="alignright actions bulkactions">
                            <button type="button" id="btnChange" class="btn btn-danger" data-toggle="tooltip" title="Go for payment" >Go For Payment</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a class="active" href="#tab_21" title="Click here to see purchase orders list" data-toggle="tab">Pending Purchase Orders<span class="badge badge-danger"></span></a></li>
            <li title="Click here to see received orders list" data-toggle="tooltip"><a href="#tab_22" data-toggle="tab">Paid Purchase Orders<span class="badge badge-danger"></span></a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_21">
                <div id="divpodata" class="row">
                    <div class="col-md-12">
                        <div class="box box-primary table-design not-fixed">
                            <div class="box-header">
                                <div class="table-responsive">
                                    <table id="dtdata" class="inventory-table table-blue table check-table table-bordered table-striped dataTable">
                                        <thead>
                                            <tr>
                                                @*<th width="5%"><input type="checkbox" name="checkall" id="checkall" onClick="CheckAll();"><label></label></th>*@
                                                <th width="5%"><input type="checkbox" name="checkAll" id="checkAll"><label></label></th>
                                                <th>PO No.</th>
                                                <th>Date</th>
                                                <th>Invoice No</th>
                                                <th>Vendor Name</th>
                                                <th>Zip Code</th>
                                                <th>Balance</th>
                                                <th>Received</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_22">
                <div class="tab-content">
                    <div id="divprdata" class="row">
                        <div class="col-md-12">
                            <div class="box box-primary table-design not-fixed">
                                <div class="box-header">
                                    <div class="table-responsive">
                                        <div class="col-sm-12">
                                            <table id="dtdataPartially" class="inventory-table table-blue table check-table table-bordered table-striped dataTable" width="100%">
                                                <thead>
                                                    <tr>
                                                        @*<th width="5%"><input type="checkbox" name="checkallpr" id="checkallpr" onClick="CheckAllpr();"><label></label></th>*@
                                                        <th width="5%"><input type="checkbox" name="checkallpr" id="checkallpr"><label></label></th>
                                                        <th>PO No.</th>
                                                        <th>Address</th>
                                                        <th>SO No. Name</th>
                                                        <th>Address</th>
                                                        <th>Total Amount</th>
                                                        <th>Paid Amount</th>
                                                        <th>Balance Amount</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        var loc = window.location.pathname;
        CheckPermissions("#btnChange", "#hfEdit", "", loc);
        //CheckPermissions("#btnChange", "#btnChange", "", loc);
    });
</script>

<link href="~/Content/AdminLTE-3.1.0/daterangepicker/daterangepicker.monthpicker.css" rel="stylesheet" />
<script src="~/Content/AdminLTE-3.1.0/daterangepicker/daterangepicker.monthpicker.js"></script>
<script src="~/js/common.js"></script>
<script src="@Url.Content("~/js/PaymentInvoice/PaymentInvoice.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
<script src="@Url.Content("~/js/PurchaseOrder/PurchasePrint.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
<script src="@Url.Content("~/js/Users/RolePermission.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>

