@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="page-title">
    <h2 class="page-heading">Configuration</h2>
</div>
<section class="content section-content configuration-section">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">Type</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FirstName">Employee Type</label>
                        <div class="input-group">
                            <select class="form-control">
                                <option>-Employe Type-</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">Select</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FirstName">Emp Code</label>
                        <div class="input-group">
                            <select class="form-control">
                                <option>-Emp Code-</option>
                            </select>
                        </div>
                    </div>
                </div><div class="col-md-6">
                    <div class="form-group">
                        <label for="FirstName">Emp  Name</label>
                        <div class="input-group">
                            <select class="form-control">
                                <option>-Emp Name-</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">Basic</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="FirstName">Basic</label>
                        <div class="input-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div> <div class="col-md-3">
                    <div class="form-group">
                        <label for="FirstName">DA</label>
                        <div class="input-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div> <div class="col-md-3">
                    <div class="form-group">
                        <label for="FirstName">HRA</label>
                        <div class="input-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div> <div class="col-md-3">
                    <div class="form-group">
                        <label for="FirstName">Other Allowance</label>
                        <div class="input-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">Deductions</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="FirstName">PF</label>
                        <div class="input-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div> <div class="col-md-3">
                    <div class="form-group">
                        <label for="FirstName">Laon Amount</label>
                        <div class="input-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div> <div class="col-md-3">
                    <div class="form-group">
                        <label for="FirstName">Loan EMI</label>
                        <div class="input-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div> <div class="col-md-3">
                    <div class="form-group">
                        <label for="FirstName">Loan months</label>
                        <div class="input-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

---------------Type------------------
Employee_Type (dropdown)

----------Select---------------------
EmpCode and EmpName

--------------Basic------------------
Basic (textbox)
DA      (textbox)
HRA   (textbox)
Other Allowance (textbox)

------------Deductions--------------

PF (textbox)
LaonAmount (text)
LoanEMI (text)
Loanmonths (text)
AdvanceAmount (text)
AdvanceEMI (text)
AdvanceEMIMonths (text)
TDS (text)
OtherDeductions (text)
-----------------REIMBURSEMENTS---------------
Reimbursements (text)

--------------Work-------------------
WorkType (dropdown)
DefaultWorkingHours (text)

------------Prepare Salary----------------
Prepare Salary (dropdown Yes/No)

------------Computation Accounting--------
Accounting Type (dropdown)
