
@{
    ViewBag.Title = "ConfigurationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*datatables CSS*@
<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
@*datatables js*@
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap.min.js" type="text/javascript"></script>


<div class="page-title">
    <h2 class="page-heading">Configuration List</h2>
</div>
<section class="content section-content table-design customer-section">
    @*<div class="user-top-section">

        <div class="tablenav top tablenav-top2">
            <div class="alignleft actions bulkactions">
                <select class="form-control select2" id="ddlSearchStatus" placeholder="Select User">
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                </select>
                <span title="Click Here To Change Status Of Leave After Selecting Checkbox" data-placement="bottom" data-toggle="tooltip"><button type="button" id="btnChange" class="btn btn-primary btn-flat button">Change</button></span>
            </div>
        </div>
    </div>*@
    <!-- end top-->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="EmployeeListdata" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>

<script src="@Url.Content("~/js/Hrms/ConfigurationList.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>