@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<link href="~/Content/DataTables/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Content/DataTables/bootstrap-datepicker.js"></script>

<style>
    .input-group .select2-container, .form-group .select2-container {
        position: relative !important;
        z-index: 2;
        float: left !important;
        width: 100% !important;
        margin-bottom: 0 !important;
        display: table !important;
        table-layout: fixed !important;
    }
</style>
<div class="page-title">
    <h2 class="page-heading">Create Employee</h2>
</div>
<section class="content section-content employees-section">
    <article class="box box-primary mb-4">
        <div class="box-header with-border">
            <h4 class="box-title">Basic Info</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="FirstName">First Name</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="txtFirstName" name="FirstName">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="LastName">Last Name</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="txtLastName" name="LastName">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Gender">Gender</label>
                        <div class="input-group">
                            <select class="form-control select2" id="ddlGender" name="Gender">
                                <option selected="selected" value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="DateOfBirth">Date of Birth</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtdob" /><span class="even-space"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="PlaceOfBirth">Place of Birth</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="txtPlaceOfBirth" name="PlaceOfBirth">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="PlaceOfBirth">Employee Type</label>
                        @*<div class="input-group">
                            <input class="form-control" type="text" id="txtType" name="PlaceOfBirth">
                        </div>*@

                        <select class="form-control select2" id="txtType" name="MaritalStatus">
                            <option selected="selected" value="1">Full Time</option>
                            <option value="2">Part Time</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="MaritalStatus">Marital Status</label>
                        <div class="input-group">
                            <select class="form-control select2" id="ddlMaritalStatus" name="MaritalStatus">
                                <option selected="selected" value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Remarried">Remarried</option>
                                <option value="Separated">Separated</option>
                                <option value="Divorced">Divorced</option>
                                <option value="Widowed">Widowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="txtEmail" name="Email">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Phone">Phone</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="txtPhone" name="Phone">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Address1">Address1</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="txtAddress1" name="Address1">
                </div>
            </div>
            <div class="form-group">
                <label for="Address2">Address2</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="txtAddress2" name="Address2" value="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="City">City</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="txtCity" name="City">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="StateProvince">State</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="txtState" name="StateProvince">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ZipCode">ZipCode</label>
                        <div class="input-group">
                            <input class="form-control" type="text" id="txtZipCode" name="ZipCode">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Country">Country</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="txtCountry" name="Country">
                </div>
            </div>
            <div title="Check Active">
                <input type="checkbox" id="chkemployeestatus" /><label for="Active">Active</label>
            </div>
        </div>
    </article>

    <article class="box box-primary mb-4">
        <div class="box-header with-border">
            <h4 class="box-title">Staff Info</h4>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label for="EmployeeIDNumber">Employee ID Number</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="txtEmployeeIDNumber" name="EmployeeIDNumber">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="DesignationId">Designation</label>
                        <div class="input-group">
                            <select class="form-control select2" id="ddldesignation" name="DesignationId"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="DepartmentId">Department</label>
                        <div class="input-group">
                            <select class="form-control select2" id="ddldepartment" name="DepartmentId"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="SupervisorId">Supervisor</label>
                        <div class="input-group">
                            <select class="form-control select2" id="ddlSupervisorId" name="SupervisorId">
                                @*<option value=""></option>
                                <option value="">EMPSLS003 Adria Russell</option>
                                <option value="">EMPSLS001 Noelle Adams</option>
                                <option value="">EMPHR005 Colby Bernard</option>
                                <option value="">EMPHR004 Leilani Boyer</option>
                                <option value="">EMPIT002 Forrest Ray</option>
                                <option value="">EMPSLS004 Hilda Haynes</option>
                                <option value="">EMPFI005 Calista Wise</option>
                                <option value="">EMPFI003 Celeste Slater</option>
                                <option value="">EMPFI001 Cecilia Chapman</option>
                                <option value="">EMPHR001 Hedy Greene</option>
                                <option value="">EMPSLS005 Rebecca Chambers</option>
                                <option value="">EMPIT003 Hiroko Potter</option>
                                <option value="">EMPIT005 Aaron Hawkins</option>
                                <option value="">EMPHR003 Joan Romero</option>*@
                                <option selected="selected" value="EMPSLS002">EMPSLS002 Lillith Daniel</option>
                                <option value="EMPIT001">EMPIT001 Kyla Olsen</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="JoiningDate">Joining Date</label>
                <div class="input-group">
                    <input type="text" id="txtJoiningDate" name="JoiningDate" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="LeavingDate">Leaving Date</label>
                <div class="input-group">
                    <input type="text" id="txtLeavingDate" name="LeavingDate" class="form-control">
                </div>
            </div>

        </div>
    </article>
    <article class="box box-primary mb-4">
        <div class="box-header with-border">
            <h4 class="box-title">Salary Info</h4>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label for="BasicSalary">Basic Salary</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="txtBasicSalary" name="BasicSalary">
                </div>
            </div>
            <div class="form-group">
                <label for="UnpaidLeavePerDay">Un Paid Leave Per Day</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="txtUnpaidLeavePerDay" name="UnpaidLeavePerDay">
                </div>
            </div>
            @*<div class="form-group">
                <label for="BenefitTemplateId">Benefit Package Template</label>
                <div class="input-group">
                    <select class="form-control select2" id="txtBenefitTemplateId" name="BenefitTemplateId">
                        <option value=""></option>

                    </select>
                </div>
            </div>*@
        </div>
    </article>

    <article class="box box-primary mb-4">
        <div class="box-header with-border">
            <h4 class="box-title">Bank Account Info</h4>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label for="AccountTitle">Account Title</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="txtAccountTitle" name="AccountTitle">
                </div>
            </div>
            <div class="form-group">
                <label for="BankName">Bank Name</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="txtBankName" name="BankName">
                </div>
            </div>
            <div class="form-group">
                <label for="AccountNumber">Account Number</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="txtAccountNumber" name="AccountNumber">
                </div>
            </div>
            <div class="form-group">
                <label for="SwiftCode">Swift Code</label>
                <div class="input-group">
                    <input class="form-control" type="text" id="txtSwiftCode" name="SwiftCode" value="">

                </div>
            </div>
        </div>
    </article>

    @*<article class="box box-primary mb-4">
        <div class="box-header with-border">
            <h4 class="box-title">User Account Info</h4>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label for="SystemUserId">Application User</label>
                <div class="input-group">
                    <select class="form-control select2" id="SystemUserId" name="SystemUserId">
                        <option value=""></option>
                        <option value="">Aaron.Hawkins@hrmlite.com</option>
                        <option selected="selected" value="">Adria.Russell@hrmlite.com</option>
                        <option value="">Calista.Wise@hrmlite.com</option>
                        <option value="">Castor.Richardson@hrmlite.com</option>
                        <option value="">Cecilia.Chapman@hrmlite.com</option>
                        <option value="">Celeste.Slater@hrmlite.com</option>
                        <option value="">Chester.Bennett@hrmlite.com</option>
                        <option value="">Christian.Emerson@hrmlite.com</option>
                        <option value="">Colby.Bernard@hrmlite.com</option>
                        <option value="">Edward.Nieves@hrmlite.com</option>
                        <option value="">Forrest.Ray@hrmlite.com</option>
                        <option value="">g@gamil.com</option>
                        <option value="">Harrison.Mcguire@hrmlite.com</option>
                        <option value="">Hedy.Greene@hrmlite.com</option>
                        <option value="">Hilda.Haynes@hrmlite.com</option>
                        <option value="">Hiroko.Potter@hrmlite.com</option>
                    </select>
                </div>
            </div>
        </div>

    </article>*@
    <article class="box box-primary mb-4">
        <div class="box-footer text-right">
            <a href="#" class="btn btn-danger">Back</a>
            <button type="submit" class="btn btn-danger" id="btnSave">Save</button>
        </div>
    </article>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', "#btnSave", function () {
            AddEmployee();
        });

        $(".select2").select2();
        setTimeout(function () { $(".select2").select2(); }, 2000);
    })

</script>
<script>
    $(function () {
        $("#txtdob").datepicker({
            format: 'mm-dd-yyyy',
        });

        $("#txtJoiningDate").datepicker({
            format: 'mm-dd-yyyy',
        });

        $("#txtLeavingDate").datepicker({
            format: 'mm-dd-yyyy',
        });

    });
</script>

<script src="@Url.Content("~/js/Hrms/Hrms.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>