
@{
    ViewBag.Title = "HRA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HRA</h2>

<div class="row">
    <div class="col-sm-6">
        <div class="box box-primary">
            <div class="box-body">
                <input type="hidden" id="hfid" />
                <input type="hidden" id="hfwarehouserule" />
                <input type="hidden" id="hfproductid" />
                <div class="form-group">
                    <label for="prefixcode">Prefix-Code<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="txtprefixcode" />
                </div>

                <div class="form-group">
                    <label for="ddlproduct">Products<span style="color:red">*</span></label>
                    <select class="form-control select2" id="ddlProduct" style="width:100%;"></select>
                </div>
                <div class="box-footer">
                    <a href="#" class="btn btn-danger" id="btnAddProduct"><span title="Click Here To Add Prefix-Code And Product" data-placement="bottom" data-toggle="tooltip"><b>Add</b></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6" id="details">
        <div class="box box-primary">
            <div class="box-body">

                <div class="form-group">
                    <label for="vendor">Vendor<span style="color:red">*</span></label>
                    <select class="form-control select2" id="ddlvendor" style="width:100%;"></select>
                </div>

                <div class="form-group">
                    <label for="country">Country<span style="color:red"></span></label>
                    <input type="text" class="form-control" id="txtcountry" readonly />
                </div>

                <div class="form-group">
                    <label for="state">State<span style="color:red"></span></label>
                    <input type="text" class="form-control" id="txtstate" readonly />
                </div>

                <div class="form-group">
                    <label for="warehouse">Warehouse<span style="color:red">*</span></label>
                    <select class="form-control select2" id="ddlwarehouse" style="width:100%;"></select>
                </div>
                <div class="box-footer">
                    <a href="#" class="btn btn-danger" id="btnAdd"><span title="Click Here To Add Record" data-placement="bottom" data-toggle="tooltip"><b>Save</b></span></a>
                    <a href="#" class="btn btn-danger" id="btnReset"><span title="Click Here To Reset" data-placement="bottom" data-toggle="tooltip"><b>Reset</b></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="box box-primary">
            <div class="box-body">
                <table id="dtdata" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Product</th>
                            <th>Prefix</th>
                            <th>Vendor</th>
                            <th>Warehouse</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>


</div>
