@{
    ViewBag.Title = "Accounting Journal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title">
    <h2>List of the accounting accounts<span class="text-gray">(137)</span></h2>
    <div class="ml-auto">
        <a class="btn no-btn">Back to List</a>&nbsp;&nbsp;<button class="btn btn-danger">Add an Account</button>
    </div>
</div>
<section class="content section-content journal-section table-design">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <form class="form-inline">
                        <div class="form-group mb-2">
                            <label class="control-label">Select active chart of accounts: </label>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <select class="form-control">
                                <option>PCG99-ABREGE - The simple accountancy french plan - (FR)</option>
                                <option>PCG99-BASE - The base accountancy french plan - (FR)</option>
                                <option>PCG14-DEV - The developed accountancy french plan 2014 - (FR)</option>
                                <option>PCG18-ASSOC - French foundation chart of accounts 2018 - (FR)</option>
                                <option>PCGAFR14-DEV - The developed farm accountancy french plan 2014 - (FR)</option>
                                <option>PCMN-BASE - The base accountancy belgium plan - (BE)</option>
                                <option>PCG08-PYME - The PYME accountancy spanish plan - (ES)</option>
                                <option>SKR03 - Standardkontenrahmen SKR 03 - (DE)</option>
                                <option>SKR04 - Standardkontenrahmen SKR 04 - (DE)</option>
                                <option>PCG_SUISSE - Switzerland plan - (CH)</option>
                                <option>ENG-BASE - England plan - (GB)</option>
                                <option>PCT - The Tunisia plan - (TN)</option>
                                <option>PCG - The Moroccan chart of accounts - (MA)</option>
                                <option>NSCF - Nouveau système comptable financier - (DZ)</option>
                                <option>NL-VERKORT - Verkort rekeningschema - (NL)</option>
                                <option>BAS-K1-MINI - The Swedish mini chart of accounts - (SE)</option>
                                <option>AT-BASE - Plan Austria - (AT)</option>
                                <option>PC-MIPYME - The PYME accountancy Chile plan - (CL)</option>
                                <option>DK-STD - Standardkontoplan fra SKAT - (DK)</option>
                                <option>EC-SUPERCIAS - Plan de cuentas Ecuador - (EC)</option>
                                <option>PCN-LUXEMBURG - Plan comptable normalisé Luxembourgeois - (LU)</option>
                                <option>RO-BASE - Plan de conturi romanesc - (RO)</option>
                                <option>SYSCOHADA-BJ - Plan comptable Ouest-Africain - (BJ)</option>
                                <option>SYSCOHADA-BF - Plan comptable Ouest-Africain - (BF)</option>
                                <option>SYSCOHADA-CD - Plan comptable Ouest-Africain - (CD)</option>
                                <option>SYSCOHADA-CF - Plan comptable Ouest-Africain - (CF)</option>
                                <option>SYSCOHADA-CG - Plan comptable Ouest-Africain - (CG)</option>
                                <option>SYSCOHADA-CI - Plan comptable Ouest-Africain - (CI)</option>
                                <option>SYSCOHADA-CM - Plan comptable Ouest-Africain - (CM)</option>
                                <option>SYSCOHADA-GA - Plan comptable Ouest-Africain - (GA)</option>
                                <option>SYSCOHADA-GQ - Plan comptable Ouest-Africain - (GQ)</option>
                                <option>SYSCOHADA-KM - Plan comptable Ouest-Africain - (KM)</option>
                                <option>SYSCOHADA-ML - Plan comptable Ouest-Africain - (ML)</option>
                                <option>SYSCOHADA-NE - Plan comptable Ouest-Africain - (NE)</option>
                                <option>SYSCOHADA-SN - Plan comptable Ouest-Africain - (SN)</option>
                                <option>SYSCOHADA-TD - Plan comptable Ouest-Africain - (TD)</option>
                                <option>SYSCOHADA-TG - Plan comptable Ouest-Africain - (TG)</option>
                                <option>US-BASE - USA basic chart of accounts - (US)</option>
                                <option>CA-ENG-BASE - Canadian basic chart of accounts - English - (CA)</option>
                                <option>SAT/24-2019 - Catalogo y codigo agrupador fiscal del 2019 - (MX)</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-danger">Change and Load</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary table-design not-fixed">
                <div class="box-body">
                    <table class="inventory-table table-blue table check-table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th><input type="text" class="form-control" /></th>
                                <th><input type="text" class="form-control" /></th>
                                <th><input type="text" class="form-control" /></th>
                                <th>
                                    <select class="form-control">
                                        <option>--- None ---</option>
                                        <option>1 - Assets</option>
                                        <option>1010 - Cash on Hand</option>
                                        <option>1020 - Checking Account</option>
                                        <option>1030 - Savings Account</option>
                                        <option>1040 - Investments and Securities</option>
                                    </select>
                                </th>
                                <th><input type="text" class="form-control" /></th>
                                <th>&nbsp;</th>
                                <th>
                                    <div class="ws_nowrap">
                                        <a href="#">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class="text-left">Account number</th>
                                <th class="text-left">Label</th>
                                <th class="text-left">Short label</th>
                                <th class="text-left">Parent account</th>
                                <th>Group of account</th>
                                <th>Activated</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row_on">
                                <td class="text-left">1</td>
                                <td class="text-left">Assets</td>
                                <td class="text-left">&nbsp;</td>
                                <td class="text-left">1</td>
                                <td class="text-left">Assets</td>
                                <td class="ws_nowrap text-center">
                                    <a href="#"><i class="fas fa-toggle-on"></i></a>
                                </td>
                                <td>
                                    <div class="ws_nowrap">
                                        <a href="#"><i class="fas fa-pencil-alt"></i></a>
                                        <a href="#"><i class="fas fa-trash pictodelete"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">1</td>
                                <td class="text-left">Assets</td>
                                <td class="text-left">&nbsp;</td>
                                <td class="text-left">1</td>
                                <td class="text-left">Assets</td>
                                <td class="ws_nowrap text-center">
                                    <a href="#"><i class="fas fa-toggle-off"></i></a>
                                </td>
                                <td>
                                    <div class="ws_nowrap">
                                        <a href="#"><i class="fas fa-pencil-alt"></i></a>
                                        <a href="#"><i class="fas fa-trash pictodelete"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">1</td>
                                <td class="text-left">Assets</td>
                                <td class="text-left">&nbsp;</td>
                                <td class="text-left">1</td>
                                <td class="text-left">Assets</td>
                                <td class="ws_nowrap text-center">
                                    <a href="#"><i class="fas fa-toggle-off"></i></a>
                                </td>
                                <td>
                                    <div class="ws_nowrap">
                                        <a href="#"><i class="fas fa-pencil-alt"></i></a>
                                        <a href="#"><i class="fas fa-trash pictodelete"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

