@{
    ViewBag.Title = "Products accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
@*datatables js*@
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<div class="page-title">
    <h2>Products accounts</h2>
</div>
<section class="content section-content product-acctount-section table-design">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <label class="control-label">This page can be used to initialize an accounting account on products and services that does not have accounting account defined for sales and purchases.</label>
                </div>
                <div class="box-body">
                    <table class="inventory-table table-blue table check-table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th class="text-left">Options</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left"><input type="radio" name="accounting_product_mode" value="ACCOUNTANCY_SELL" checked /> Mode sales</td>
                                <td>Show all products with accounting account for sales.</td>
                            </tr>
                            <tr>
                                <td class="text-left"><input type="radio" name="accounting_product_mode" value="ACCOUNTANCY_SELL_EXPORT" /> Mode sales exported in other countries</td>
                                <td>Show all products with accounting account for other foreign sales.</td>
                            </tr>
                            <tr>
                                <td class="text-left"><input type="radio" name="accounting_product_mode" value="ACCOUNTANCY_BUY" /> Mode purchases</td>
                                <td>Show all products with accounting account for purchases.</td>
                            </tr>
                            <tr>
                                <td class="text-left"><input type="radio" name="accounting_product_mode" value="ACCOUNTANCY_BUY_EXPORT" /> Mode purchased imported from other countries</td>
                                <td>Show all products with accounting account for purchases.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer text-right">
                    <button class="btn btn-danger">Refresh</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @*<div class="tablenav top tablenav-top2">
                <div class="alignleft actions bulkactions">
                    <select class="form-control" id="ddlNewAccounttoAssign"></select>
                    <button type="button" id="btnSearch" class="btn btn-primary btn-flat button">Search</button>
                </div>
            </div>*@
            <div class="page-title">
                <h2>List of products/services<span class="text-gray" id="lblTotalProducts">(57)</span></h2>
                <div class="ml-auto">
                    <button class="btn btn-danger" id="btnSaveProductAccount" disabled>Save</button>
                </div>
            </div>
            <div class="box box-primary table-design not-fixed">
                <div class="box-body">
                    <table id="dtProductsAccount" class="inventory-table table-blue table check-table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th class="text-left">Parent</th>
                                <th class="text-left">Ref</th>
                                <th>New account to assign</th>
                                <th><div class="a-relative"><input type="checkbox" id="checkAll"><label></label></div></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="@Url.Content("~/js/Accounting/ProductAccounts.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>

