
@{
    ViewBag.Title = "Podium order settlement";
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Podium order settlement</title>
</head>
<body>
    <div>
    </div>
</body>
</html>

