@{
    ViewBag.Title = "order authorize .net payment settlement";
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>order authorize .net payment settlement</title>
</head>
<body>
    <div>
    </div>
</body>
</html>

