
@{
    ViewBag.Title = "Mines of Moria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<script src="~/Scripts/wow.js"></script>
<div class="page-title">
    <h2>Layla Shop</h2>
</div>

<section class="content section-content quickorder-section">
    <div class="box box-primary">
        <div class="box-body">
            <div class="product-hub">
                <div class="hub-pro-container">
                    <div class="row">
                        <div class="hub-accord col-sm-12 wow animate__slideInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                            <h5>
                                <span>Mattresses</span>
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </h5>
                            <div class="hub-box-open">
                                <div class="hub-pro-box">
                                    <h2>Essential Mattress</h2>
                                    <div data-proid="813990" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Full">Full</option>
                                            <option value="King">King</option>
                                            <option value="Cal King">Cal King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price"><span>$699.00</span></div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Memory Foam Mattress</h2>
                                    <div data-proid="118" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Full">Full</option>
                                            <option value="Cal King">Cal King</option>
                                            <option value="King">King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$949.00 <span>$1,099.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Hybrid Mattress</h2>
                                    <div data-proid="611172" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Full">Full</option>
                                            <option value="King">King</option>
                                            <option value="Cal King">Cal King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$1,499.00 <span>$1,699.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hub-accord col-sm-12 wow animate__slideInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                            <h5>
                                <span>Pillows</span>
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </h5>
                            <div class="hub-box-open">
                                <div class="hub-pro-box">
                                    <h2>Kapok Pillow</h2>
                                    <div data-proid="14023" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="King">King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price"><span>$109.00</span></div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Shredded Memory Foam Pillow</h2>
                                    <div data-proid="611238" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="King">King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$69.00 <span>$89.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hub-accord col-sm-12 wow animate__slideInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                            <h5>
                                <span>Bases</span>
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </h5>
                            <div class="hub-box-open">
                                <div class="hub-pro-box">
                                    <h2>Layla Mattress Foundation</h2>
                                    <div data-proid="20861" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Full">Full</option>
                                            <option value="Cal King">Cal King</option>
                                            <option value="King">King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$299.00 <span>$324.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Layla Bed Frame</h2>
                                    <div data-proid="31729" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Full">Full</option>
                                            <option value="Cal King">Cal King</option>
                                            <option value="King">King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price"><span>$199.00</span></div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Layla Adjustable Base</h2>
                                    <div data-proid="611286" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Split King">Split King</option>
                                            <option value="King">King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$799.00 <span>$999.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Layla Adjustable Base Plus</h2>
                                    <div data-proid="612995" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Split King">Split King</option>
                                            <option value="King">King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$1,199.00 <span>$1,499.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Layla Platform Bed</h2>
                                    <div data-proid="611252" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Full">Full</option>
                                            <option value="King">King</option>
                                            <option value="Cal King">Cal King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$399.00 <span>$424.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Layla Metal Platform Base</h2>
                                    <div data-proid="733500" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Full">Full</option>
                                            <option value="King">King</option>
                                            <option value="Cal King">Cal King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$129.00 <span>$224.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hub-accord col-sm-12 wow animate__slideInRight" data-wow-duration="1s" data-wow-delay=".5s">
                            <h5>
                                <span>Bedding</span>
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </h5>
                            <div class="hub-box-open">
                                <div class="hub-pro-box">
                                    <h2>Layla Comforter</h2>
                                    <div data-proid="823358" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Full/Queen">Full/Queen</option>
                                            <option value="King/Cal King">King/Cal King</option>
                                            <option value="Twin/Twin XL">Twin/Twin XL</option>
                                            <!---->
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="White">White</option>
                                            <option value="Gray">Gray</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>
                                                $229.00
                                                <!---->
                                            </span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Layla Bamboo Sheets</h2>
                                    <div data-proid="124524" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Full">Full</option>
                                            <option value="King">King</option>
                                            <option value="Split King">Split King</option>
                                            <option value="Cal King">Cal King</option>
                                            <!---->
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="White">White</option>
                                            <option value="Gray">Gray</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$155.00 <span>$205.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hub-accord col-sm-12 wow animate__slideInRight" data-wow-duration="1s" data-wow-delay=".5s">
                            <h5>
                                <span>Blankets</span>
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </h5>
                            <div class="hub-box-open">
                                <div class="hub-pro-box">
                                    <h2>Layla Weighted Blanket</h2>
                                    <div data-proid="128244" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value='20 lbs (60" x 80")'>20 lbs (60" x 80")</option>
                                            <option value='25 lbs (80" x 87")'>25 lbs (80" x 87")</option>
                                            <option value='15 lbs (48" x 72")'>15 lbs (48" x 72")</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$129.00 <span>$189.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hub-accord col-sm-12 wow animate__slideInRight" data-wow-duration="1s" data-wow-delay=".5s">
                            <h5>
                                <span>Accessories</span>
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </h5>
                            <div class="hub-box-open">
                                <div class="hub-pro-box">
                                    <div><h2 class="toppertitle">Layla Memory Foam Topper</h2></div>
                                    <div data-proid="56774" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Cal King">Cal King</option>
                                            <option value="Full">Full</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Twin">Twin</option>
                                            <option value="King">King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$299.00 <span>$349.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Layla Essential Mattress Protector</h2>
                                    <div data-proid="611268" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Full">Full</option>
                                            <option value="King">King</option>
                                            <option value="Cal King">Cal King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$79.00 <span>$104.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Layla Cooling Mattress Protector</h2>
                                    <div data-proid="612947" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Full">Full</option>
                                            <option value="King">King</option>
                                            <option value="Cal King">Cal King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$149.00 <span>$174.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Layla Full Encasement Protector</h2>
                                    <div data-proid="612955" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Full">Full</option>
                                            <option value="King">King</option>
                                            <option value="Cal King">Cal King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$109.00 <span>$134.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <div>
                                        <h2>Layla Pet Bed</h2>
                                        <span style="color: #ff4100; font-size: 13px; font-weight: 600;">Out of Stock</span>
                                    </div>
                                    <div data-proid="611220" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Small">Small</option>
                                            <option value="Medium">Medium</option>
                                            <option value="Large">Large</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price">
                                            <span>$149.00 <span>$174.00</span></span>
                                        </div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hub-accord col-sm-12 wow animate__slideInRight" data-wow-duration="1s" data-wow-delay=".5s">
                            <h5>
                                <span>Promotional Items</span>
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </h5>
                            <div class="hub-box-open">
                                <div class="hub-pro-box">
                                    <h2>Microfiber Sheet Set - Free</h2>
                                    <div data-proid="727126" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Full">Full</option>
                                            <option value="King">King</option>
                                            <option value="Cal King">Cal King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price"><span>$0.00</span></div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Layla Essential Mattress Protector - Free</h2>
                                    <div data-proid="612940" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="Full">Full</option>
                                            <option value="King">King</option>
                                            <option value="Cal King">Cal King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price"><span>$0.00</span></div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="hub-pro-box">
                                    <h2>Protector &amp; Sheet Set Bundle - Free</h2>
                                    <div data-proid="727138" class="hub-pro-shop">
                                        <select class="form-control addnvar-qty">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <select class="form-control addnvar">
                                            <option value="Queen">Queen</option>
                                            <option value="Twin">Twin</option>
                                            <option value="Twin XL">Twin XL</option>
                                            <option value="King">King</option>
                                            <option value="Cal King">Cal King</option>
                                            <!---->
                                        </select>
                                        <div class="hub-pro-price"><span>$0.00</span></div>
                                        <a href="javascript://" class="agentaddtocart btn btn-danger">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    jQuery(function ($) {

        wow = new WOW(
            {
                boxClass: 'wow',
                animateClass: 'animate__animated', // default
                offset: 0,          // default
                mobile: true,       // default
                live: true        // default
            }
        )
        wow.init();

        $('.hub-accord h5').click(function () {
            $(this).find('i').toggleClass('fa-plus fa-minus').parent().next('.hub-box-open').slideToggle(500).parent('.hub-accord').siblings().find('.fa').removeClass('fa-minus').addClass('fa-plus').parent().next('.hub-box-open').slideUp(500);
        });
    });
    jQuery(document).on('load', function () {
        
    });
</script>
