
@{
    ViewBag.Title = "OrdersHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrdersHistory</h2>

<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Listing')">Orders Listing</button>
    <button class="tablinks" onclick="openCity(event, 'Details')">Order Details</button>
    <button class="tablinks" onclick="openCity(event, 'Address')">Order Address</button>
</div>