
@{
    ViewBag.Title = "AutoGenerate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
<!-- datatables js -->
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<div class="page-title">
    <h2>Assign coupons</h2><a class="btn btn-danger" id="btnAdd" href="NewAutoGenerate">Add New</a>
</div>
<section class="content section-content neworder-section table-design">
    <div class="row">
        <div class="col-md-12">
            <div class="user_subCrumbs">
                <input type="hidden" id="hfType" value="" />
                @*<input type="hidden" id="hfuserType" value="@ViewBag.user_role" />*@
                @*<ul id="allul" class="subsubsub">
                    <li class="all"><a id="all" href="javascript:void(0);" class="current">All (<span class="count">0</span></a>) |</li>
                    <li class="mine"><a href="javascript:void(0);" id="mine">Mine (<span class="count">0</span>)</a> |</li>
                    <li class="published"><a href="javascript:void(0);" id="published">Published (<span class="count">0</span>)</a> |</li>
                    <li class="draft"><a href="javascript:void(0);" id="draft">Draft (<span class="count">0</span>)</a> |</li>
                    <li class="pending"><a href="javascript:void(0);" id="pending">Pending(<span class="count">0</span>)</a> |</li>
                    <li class="private"><a href="javascript:void(0);" id="private">Private (<span class="count">0</span>)</a> </li>
                    <li class="trash"><a href="javascript:void(0);" id="trash">Trash (<span class="count">0</span>)</a> </li>
                </ul>*@
            </div>
        </div>
    </div>
    <div class="row">
        @*<div id="divbulkaction" class="col-md-12">
            <div class="user-top-section">
                <div class="tablenav top tablenav-top2">
                    <div class="alignleft actions bulkactions">
                        <select class="form-control" id="ddlbulkaction">
                            <option value="0" selected="selected">Bulk actions</option>
                            <option value="publish">Published</option>
                            <option value="draft">Draft</option>
                            <option value="pending">Pending</option>
                            <option value="private">Private</option>
                            <option value="trash">Move to Trash</option>
                        </select>
                        <button type="button" id="btnChange" onclick="Status();" class="btn btn-primary btn-flat button">Apply</button>
                    </div>

                    <div class="alignleft actions">
                        <select class="form-control" id="ddltype">
                            <option value="0">Show all types</option>
                            <option value="percent">Percentage discount</option>
                            <option value="fixed_cart">Fixed cart discount</option>
                            <option value="fixed_product">Fixed product discount</option>
                        </select>
                        <input type="submit" name="filter_action" id="btnOtherFilter" class="button" value="Filter">
                    </div>

                    <div>
                        <button type="button" id="btnautogenerate" class="btn btn-danger" style="float:right;" data-toggle="modal" data-target="#roleModal">
                            <i class="fa fa-plus"></i> Auto Generate Coupon
                        </button>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary table-design not-fixed">
                <div class="box-header">
                    @*<div class="table-responsive">  *@
                    <table id="dtdata" class="table-blue table check-table table-bordered table-striped dataTable" width="100%">
                        <thead>
                            <tr>
                                @*<th><input type="checkbox" name="checkall" id="checkall" onClick="CheckAll();"><label></label></th>*@
                                <th>Code</th>
                                <th>Coupon type</th>
                                <th>Coupon amount</th>
                                <th>Description</th>
                                <th>Product IDs</th>
                                <th>Usage / Limit</th>
                                <th>Expiry date</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
</section>
 
<script src="~/js/common.js"></script>
<script src="@Url.Content("~/js/Marketing/AutoGenerateCoupons.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
    });
</script>

