
@{
    ViewBag.Title = "Warehouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*datatables CSS*@
<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
@*datatables js*@
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap.min.js" type="text/javascript"></script>

<div class="page-title">
    <h2 class="page-heading">Warehouse</h2><a class="btn btn-danger" href="AddNewWarehouse">Add Warehouse</a>
</div>
<section class="content section-content table-design customer-section">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" id="mytabs" role="tablist">
            <li class="active"><a href="#tab_1" data-toggle="tab">Warehouse</a></li>
            <li><a href="#tab_2" data-toggle="tab">Warehouse List to Vendors</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="user-top-section">
                    <div class="tablenav top tablenav-top2">
                        <div class="alignleft actions bulkactions">
                            <select class="form-control select2" id="ddlSearchStatus" placeholder="Select User">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                            <button type="button" id="btnSearch" class="btn btn-primary btn-flat button">Search</button>
                        </div>
                    </div>
                </div>
                <div class="userrole_section section_wrapper appearance-menu-section">
                    @*<form id="saveForm" name="saveForm" method="post" autocomplete="off">*@
                    <div class="box box-primary">
                        <div class="box-header">
                            <table id="dtdatawarehouse" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Ref</th>
                                        @*<th>Description</th>*@
                                        <th>Short Name Location</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Status</th>
                                        <th>Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    @*</form>*@
                </div>
            </div>
            <!-- Tab warehouse end-->

            <div class="tab-pane" id="tab_2">
               
                    <div class="user-top-section">
                        <div class="tablenav top tablenav-top2">
                            <div class="alignleft actions bulkactions">
                                <select class="form-control" id="ddlWarehouse"></select>
                            </div>
                            <button type="button" id="btnSearchVendor" class="btn btn-primary btn-flat button">Search</button>
                        </div>
                    </div>

                    <div class="userrole_section section_wrapper appearance-menu-section">
                      
                        <div class="box box-primary">
                            <div class="box-header">
                                <table id="vendor" class="inventory-table table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                    <thead>
                                        <tr>
                                            <th style="width:25%">Vendor Name</th>
                                            <th style="width:25%">Warehouse Name</th>
                                            <th style="width:25%">Vendor Address</th>
                                            <th style="width:25%">Vendor Phone</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
               
            </div>
            <!--Tab vendor end here-->
            </div>
        </div>
</section>

        <script src="@Url.Content("~/js/Warehouse/warehouselist.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>

        <script src="@Url.Content("~/js/Warehouse/vendorwarehouselist.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>

