body {
    background-color: #f0f0f0;
    font-size: 13px;
    font-family: 'Open Sans','arial';
    line-height: 23px;
    font-weight: 400;
}

.card {
    word-wrap: break-word;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 18px;
}

.banner_input .inputWrap {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

    .banner_input .inputWrap input, .banner_input .inputWrap label {
        margin: 0px;
    }

    .banner_input .inputWrap label {
        padding-left: 5px;
    }

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.bg_none {
    background: transparent !important;
}

.card:last-child {
    border: 0px !important
}

.border-0 {
    border: 0px !important;
}

.p-2 {
    padding: 0px 6px !important
}

.box-box_primary .mb-1 {
    margin-bottom: 5px !important;
}

.box-box_primary .card:not(:last-child) {
    margin-bottom: 10px;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 8px;
    height: 30px;
}

.keyphrase_box label {
    margin: 0px;
}

.keyphrase_box button.btn_remove:focus {
    outline: 0px !important;
}

.keyphrase_box button.btn_remove {
    color: #585656;
    font-weight: 700;
    font-size: 12px;
}

.keyphrase_box .simple-table td:last-child {
    width: 45px;
    text-align: right;
}

#show_picture[src=""], [src=""].featured_side_image {
    display: none;
}

.banner_sidebar #show_picture {
    max-width: 120px;
}

.flex_compBox {
    display: flex;
    justify-content: flex-end;
}

    .flex_compBox #btnSave {
        margin-left: 3px;
    }

.width_100 {
    width: 100% !important;
}

.featured_side_image {
    max-width: 120px;
    height: auto;
}

#show_picture {
    max-width: 290px;
    height: auto;
}

.box-primary.mb-20 {
    margin-bottom: 20px !important
}

.box-sidebar_box {
    padding-top: 0px !important;
}

.input-group-addon {
    padding: 6px 8px !important;
}

.keyphrase_box button {
    align-self: flex-start;
}

.form-group {
    margin-bottom: 5px !important;
}

fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding-left: 10px !important;
}

legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    width: 35%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
}

.tablelist_wrapper {
    padding: 0px;
}

.tablelist {
    background: #fff;
    table-layout: fixed;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    border-spacing: 0;
    width: 100%;
    clear: both;
    margin: 0;
}

    .tablelist thead tr th {
        border-bottom: 1px solid #ccd0d4 !important;
    }

table.dataTable tbody td.select-checkbox:before, table.dataTable tbody td.select-checkbox:after, table.dataTable tbody th.select-checkbox:before, table.dataTable tbody th.select-checkbox:after {
    width: 16px !important;
    height: 16px !important;
    border: 1px solid #7e8993 !important;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 0px;
}

.tablelist tbody .odd {
    background-color: #f9f9f9;
}

.tablelist tbody .even {
    background-color: #fff;
}

.tablelist th, .tablelist td {
    padding: 12px 10px;
    color: #555;
}
