
@{
    ViewBag.Title = "ProductInventoryReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
@*datatables js*@
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap.min.js" type="text/javascript"></script>

<section class="content section-content neworder-section">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">
                <h2 class="page-heading">
                    Physical Inventory Sheet
                </h2>
            </div>
        </div>
    </div>    
    <!-- end top-->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header" id="on-hand-inventory">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="dtdata" class="inventory-table table-blue table check-table table-bordered table-striped dataTable" width="100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Product</th>
                                        <th>SKU</th>
                                        <th>Qty On Hand</th>
                                        <th>Qty PO</th>
                                        <th>QTY Damage</th>
                                        <th>Physical count</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>
<script src="@Url.Content("~/js/Inventory/ProductInventoryReport.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
