@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ProSource Diesel<br />
    495 Edison Ct STE C, Fairfield, CA 94534, United States<br />
    <abbr title="Phone">P:</abbr>
    1-800-489-6820
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>