 
@*@using LaylaERP.recaptcha*@
@model dynamic
@{
    ViewBag.Title = "Login";
    Layout = null;
}
 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ERP | Log in</title>
    <link rel="icon" type="image/x-icon" href="~/Images/varient_pic.png ">
    <link href="~/Content/AdminLTE-3.1.0/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- icheck bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/AdminLTE-3.1.0/adminlte.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-3.1.0/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/alert/sweetalert2.min.css" rel="stylesheet" />
    @*<link href="~/Content/dx/dx.light.css" rel="stylesheet" />*@
    <!-- jQuery -->
    @*<script src="~/Content/AdminLTE-3.1.0/jquery/jquery.min.js"></script>*@
    <script src="~/Content/alert/sweetalert2.all.min.js"></script>
    <link href="~/Content/Style11.css" rel="stylesheet" />
    <link href="~/Content/Style12.css" rel="stylesheet" />
    <link href="~/css/login_style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="~/Content/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Content/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Style the buttons that are used to open and close the accordion panel */
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;
        }

            /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
            .active, .accordion:hover {
                background-color: #ccc;
            }

        /* Style the accordion panel. Note: hidden by default */
        .panel {
            padding: 0 18px;
            background-color: white;
            display: none;
            overflow: hidden;
        }
    </style>

</head>
<body class="hold-transition login-page">
    <div id="a-page" class="login_box-section">
        <div class="a-section a-padding-medium auth-workflow main-login-box">
            <div class="login-inner-box">
                <div class="a-section a-spacing-none auth-navbar">

                    <div class="a-section a-spacing-medium a-text-center">

                        <a class="a-link-nav-icon" tabindex="-1" href="">
                            @*<img src="~/Images/layla1-logo.png" />*@

                            @if (Model.User_Image.Length > 0 && Model.User_Image != null)
                            {
                                <img runat="server" id="show_picture"  src="data:image;base64,@System.Convert.ToBase64String(Model.User_Image)" alt="User profile picture">
                            }
                            else
                            {
                                <img runat="server" id="show_picture"  src="~/Images/userprofile2.png" alt="User profile picture">
                            }
                            
                        </a>
                    </div>
                </div>
                <div id="authportal-center-section" class="a-section">
                    <div id="authportal-main-section" class="a-section">
                        <div class="a-section auth-pagelet-container">
                            <form name="signIn" method="post" novalidate="" action="" class="auth-validate-form auth-real-time-validation a-spacing-none" data-fwcim-id="yvbVq8CQ">
                                <div class="a-box-inner a-padding-extra-large">
                                    <h1 class="a-spacing-small login-h1">
                                        User Login
                                    </h1>
                                    <!-- optional subheading element -->
                                    <div class="a-row a-spacing-base">
                                        <label for="ap_email" class="a-form-label" id="lblEmail">
                                            Enter User Email
                                            <input type="email" maxlength="128" id="txtUserId" name="Email" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field" value="">
                                        </label>
                                        <label for="ap_email" id="lblPasswod" class="a-form-label">
                                            Enter User Password
                                            <input type="password" maxlength="128" id="txturPassword" name="Pass" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field" value="">
                                        </label>
                                    </div>
                                    <input type="hidden" name="create" value="0">
                                    <div class="login-btn-group">
                                        @*<span class="btn btn-block login-continue">
                                                <span class="login-inner">
                                                    <input id="btnLogin" tabindex="5" class="a-button-input" type="button" aria-labelledby="continue-announce">
                                                    <span id="btnLogin" class="a-button-text" aria-hidden="true">
                                                        Login
                                                    </span>
                                                </span>
                                            </span>*@
                                        <span class="a-button a-spacing-medium a-button-span12 a-button-primary otp-varification-btn" id="a-autoid-0">
                                            <span class="a-button-inner">
                                                <input id="btnLogin" tabindex="5" class="a-button-input" type="button" aria-labelledby="a-autoid-0-announce">
                                                <span class="a-button-text" aria-hidden="true" id="a-autoid-0-announce">
                                                    Login
                                                </span>
                                            </span>
                                        </span>

                                        <div class="forgot-section">
                                            <div aria-live="polite" class="a-row a-expander-container a-expander-inline-container">
                                                <div aria-expanded="false" class="a-expander-content a-expander-inline-content">
                                                    <a id="" class="a-link-normal" href="/Home/ForgotPassword">
                                                        Forgot Password
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input name="metadata1" type="hidden" value="">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="a-section a-spacing-top-extra-large auth-footer main-login-footer">
                @*<div class="a-divider a-divider-section"><div class="a-divider-inner"></div></div>*@
                <div class="footer-menu-login">
                    <span class="auth-footer-seperator"></span>
                    <a class="a-link-normal" data-toggle="modal" data-target="#privacypolicy">
                        Privacy & Policy
                    </a>

                    <span class="auth-footer-seperator"></span>


                    <a class="a-link-normal" data-toggle="modal" data-target="#termcondition">
                        Terms & Conditions
                    </a>
                    <span class="auth-footer-seperator"></span>
                    <a class="a-link-normal" data-toggle="modal" data-target="#myModal">
                        FAQ
                    </a>
                    <span class="auth-footer-seperator"></span>

                    <a class="a-link-normal" data-toggle="modal" data-target="#contact">
                        Contact
                    </a>
                    <span class="auth-footer-seperator"></span>

                </div>
                <div class="a-section a-spacing-none a-text-center">
                    <span class="a-size-mini a-color-secondary">
                        © @DateTime.Now.Year.ToString(), ProSource Diesel, Inc. or its affiliates
                    </span>
                </div>
            </div>
        </div>

        <div id="right-2">


        </div>


    </div>
    <div id="auth-external-javascript" class="auth-external-javascript" data-external-javascripts="">
    </div>



    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog container-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title">Others Have Asked:</h4>
                </div>
                <div class="modal-body">
                    <div _ngcontent-serverapp-c35="" class="container faq-row row">
                        <div class="fl-post-content clearfix" itemprop="text">
                            <section class="wpb-content-wrapper">
                                <div class="vc_row wpb_row vc_row-fluid privacy-content vc_custom_1564240925305">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <p>
                                                            Orders Are Generally Shipped In 1 Day After Your Order Is Processed And They Normally Take An Additional 1 – 5 Business Days To Arrive Based On Shipping Service Selected At Checkout.<br>
                                                            Orders Are Processed Mon-Fri During Normal Business Hours.<br>
                                                            You May Return Damaged Or Defective Merchandise Within 10 Days Of The Original Purchase Date For Replacement Or A Full Refund Minus Shipping Charges.
                                                        </p>
                                                        <h6>Satisfaction Guarantee</h6>
                                                        <p>ProSource Diesel Would Like You To Shop With Confidence. Your Complete Satisfaction Is Our Number One Goal. If, For Any Reason, You Are Not Satisfied With Your Purchase, Just Return The Item Within 30 Days From The Date It Was Received For An Exchange, Store Credit, Or Credit Depending On The Products Condition. Shipping And Handling Charges Are Not Refundable. See Complete Return Policy Below.</p>
                                                        <h6>Shipping Policy</h6>
                                                        <p>ProSource Diesel Exclusively Ships Via FedEx Or UPS On All Orders Considered Non-Truck Freight. ProSource Diesel Will Only Ship To The Fifty U.S States And Canada Which Excludes All Other International Destinations. In The Event That You, The Customer, Places An Order To An International Address Not Listed Above, Direct Diesel Inc. Reserves The Right To Cancel Your Order And Issue A Full Refund.</p>
                                                        <h6>When Will My Product Be Shipped Out?</h6>
                                                        <p>Products Marked “In-Stock” Ordered After The Cut-Off Time Will Leave Our Warehouse By The Next Business Day. Products Without This Message May Be Out-Of-Stock. If You Need Immediate Availability Please Use Our “Live Help” Feature Or Contact Customer Service.</p>
                                                        <h6>How Long Will It Takes To Receive My Product?</h6>
                                                        <p>If The Product Is In-Stock Most Orders Are Received Within 1-6 Business Days From The Shipment Date Depending On Your Location And Shipping Service. Non-Stock, Special Order, And Out Of Stock Items May Take 1-6 Weeks To Be Received. If You Would Like To Check Inventory Or Estimated Ship Date Please Contact Us.</p>
                                                        <h6>Free Shipping</h6>
                                                        <p>ProSource Diesel’s Free Economy Ground Shipping Is Available On Online Purchases. This Free Shipping Offer Is Good Only To U.S Addresses Within The 48 Contiguous States, Which Excludes Hawaii, Alaska, Puerto Rico, And The U.S. Virgin Islands. Free Shipping Is Ground. This Offer Does Not Apply To Truck Freight Items. DDI Reserves The Right To Select The Carrier Of Our Choice For This Free Shipping Promotion.</p>
                                                        <h6>Canadian Duties &amp; Taxes</h6>
                                                        <p>The Recipient Of An International Canadian Shipment May Be Subject To Import Taxes, Customs Duties And Fees; Which Are Levied Once A Shipment Reaches The Recipient’s Country. Additional Charges For Customs Clearance Must Be Paid By You The Recipient; DDI Has No Control Over These Charges And Can’t Predict What They May Be. Customs Policies Vary Widely From City And Province; You Should Contact Your Local Customs Office For More Information. When Customs Clearance Procedures Are Required, It Can Cause Delays Beyond Our Original Delivery Estimates</p>
                                                        <h6>Tax</h6>
                                                        <p>
                                                            Items Sold By ProSource Diesel And Shipped To Destinations In The State Of California Are Subject To Tax.<br>
                                                            ProSource Diesel. Reserves The Right To Change This Offer At Any Time.
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div id="privacypolicy" class="modal fade" role="dialog">
        <div class="modal-dialog container-dialog terms-privacy-dial">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title">Privacy Policy</h4>
                </div>
                <div class="modal-body">
                    <div _ngcontent-serverapp-c35="" class="x-text">

                        <div class="fl-post-content clearfix" itemprop="text">
                            <section class="wpb-content-wrapper">
                                <div class="vc_row wpb_row vc_row-fluid privacy-content vc_custom_1560602039609">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <h6>What information does PROSOURCE DIESEL need from me?</h6>
                                                        <p>When placing an order certain information is needed including the name and billing address associated with the credit card you are using, all credit card information, e-mail address and shipping address.</p>
                                                        <h6>Why do you need more than one address from me?</h6>
                                                        <p>If your product is shipping to the same location as the billing address, PROSOURCE DIESEL only needs one address. However, in order to eliminate credit card fraud, your billing information must match the credit card you provide. PROSOURCE DIESEL will ship to any location within the continental U.S. Your shipping information does not need to match the billing information.</p>
                                                        <h6>What happens to my information when I send it?</h6>
                                                        <p>The information you provided us will only to be used to complete your order. When your credit card is processed, the billing address you provided is then matched to protect against fraud. Only your shipping address and product information goes to our shipping department, all billing and credit card information is kept secure.</p>
                                                        <h6>Will my e-mail address be given out?</h6>
                                                        <p>PROSOURCE DIESEL does not sell or give out any personal information including your e-mail address to any third-parties. The information you provide to us, stays with us. PROSOURCE DIESEL will send out newsletters and we will use your e-mail address to keep you informed on new products and specials. You can unsubscribe from these emails at any time.</p>
                                                        <h6>Is my credit card information safe?</h6>
                                                        <p>Yes. PROSOURCE DIESEL uses SSL (Secure Socket Layer) technology to encrypt your information. When you click on the Check Out button you will notice the browser change from http:// to https://. Depending on your browser you may also have a box appear stating you are about to view information over a secure connection. SecurityMetrics has determined that PROSOURCE DIESEL. is COMPLIANT with the PCI scan validation requirements. SecurityMetrics for PCI Compliance, QSA, IDS, Penetration Testing, Forensics, and Vulnerability Assessment</p>
                                                        <h6>When is my credit card charged?</h6>
                                                        <p>PROSOURCE DIESEL charges your credit card at the time your product is ready to ship. The exception to this is Google Checkout and PayPal orders placed online, they will be charged when you place your order. When using this website, you are subject to the terms in this privacy policy.</p>
                                                        <p>We will keep your information confidential and secure. Please e-mail us with any questions or comments about this policy. You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:</p>
                                                        <ul>
                                                            <li>See what data we have about you, if any.</li>
                                                            <li>Change/correct any data we have about you.</li>
                                                            <li>Have us delete any data we have about you.</li>
                                                            <li>Express any concern you have about our use of your data.</li>
                                                        </ul>
                                                        <p>If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at 1-800-489-6820 or via email at info@ProSourceDiesel.com</p>
                                                        <h6>Customer Submitted Media</h6>
                                                        <p>By submitting user media to PROSOURCE DIESEL, the submitter hereby agrees to grant the authorization and permission of PROSOURCE DIESEL along with its parent company DIRECT DIESEL, and all its subsidiaries, divisions, and other interests to use submitted media and content for the purpose of publication, promotion, illustration, advertising, websites or in any manner or in any medium without the need of attribution to the user or compensation of any kind. User submitted media includes but is not limited to photographs, images, video, illustrations, diagrams and audio. By submitting, the user understands and agrees to waive his/her right to any compensation for any submitted media and waives his/her right to approve the final use of submitted media. The submitter hereby releases PROSOURCE DIESEL and its legal representatives from all claims, liability and damages relating to user submitted media. By submitting user media, the user warrants and agrees that the user is eighteen (18) years old or more and has the right to submit such media.</p>
                                                        <h6>Privacy Questions</h6>
                                                        <p>If you have any questions or concerns about the PROSOURCE DIESEL Privacy Policy or data processing, please contact us. PROSOURCE DIESEL may update its Privacy Policy without notice.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div id="contact" class="modal fade" role="dialog">
        <div class="modal-dialog container-dialog contact-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title">Contact Us</h4>
                </div>
                <div class="modal-body">

                    <div class="contact-links-box">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="contact-footer box box-danger">
                                    <i aria-hidden="true" class="fa fa-map-marker"></i>
                                    <div class="cnt-text-box"><address>495 Edison Ct STE C, Fairfield, CA 94534, United States</address></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="contact-footer box box-danger">
                                    <i aria-hidden="true" class="fa fa-phone"></i>
                                    <div class="cnt-text-box">
                                        <a href="tel:1-800-489-6820">1-800-489-6820</a>
                                        <br /><span>MON-FRI 6AM - 6PM PST</span><br /><span>SAT-SUN 8AM - 5PM PST</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="contact-footer box box-danger">
                                    <i aria-hidden="true" class="fa fa-envelope"></i>
                                    <div class="cnt-text-box">
                                        <a href="mailto:info@prosourcediesel.com">info@prosourcediesel.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-box box box-danger">
                        <div class="wpb_wrapper">
                            <h2>
                                <span style="font-size:28px;font-weight:700;">CONTACT US TODAY</span>
                                <br _ngcontent-serverapp-c35="" />
                                <span style="color:orangered">WE WILL RESPOND WITHIN 24 HOURS!</span>
                            </h2>
                            <div class="form-contact">
                                <div role="form" id="wpcf7-f106-p612135-o1" lang="en-US" dir="ltr" class="wpcf7">
                                    <div class="screen-reader-response"></div>
                                    <form novalidate="novalidate" id="contact-form" class="wpcf7-form ng-untouched ng-pristine ng-invalid">
                                        <div class="row contact-row-form">
                                            <div class="col-md-6">
                                                <label> Your Name*</label><br />
                                                <span class="wpcf7-form-control-wrap your-name">
                                                    <input type="text"
                                                           formcontrolname="yourName"
                                                           required=""
                                                           size="40"
                                                           aria-required="true"
                                                           aria-invalid="false"
                                                           class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" id="name" name="name" />
                                                </span>
                                                <!---->
                                            </div>
                                            <div class="col-md-6">
                                                <label> Your Email*</label><br />
                                                <span class="wpcf7-form-control-wrap your-email">
                                                    <input type="email"
                                                           formcontrolname="yourEmail"
                                                           required=""
                                                           size="40"
                                                           aria-required="true"
                                                           aria-invalid="false"
                                                           class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" id="email" name="email" />
                                                </span>
                                                <!----><!---->
                                            </div>
                                            <div class="col-md-12">
                                                <label> Subject*</label><br />
                                                <span class="wpcf7-form-control-wrap your-subject">
                                                    <input type="text"
                                                           formcontrolname="yourSubject"
                                                           required=""
                                                           size="40"
                                                           aria-required="true"
                                                           aria-invalid="false"
                                                           class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" id="subject" name="subject" />
                                                </span>
                                                <!---->
                                            </div>
                                            <div class="col-md-12">
                                                <label> Your Question/Message</label><br />
                                                <span class="wpcf7-form-control-wrap your-message">
                                                    <textarea formcontrolname="yourMessage" ngmodel="" cols="10"
                                                              rows="5" aria-invalid="false" class="wpcf7-form-control wpcf7-textarea" id="content" name="content"></textarea>
                                                </span>
                                            </div>
                                            @*@Html.GoogleCaptcha()*@
                                            @*<div class="col-md-12">
                                                                <span class="wpcf7-form-control-wrap your-recaptcha g-recaptcha">
                                                                    <re-captcha formcontrolname="recaptchaReactive"
                                                                                sitekey="6Le-yIYUAAAAALHEdxqPayGJNNeWtTCESVJdnW_I" id="ngrecaptcha-0" class="">
                                                                        <div style="width: 304px; height: 78px;">
                                                                            <div>
                                                                                <iframe title="reCAPTCHA"
                                                                                        src="https://www.google.com/recaptcha/api2/anchor?ar=2&amp;k=6Le-yIYUAAAAALHEdxqPayGJNNeWtTCESVJdnW_I&amp;co=aHR0cHM6Ly9sYXlsYXNsZWVwLmNvbTo0NDM.&amp;hl=en&amp;v=6OAif-f8nYV0qSFmq-D6Qssr&amp;size=normal&amp;cb=jbvw3iet554w"
                                                                                        width="304"
                                                                                        height="78"
                                                                                        role="presentation"
                                                                                        name="a-de5hatlpfu1p"
                                                                                        frameborder="0"
                                                                                        scrolling="no"
                                                                                        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                                                            </div>
                                                                            <textarea id="g-recaptcha-response"
                                                                                      name="g-recaptcha-response"
                                                                                      class="g-recaptcha-response"
                                                                                      style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;">
                                </textarea>
                                                                        </div>
                                                                    </re-captcha>
                                                                </span>
                                                            </div>*@
                                            <div class="col-md-12">
                                                <input type="button" value="submit" class="btn btn-danger btn-md wpcf7-form-control wpcf7-submit" id="sendquery" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div id="termcondition" class="modal fade" role="dialog">
        <div class="modal-dialog container-dialog terms-privacy-dial">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title">Terms & Conditions</h4>
                </div>
                <div class="modal-body">
                    <div _ngcontent-serverapp-c35="" class="wpb_wrapper x-text">

                        <div class="fl-post-content clearfix" itemprop="text">
                            <section class="wpb-content-wrapper">
                                <div class="vc_row wpb_row vc_row-fluid privacy-content vc_custom_1560604735749">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <h2>Purchase Terms and Conditions</h2>
                                                        <p class="lead">Terms and Conditions for the Online Sale of Goods and Services</p>
                                                        <p>THIS DOCUMENT CONTAINS VERY IMPORTANT INFORMATION REGARDING YOUR RIGHTS AND OBLIGATIONS, AS WELL AS CONDITIONS, LIMITATIONS, AND EXCLUSIONS THAT MIGHT APPLY TO YOU. PLEASE READ IT CAREFULLY.</p>
                                                        <p>BY PLACING AN ORDER FOR PRODUCTS OR SERVICES FROM THIS WEBSITE, YOU ACCEPT AND ARE BOUND BY THESE TERMS AND CONDITIONS.</p>
                                                        <p>YOU MAY NOT ORDER OR OBTAIN PRODUCTS OR SERVICES FROM THIS WEBSITE IF YOU (A) DO NOT AGREE TO THESE TERMS, (B) ARE NOT THE OLDER OF (I) AT LEAST 18 YEARS OF AGE OR (II) LEGAL AGE TO FORM A BINDING CONTRACT WITH PROSOURCE DIESEL MANUFACTURING, OR (C) ARE PROHIBITED FROM ACCESSING OR USING THIS WEBSITE OR ANY OF THIS WEBSITE’S CONTENTS, GOODS OR SERVICES BY APPLICABLE LAW.</p>
                                                        <p>
                                                            These terms and conditions (these “<strong>Terms</strong>“) apply to the purchase and sale of products and services through prosourcediesel.COM (the “<strong>Site</strong>“). These Terms are subject to change by PROSOURCE DIESEL MANUFACTURING (referred to as “<strong class="text-primary">us</strong>“, “<strong class="text-primary">we</strong>“, or “<strong class="text-primary">our</strong>” as the context may require) without prior written notice at any time, in our sole discretion. The latest version of these Terms will be posted on this Site, and you should review these Terms before purchasing any product or services that are available through this Site. Your continued use of this Site after a posted change in these Terms will constitute your acceptance of and agreement to such changes.<br>
                                                            These Terms are an integral part of the Website Terms of Use that apply generally to the use of our Site. You should also carefully review our Privacy Policy before placing an order for products or services through this Site (see Section 9).
                                                        </p>
                                                        <ol>
                                                            <li>
                                                                <h6>Order Acceptance and Cancellation.</h6>
                                                                <p>You agree that your order is an offer to buy, under these Terms, all products and services listed in your order. All orders must be accepted by us or we will not be obligated to sell the products or services to you. We may choose not to accept any orders in our sole discretion. After having received your order, we will send you a confirmation e-mail with your order number and details of the items you have ordered. Acceptance of your order and the formation of the contract of sale between prosourcediesel MANUFACTURING and you will not take place unless and until you have received your order confirmation e-mail.</p>
                                                            </li>
                                                            <li>
                                                                <h6>Prices and Payment Terms.</h6>
                                                                <ol>
                                                                    <li>All prices posted on this Site are subject to change without notice. The price charged for a product or service will be the price in effect at the time the order is placed and will be set out in your order confirmation e-mail. Price increases will only apply to orders placed after such changes. Posted prices do not include taxes or charges for shipping and handling. All such taxes and charges will be added to your merchandise total and will be itemized in your shopping cart and in your order confirmation e-mail. We are not responsible for pricing, typographical, or other errors in any offer by us and we reserve the right to cancel any orders arising from such errors.</li>
                                                                    <li>Terms of payment are within our sole discretion and, unless otherwise agreed by us in writing, payment must be received by us before our acceptance of an order. We accept Visa, Master Card, American Express, Discover, Help Card and Pay Pal for all purchases. You represent and warrant that (i) the credit card information you supply to us is true, correct, and complete, (ii) you are duly authorized to use such credit card for the purchase, (iii) charges incurred by you will be honored by your credit card company, and (iv) you will pay charges incurred by you at the posted prices, including all applicable taxes, if any.</li>
                                                                </ol>
                                                            </li>
                                                            <li>
                                                                <h6>Shipments; Delivery; Title and Risk of Loss.</h6>
                                                                <ol>
                                                                    <li>We will arrange for shipment of the products to you. Please check the individual product page for specific delivery options. You will pay all shipping and handling charges specified during the ordering process.</li>
                                                                    <li>Title and risk of loss pass to you upon our transfer of the products to the carrier/delivery. Shipping and delivery dates are estimates only and cannot be guaranteed. We are not liable for any delays in shipments.</li>
                                                                </ol>
                                                            </li>
                                                            <li>
                                                                <h6>Returns and Refunds.</h6>
                                                                <p>Except for any products designated on the Site as non-returnable, we/We will accept a return of the products for a refund of your purchase price, less the original shipping and handling costs, provided such return is made within thirty 30 days of purchase and provided such products are returned in their original condition. To return products, you must call 1-800-489-6820 or e-mail our Returns Department at&nbsp;sales@prosourcediesel.com&nbsp;to obtain a Return Merchandise Authorization (“<strong class="text-primary">RMA</strong>“) number before shipping your product. No returns of any type will be accepted without an RMA number.</p>
                                                                <p>You are responsible for all shipping and handling charges on returned items. You bear the risk of loss during shipment. We therefore strongly recommend that you fully insure your return shipment against loss or damage and that you use a carrier that can provide you with proof of delivery for your protection. Returns may be subject to a 15% restocking fee.</p>
                                                                <p>Refunds are processed within approximately three (3) business days of our receipt of your merchandise. Your refund will be credited back to the same payment method used to make the original purchase on the Site. WE OFFER NO REFUNDS ON BUT NOT LIMITED TO ANY PRODUCTS DESIGNATED ON THIS SITE AS NON-RETURNABLE.</p>
                                                            </li>
                                                            <li>
                                                                <h6>Limited Warranty</h6>
                                                                <p><strong class="text-uppercase text-primary">THIS LIMITED WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS AND YOU MAY ALSO HAVE OTHER RIGHTS, WHICH VARY FROM STATE TO STATE.</strong></p>
                                                                <p><strong>THIS LIMITED WARRANTY CAN ALSO BE FOUND AT</strong>&nbsp;<span class="text-primary"><a href="https://prosourcediesel.com/privacy-policy/">https://prosourcediesel.com/privacy-policy/</a></span></p>
                                                                <p><strong>WE WARRANT THAT DURING THE WARRANTY PERIOD, THE PRODUCTS PURCHASED FROM THE SITE WILL BE FREE FROM DEFECTS IN MATERIALS AND WORKMANSHIP OR AS OTHERWISE STATED IN THE RELEVANT WARRANTY INFORMATION FOR EACH SPECIFIC PART.</strong></p>
                                                                <p><strong>WE ALSO WARRANT THAT DURING THE WARRANTY PERIOD THE SERVICES PURCHASED FROM THE SITE WILL BE PERFORMED IN A WORKMANLIKE/PROFESSIONAL MANNER AND IN ACCORDANCE WITH GENERALLY RECOGNIZED INDUSTRY STANDARDS FOR SIMILAR SERVICES.</strong></p>
                                                                <p><strong>WE LIMIT THE DURATION AND REMEDIES OF ALL IMPLIED WARRANTIES, INCLUDING WITHOUT LIMITATION THE WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, TO THE DURATION OF THIS LIMITED WARRANTY.</strong></p>
                                                                <p><strong>SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.</strong></p>
                                                                <p><strong>OUR RESPONSIBILITY FOR DEFECTIVE PRODUCTS IS LIMITED TO REPAIR, REPLACEMENT OR REFUND AS SET FORTH IN THIS WARRANTY STATEMENT. OUR RESPONSIBILITY FOR DEFECTIVE SERVICES IS LIMITED TO REPAIR, RE-PERFORMANCE OR REFUND AS SET FORTH IN THIS WARRANTY STATEMENT. NEITHER ANY PERFORMANCE OR OTHER CONDUCT, NOR ANY ORAL OR WRITTEN INFORMATION, STATEMENT OR ADVICE PROVIDED BY US OR ANY OF OUR SUPPLIERS, AGENTS OR EMPLOYEES WILL CREATE A WARRANTY, OR IN ANY WAY INCREASE THE SCOPE OR DURATION OF THIS LIMITED WARRANTY.</strong></p>
                                                                <ol>
                                                                    <li>
                                                                        <h6>Who May Use This Warranty?</h6>
                                                                        <p>This limited warranty extends only to the original purchaser of products and services from the Site. It does not extend to any subsequent or other owner or transferee of the product or any transferee or other beneficiaries of the service.</p>
                                                                    </li>
                                                                    <li>
                                                                        <h6>What Does This Warranty Cover?</h6>
                                                                        <p>This limited warranty covers during the Warranty Period (as defined below) defects in materials and workmanship in products and services purchased from the Site.</p>
                                                                    </li>
                                                                    <li>
                                                                        <h6>What Does This Warranty Not Cover?</h6>
                                                                        <p>This limited warranty does not cover any damages due to:</p>
                                                                        <ul>
                                                                            <li>transportation</li>
                                                                            <li>storage</li>
                                                                            <li>improper use</li>
                                                                            <li>failure to follow the product instructions or to perform any preventive maintenance</li>
                                                                            <li>modifications</li>
                                                                            <li>combination or use with any products, materials, processes, systems or other matter not provided or authorized in writing by NAME OF MANUFACTURER</li>
                                                                            <li>unauthorized repair</li>
                                                                            <li>normal wear and tear or</li>
                                                                            <li>external causes such as accidents, abuse, or other actions or events beyond our reasonable control.</li>
                                                                        </ul>
                                                                    </li>
                                                                    <li>
                                                                        <h6>What is the Period of Coverage?</h6>
                                                                        <p>This limited warranty starts on the date of your purchase and lasts for the time designated in the warranty information for each specific part the. This is known as the “<strong class="text-primary">Warranty Period</strong>“. The Warranty Period is not extended if we repair or replace a warranted product or re-perform a warranted service. We may change the availability of this limited warranty at our discretion, but any changes will not be retroactive.</p>
                                                                    </li>
                                                                    <li>
                                                                        <h6>What Are Your Remedies Under This Warranty?</h6>
                                                                        <p>With respect to any defective products during the Warranty Period, we will, in our sole discretion, either: (i) repair or replace such products (or the defective part) free of charge or (ii) refund the purchase price of such products. We will also pay for shipping and handling fees to return the repaired or replacement product to you if we elect to repair or replace the defective products.</p>
                                                                        <p>With respect to any defective services during the Warranty Period, we will, in our sole discretion, either: (i) repair or re-perform the defective services free of charge or (ii) refund the purchase price of such services.</p>
                                                                    </li>
                                                                    <li>
                                                                        <h6>How Do You Obtain Warranty Service?</h6>
                                                                        <p>To obtain warranty service, you must call 1-800-489-6820 or e-mail our Customer Service Department at&nbsp;sales@prosourcediesel.com&nbsp;during the Warranty Period to obtain an RMA number. No warranty service will be provided without an RMA number/description of step-by-step procedure for requesting warranty service.</p>
                                                                    </li>
                                                                    <li>
                                                                        <h6>Limitation of Liability</h6>
                                                                        <p><strong>THE REMEDIES DESCRIBED ABOVE ARE YOUR SOLE AND EXCLUSIVE REMEDIES AND OUR ENTIRE OBLIGATION AND LIABILITY FOR ANY BREACH OF THIS LIMITED WARRANTY.OUR LIABILITY WILL UNDER NO CIRCUMSTANCES EXCEED THE ACTUAL AMOUNT PAID BY YOU FOR THE DEFECTIVE PRODUCT OR SERVICE THAT YOU HAVE PURCHASED THROUGH THE SITE, NOR WILL WE UNDER ANY CIRCUMSTANCES BE LIABLE FOR ANY LOSS OF PRODUCTION, WORK, DATA, USE, BUSINESS, GOODWILL, REPUTATION, REVENUE OR PROFIT, ANY DIMINUTION IN VALUE, COSTS OF REPLACEMENT GOODS OR SERVICES, OR ANY CONSEQUENTIAL, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES OR LOSSES, WHETHER DIRECT OR INDIRECT.</strong></p>
                                                                        <p><strong>SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</strong></p>
                                                                    </li>
                                                                    <li>
                                                                        <h6>What can you do in case of a dispute with us?</h6>
                                                                        <p>The informal dispute resolution procedure detailed in Section 12 is available to you if you believe that we have not performed our obligations under this limited warranty or these Terms.</p>
                                                                        <p>Goods Not for Resale or Export. You agree to comply with all applicable laws and regulations of the various states and of the United States including all Export Regulations, as defined below. You represent and warrant that you are buying products or services from the Site for your own personal or household use only, and not for resale or export. Products and services purchased from the Site may be controlled for export purposes by export regulations, including but not limited to, the Export Administration Act of 1979 (50 U.S.C. 2401-2410), the Export Administration Regulations promulgated thereunder (15 C.F.R. 768-799), the International Traffic in Arms Regulations (22 C.F.R. 120-128 and 130) and their successor and supplemental regulations (collectively, “<strong class="text-primary">Export Regulations</strong>“).</p>
                                                                        <p>Intellectual Property Use and Ownership. You acknowledge and agree that:</p>
                                                                        <ol>
                                                                            <li>In some cases, uses on this Site of the terms “sell,” “sale,” “resell,” “resale,” “purchase,” “price” and the like mean the purchase or sale of a license. Each product and service marketed on this Site is made available solely for license, not sale, to you and other prospective customers under the terms, conditions, and restrictions of the license agreement posted with/made available to you through a link accompanying the display or description of that specific product or service.</li>
                                                                            <li>You will comply with all terms and conditions of the specific license agreement for any product or service you obtain through this Site, including, but not limited to, all confidentiality obligations and restrictions on resale, use, reverse engineering, copying, making, modifying, improving, sublicensing and transfer of those licensed products and services.</li>
                                                                            <li>You will not cause, induce or permit others’ noncompliance with the terms and conditions of any of these product and service license agreements.</li>
                                                                            <li>PROSOURCE DIESEL Manufacturing and its licensor(s) is/are and will remain the sole and exclusive owners of all intellectual property rights in and to each product and service made available on this Site and any related specifications, instructions, documentation or other materials, including, but not limited to, all related copyrights, patents, and trademarks and other intellectual property rights, subject only to the limited license granted under the product’s or service’s license agreement. You do not and will not have or acquire any ownership of these intellectual property rights in or to the products or services made available through this Site, or of any intellectual property rights relating to those products or services.</li>
                                                                        </ol>
                                                                    </li>
                                                                </ol>
                                                            </li>
                                                            <li>
                                                                <h6>Privacy.</h6>
                                                                <p>We respect your privacy and are committed to protecting it. Our Privacy Policy,&nbsp;<a href="https://prosourcediesel.com/privacy-policy/">https://prosourcediesel.com/privacy-policy/</a>, governs the processing of all personal data collected from you in connection with your purchase of products or services through the Site.</p>
                                                            </li>
                                                            <li>
                                                                <h6>Force Majeure.</h6>
                                                                <p>We will not be liable or responsible to you, nor be deemed to have defaulted or breached these Terms, for any failure or delay in our performance under these Terms when and to the extent such failure or delay is caused by or results from acts or circumstances beyond our reasonable control, including, without limitation, acts of God, flood, fire, earthquake, explosion, governmental actions, war, invasion or hostilities (whether war is declared or not), terrorist threats or acts, riot or other civil unrest, national emergency, revolution, insurrection, epidemic, lockouts, strikes or other labor disputes (whether or not relating to our workforce), or restraints or delays affecting carriers or inability or delay in obtaining supplies of adequate or suitable materials, materials or telecommunication breakdown or power outage.</p>
                                                            </li>
                                                            <li>
                                                                <h6>Governing Law and Jurisdiction.</h6>
                                                                <p>All matters arising out of or relating to these Terms are governed by and construed in accordance with the internal laws of the State of California without giving effect to any choice or conflict of law provision or rule (whether of the State of California or any other jurisdiction) that would cause the application of the laws of any jurisdiction other than those of the State of California.</p>
                                                            </li>
                                                            <li>
                                                                <h4>Dispute Resolution and Binding Arbitration.</h4>
                                                                <ol>
                                                                    <li><strong class="text-uppercase text-primary">YOU AND PROSOURCE DIESEL MANUFACTURING ARE AGREEING TO GIVE UP ANY RIGHTS TO LITIGATE CLAIMS IN A COURT OR BEFORE A JURY. OTHER RIGHTS THAT YOU WOULD HAVE IF YOU WENT TO COURT MAY ALSO BE UNAVAILABLE OR MAY BE LIMITED IN ARBITRATION.</strong><strong class="text-uppercase text-primary">ANY CLAIM, DISPUTE OR CONTROVERSY (WHETHER IN CONTRACT, TORT OR OTHERWISE, WHETHER PRE-EXISTING, PRESENT OR FUTURE, AND INCLUDING STATUTORY, CONSUMER PROTECTION, COMMON LAW, INTENTIONAL TORT, INJUNCTIVE AND EQUITABLE CLAIMS) BETWEEN YOU AND US ARISING FROM OR RELATING IN ANY WAY TO YOUR PURCHASE OF PRODUCTS OR SERVICES THROUGH THE SITE, WILL BE RESOLVED EXCLUSIVELY AND FINALLY BY BINDING ARBITRATION.</strong></li>
                                                                    <li>The arbitration will be administered by the American Arbitration Association (“<strong class="text-primary">AAA</strong>“) in accordance with the Consumer Arbitration Rules (the “<strong class="text-primary">AAA Rules</strong>“) then in effect, except as modified by this Section 12. (The AAA Rules are available at www.adr.org/arb_med or by calling the AAA at 1-800-778-7879.) The Federal Arbitration Act will govern the interpretation and enforcement of this section.The arbitrator will have exclusive authority to resolve any dispute relating to arbitrability and/or enforceability of this arbitration provision, including any unconscionability challenge or any other challenge that the arbitration provision or the Agreement is void, voidable or otherwise invalid. The arbitrator will be empowered to grant whatever relief would be available in court under law or in equity. Any award of the arbitrator(s) will be final and binding on each of the parties and may be entered as a judgment in any court of competent jurisdiction.If you prevail on any claim that affords the prevailing party attorneys’ fees, the arbitrator may award reasonable fees to you under the standards for fee shifting provided by law.</li>
                                                                    <li>You may elect to pursue your claim in small-claims court rather than arbitration if you provide us with written notice of your intention do so within 60 days of your purchase. The arbitration or small-claims court proceeding will be limited solely to your individual dispute or controversy.</li>
                                                                    <li>You agree to an arbitration on an individual basis. In any dispute,&nbsp;<strong class="text-uppercase text-primary">NEITHER YOU NOR PROSOURCE DIESEL MANUFACTURING WILL BE ENTITLED TO JOIN OR CONSOLIDATE CLAIMS BY OR AGAINST OTHER CUSTOMERS IN COURT OR IN ARBITRATION OR OTHERWISE PARTICIPATE IN ANY CLAIM AS A CLASS REPRESENTATIVE, CLASS MEMBER OR IN A PRIVATE ATTORNEY GENERAL CAPACITY.</strong>The arbitral tribunal may not consolidate more than one person’s claims, and may not otherwise preside over any form of a representative or class proceeding. The arbitral tribunal has no power to consider the enforceability of this class arbitration waiver and any challenge to the class arbitration waiver may only be raised in a court of competent jurisdiction.If any provision of this arbitration agreement is found unenforceable, the unenforceable provision will be severed and the remaining arbitration terms will be enforced.</li>
                                                                </ol>
                                                            </li>
                                                            <li>
                                                                <h6>Assignment.</h6>
                                                                <p>You will not assign any of your rights or delegate any of your obligations under these Terms without our prior written consent. Any purported assignment or delegation in violation of this Section 13 is null and void. No assignment or delegation relieves you of any of your obligations under these Terms.</p>
                                                            </li>
                                                            <li>
                                                                <h6>No Waivers.</h6>
                                                                <p>The failure by us to enforce any right or provision of these Terms will not constitute a waiver of future enforcement of that right or provision. The waiver of any right or provision will be effective only if in writing and signed by a duly authorized representative of PROSOURCE DIESEL MANUFACTURING.</p>
                                                            </li>
                                                            <li>
                                                                <h4>No Third Party Beneficiaries.</h4>
                                                                <p>These Terms do not and are not intended to confer any rights or remedies upon any person other than you.</p>
                                                            </li>
                                                            <li>
                                                                <h6>Notices.</h6>
                                                                <ol>
                                                                    <li><u>To You.</u>&nbsp;We may provide any notice to you under these Terms by: (i) sending a message to the e-mail address you provide or (ii) by posting to the Site. Notices sent by e-mail will be effective when we send the e-mail and notices we provide by posting will be effective upon posting. It is your responsibility to keep your e-mail address current.</li>
                                                                    <li><u>To Us.</u>&nbsp;To give us notice under these Terms, you must contact us as follows: (i) by facsimile transmission to 1-800-489-6820; or (ii) by personal delivery, overnight courier or registered or certified mail to PROSOURCE DIESEL Manufacturing, 4747 Central Way, Fairfield, CA 94534, USA. We may update the facsimile number or address for notices to us by posting a notice on the Site. Notices provided by personal delivery will be effective immediately. Notices provided by facsimile transmission or overnight courier will be effective one business day after they are sent. Notices provided by registered or certified mail will be effective three business days after they are sent.</li>
                                                                </ol>
                                                            </li>
                                                            <li>
                                                                <h6>Severability.</h6>
                                                                <p>If any provision of these Terms is invalid, illegal, void or unenforceable, then that provision will be deemed severed from these Terms and will not affect the validity or enforceability of the remaining provisions of these Terms.</p>
                                                            </li>
                                                            <li>
                                                                <h6>Entire Agreement.</h6>
                                                                <p>Our order confirmation, these Terms, the Shipping Policy found on our Site, the descriptions, disclaimers, exclusions, restrictions and other statements relating to any product or service you obtain on or through this Site, our Website Terms of Use and our Privacy Policy will be deemed the final and integrated agreement between you and us on the matters contained in these Terms.</p>
                                                            </li>
                                                        </ol>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



    <!-- cache slot rendered -->
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="~/Content/AdminLTE-3.1.0/jquery/jquery.min.js"></script>
    <script src="~/Content/AdminLTE-3.1.0/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/AdminLTE-3.1.0/adminlte.min.js"></script>


    @*<script src="https://www.google.com/recaptcha/api.js"></script>*@
    <script src="@Url.Content("~/js/Users/UserLogin.js?v=" + DateTime.Now.ToString("ddMMyyyymmss"))" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $(document).on('click', '#btnLogin', function () {
                userAuthenticateLogin();
            });

            $("#txturPassword").keyup(function (event) {
                if (event.keyCode === 13) {
                    $("#btnLogin").click();
                }
            });



        });
    </script>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
        jQuery(function ($) {
            $('.toggcontent').hide();
            $('.toggtitle').click(function () {
                $(this).toggleClass('open').next('.toggcontent').slideToggle(500);
            });
        });
    </script>

</body>
</html>
