@model dynamic
@{
    ViewBag.Title = "MobileVerification";
    Layout = null;
}

<html>
<head>
    <script type="text/javascript">var ue_t0 = ue_t0 || +new Date();</script>
    <meta charset="utf-8">
    <title dir="ltr">Login OTP Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/Images/varient_pic.png">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/AdminLTE-3.1.0/adminlte.min.css" rel="stylesheet" />
    <link href="~/Content/Style11.css" rel="stylesheet" />
    <link href="~/Content/Style12.css" rel="stylesheet" />
    <link href="~/css/login_style.css" rel="stylesheet" />
    <link href="~/Content/alert/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE-3.1.0/select2/select2.min.css" rel="stylesheet" />
    <script type="text/javascript"></script>
    <script src="~/Content/AdminLTE-3.1.0/select2/select2.min.js"></script> 
    <script src="~/Content/alert/sweetalert2.all.min.js"></script>
</head>
 
<body class="login-page login-varification">
    <div id="a-page" class="login_box-section">
        <div class="a-section a-padding-medium auth-workflow main-login-box">
            <div class="login-inner-box">
                <div class="a-section a-spacing-none auth-navbar">
                    <div class="a-section a-spacing-medium a-text-center">
                        <a class="a-link-nav-icon" tabindex="-1" href="">
                            @*<img src="~/Images/layla1-logo.png" />*@
                            <img runat="server" src="data:image;base64,@System.Convert.ToBase64String(Model.User_Image)" alt="User profile picture">
                            @*<i class="a-icon a-icon-logo" role="img" aria-label="Amazon"></i>
                                <i class="a-icon a-icon-domain-in a-icon-domain" role="presentation"></i>*@
                        </a>
                    </div>
                </div>
                <div id="authportal-center-section" class="a-section">
                    <div id="authportal-main-section" class="a-section">

                        <div class="a-section auth-pagelet-container">

                            <div class="a-section auth-pagelet-container">

                                <div id="auth-pv-client-side-error-box" class="a-box a-alert a-alert-error auth-client-side-message-box a-spacing-base" aria-live="assertive" role="alert">
                                    <div class="a-box-inner a-alert-container">
                                        <h4 class="a-alert-heading">There was a problem</h4><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
                                            <ul class="a-unordered-list a-vertical a-spacing-none auth-pv-client-side-error-messages">
                                                <li id="auth-there-was-an-error-throttled">
                                                    <span class="a-list-item">
                                                        Your one time password (OTP) may take several minutes to arrive. If you have stopped receiving them, you have exceeded the daily limit. Please wait and try again tomorrow.
                                                    </span>
                                                </li>
                                                <li id="auth-there-was-an-error">
                                                    <span class="a-list-item">
                                                        Internal Error. Please try again later.
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div id="auth-pv-client-side-success-box" class="a-box a-alert a-alert-success auth-client-side-message-box a-spacing-base">
                                    <div class="a-box-inner a-alert-container">
                                        <h4 class="a-alert-heading">Success</h4><i class="a-icon a-icon-alert"></i><div class="a-alert-content">
                                            <ul class="a-unordered-list a-nostyle a-vertical a-spacing-none auth-pv-client-side-success-messages">
                                                <li id="auth-resend-code-succeeded">
                                                    <span class="a-list-item">
                                                        We've sent a new OTP by e-mail.
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="a-box a-spacing-extra-large" id="varification-box">
                                    <div style="display:none" st class="a-box-inner">
                                        <div class="form-group">
                                            <label for="ddlcompany">Company<span style="color:red">*</span></label>
                                            <select class="form-control select1" id="ddlcompany" style="width:100%;"></select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="a-box-inner">
                                        <h1 class="login-h1">
                                        Verify OTP
                                        </h1>
                                        <p>
                                            OTP (one time password) has been sent to your e-mail.
                                        </p>
                                        <div class="a-row a-spacing-top-large">
                                            <div class="a-column a-span5">
                                                <label for="auth-pv-enter-code" class="a-form-label">
                                                    Enter OTP:
                                                </label>
                                            </div>
                                            <div class="a-column a-span5 a-text-right a-span-last">
                                                @*<form id="auth-resend-form" method="post" action="" class="a-spacing-mini">*@
                                                <a id="" class="a-spacing-extra-large a-link-normal" href="@Url.Action("MobileVerification","Home")">
                                                    Resend OTP
                                                </a>
                                                @*</form>*@
                                            </div>
                                        </div>
                                        <form id="auth-pv-form" class="a-spacing-none">
                                            <input type="hidden" name="appActionToken" value=""><input type="hidden" name="appAction" value="">
                                            <input type="hidden" name="prevRID" value="">
                                            <input type="hidden" name="workflowState" value="">
                                            <div></div>

                                            <input type="password" maxlength="6" data-keyvalue="-" name="OTP" id="auth-pv-enter-code" runat="server" autocomplete="off" class="a-input-text a-span12 a-spacing-medium auth-autofocus auth-required-field" value="">
                                            <span class="a-button a-spacing-medium a-button-span12 a-button-primary otp-varification-btn" id="a-autoid-0">
                                                <span class="a-button-inner">
                                                    <input id="auth-verify-button" name="pvSubmit" class="a-button-input" type="submit" aria-labelledby="a-autoid-0-announce"><span class="a-button-text" aria-hidden="true" id="a-autoid-0-announce">
                                                        Verify
                                                    </span>
                                                </span>
                                            </span>
                                            <h5 style="color:black"> OTP will be expired in  <span id="lblCounter"></span> Seconds. OTP has been sent successfully at your Email.</h5>
                                            <input name="metadata1" type="hidden" value="">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="right-2">
            </div>

            <div class="a-section a-spacing-top-extra-large auth-footer main-login-footer">
                @*<div class="a-divider a-divider-section"><div class="a-divider-inner"></div></div>*@
                @*<div class="footer-menu-login">
                        <span class="auth-footer-seperator"></span>
                        <a class="a-link-normal"  href="">
                            Privacy & Policy
                        </a>
                        <span class="auth-footer-seperator"></span>
                        <a class="a-link-normal"  href="">
                            Terms & Conditions
                        </a>
                        <span class="auth-footer-seperator"></span>
                        <a class="a-link-normal" href="">
                            FAQ
                        </a>
                        <span class="auth-footer-seperator"></span>

                        <a class="a-link-normal"  href="">
                            Contact
                        </a>
                        <span class="auth-footer-seperator"></span>
                    </div>*@
                <div class="a-section a-spacing-none a-text-center">
                    <span class="a-size-mini a-color-secondary">
                        © @DateTime.Now.Year.ToString(), LaylaERP, Inc. or its affiliates
                    </span>
                </div>
            </div>
        </div>
        <div id="auth-external-javascript" class="auth-external-javascript" data-external-javascripts="">
        </div>
    </div>

    <div id="a-popover-root" style="z-index:-1;position:absolute;"></div>
    @ViewBag.Result
</body>

</html>

<script>
    var Counter =600;
    $(document).ready(function () {
        $(".select1").select2();
   
        getcompany();
        $('#auth-pv-enter-code').focus();
        $('#auth-pv-enter-code').val(@ViewBag.otp);
        $(document).on("click", "#auth-verify-button", function (t) {
            t.preventDefault();
            company = $("#ddlcompany").val(); 
            //if (company == 0 ) {
            //    swal('Alert', 'Please select company', 'error').then(function () { swal.close(); $('#ddlcompany').focus(); });
            //}
            //else {
                $('#btnCheckout').prop("disabled", true); $('#a-autoid-0-announce').text("Waiting...");
                let option = { OTP: $('#auth-pv-enter-code').val(), company_id: company };
                $.ajax({
                    type: "POST", url: "/Home/MobileVerification", contentType: "application/json; charset=utf-8", dataType: "json", data: JSON.stringify(option),
                    beforeSend: function () { $("#loader").show(); },
                    success: function (result) {
                        if (result.status == true) {
                            window.location.href = result.url;
                        }
                        else {
                            $('#a-autoid-0-announce').text("Verify"); $('#btnCheckout').prop("disabled", false); alert(result.message);
                        }
                    },
                    complete: function () { },
                    error: function (xhr, status, err) { $('#a-autoid-0-announce').text("Verify"); $('#btnCheckout').prop("disabled", false); alert(err); }, async: false
                });
            //}
        });
        setInterval(function () {
            if (Counter > 0) {
                $('#lblCounter').text(Counter);
                Counter--;
            }
            else {
                location.href = 'Login'
            }
        }, 1000); 

    });

    function getcompany() {
        $.ajax({
            url: "/Setting/GetCompany",
            type: "Get",
            success: function (data) {
                var opt = '<option value="0">Please Select Company</option>';
                for (var i = 0; i < data.length; i++) {
                    opt += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                }
                $('#ddlcompany').html(opt);
            }

        });
    }
</script>



