<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body> 
    <table class="main-div" bgcolor="#e2e4ec" cellspacing="0" cellpadding="0" border="0" role="none" style="width:100%;margin:0;font-size:16px">
        <tbody>
            <tr>
                <td style="font-family:Trebuchet MS;color:#051146">
                    <table cellspacing="0" class="main-table" role="none" align="center" width="600" style="background-color: #EBF7FE; width: 100%; max-width: 100%; margin: 15px auto">
                        <tbody>
                            <tr>
                                <td class="main-td" style="font-family:Trebuchet MS;color:#051146;padding:0">
                                    <div class="header-logo" style="width:100%;max-height:50px;padding:20px 0;border-top-right-radius:5px;border-top-left-radius:5px;background-color:#ffffff;text-align:center;-moz-border-top-right-radius:5px;-moz-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-top-left-radius:5px">
                                        <!--<img src="{base_url}/{header_logo}" alt="Logo" class="logo-img" style="max-width:250px;max-height:50px">-->
                                        <!--<img src="{base_url}/{header_logo}" alt="Logo"   height="50">-->
                                        <!--Header-->
                                        <img src="../../Content/Pages/header.png" alt="Logo" style="max-width:550px;max-height:80px">
                                    </div>
                                    <table class="form-table full-width" cellspacing="0" cellpadding="0" border="0" role="none" style="margin:50px auto;width:100%;min-width:100%">
                                        <tbody>
                                            <tr>
                                                <td width="50" style="font-family:Trebuchet MS;color:#051146"></td>
                                                <td class="form-container" style="font-family:Trebuchet MS;color:#051146;border:solid 1px #d3d5dc;border-radius:8px;background-color:#ffffff;min-width:320px">
                                                    <table width="100%" role="none">
                                                        <tbody>
                                                            <tr>
                                                                <td width="5%" style="font-family:Trebuchet MS;color:#051146"></td>
                                                                <td class="content-header" style="font-family:Trebuchet MS;color:#051146;padding:40px 0;font-size:16px;text-align:center">
                                                                    <!--Hi {user},<br><br>Thanks again for shopping at <a href="{store_website}" style="text-decoration:none;color:#2f84ed"></a>.<br><br>We’d love to hear what you think about your new <a href="{product_url}" style="text-decoration:none;color:#2f84ed">{product}</a>.<br><br>Once you’ve submitted your review, why not share it to Facebook or Twitter for others to see?-->
                                                                    {body}
                                                                </td>
                                                                <td width="5%" style="font-family:Trebuchet MS;color:#051146"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="ratenreview-readonly-start"></div> 
                                                </td>
                                                <td width="50" style="font-family:Trebuchet MS;color:#051146"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="content-bottom gray-text-centered" style="background-color:#ffffff;padding:40px;text-align:center;color:#97a6b4;line-height:1.5em;font-size:15px">
                                        <p class="feedback" style="margin:0;line-height:1;margin:0 auto;max-width:350px">
                                            <!--Thanks for your feedback.<br><br>We hope you shop with us again at <a href="{store_website}" style="text-decoration:none;color:#2f84ed"></a> soon-->
                                          
                                            <img src="../../Content/Pages/footer.png" alt="Logo" style="max-width:550px;max-height:80px">
                                        </p> 
                                    </div> 
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                    <!--<div class="powered-by-container" style="width:100%;margin:0 auto;padding-bottom:10px;text-align:center;color:#97a6b4;line-height:1.5em;font-size:15px">
                        <table cellspacing="0" cellpadding="0" border="0" align="center" role="none">
                            <tbody>
                                <tr>
                                    <td class="powered-by" style="font-family:Trebuchet MS;color:#051146;font-size:18px;font-weight:100;letter-spacing:0.5px">
                                        <a href="{base_url}" style="text-decoration:none;color:#2f84ed">Powered by</a>
                                        BBB
                                    </td>
                                    <td width="5" style="font-family:Trebuchet MS;color:#051146"></td>
                                    <td style="font-family:Trebuchet MS;color:#051146">
                                        <a href="{base_url}" style="text-decoration:none;color:#2f84ed">
                                            <img src="{base_url}/{Powered_logo}" alt="company" class="company-logo" width="36" height="36" style="max-width:36px;max-height:36px">
                                            <img src="{base_url}/{Powered_logo}" alt="company"   height="50" >
                                            CCC
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>-->
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>