
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex align-items-center">
    <div class="col-xs-6">
        <h2 class="page-heading gs-open">
            Dashboard
            <div class="sub-heading">
                <time datetime="2021-05-24">Mon, May 26, 2021</time> - <time datetime="2021-05-30">Sun, May 26, 2021</time>
            </div>
        </h2>
    </div>
    <div class="col-xs-6 ">
        <div class="dropdown item pull-right">
            <a aria-expanded="true" aria-haspopup="true" class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#">Manage widgets</a>
            <ul class="dropdown-menu dropdown-menu-right widget-dropdown toggling-dropdown">
                <li class="dropdown-header">Small widgets</li>
                <li data-widget="earned_week" data-widget-style="small" class="is-on"><a class="d-flex icon-link" href="#">Earned this week</a></li>
                <li data-widget="earned_today" data-widget-style="small"><a class="d-flex icon-link" href="#">Earned today</a></li>
                <li data-widget="projects_worked" data-widget-style="small" class="is-on"><a class="d-flex icon-link" href="#">Projects worked</a></li>
                <li data-widget="today_activity" data-widget-style="small"><a class="d-flex icon-link" href="#">Today's Activity</a></li>
                <li data-widget="activity" data-widget-style="small" class="is-on"><a class="d-flex icon-link" href="#">Weekly Activity</a></li>
                <li data-widget="this_week_total" data-widget-style="small" class="is-on"><a class="d-flex icon-link" href="#">Worked this week</a></li>
                <li data-widget="worked_today" data-widget-style="small"><a class="d-flex icon-link" href="#">Worked today</a></li>
                <hr>
                <li class="dropdown-header">Large widgets</li>
                <li data-widget="apps_urls" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">Apps &amp; URLs</a></li>
                <li data-widget="missed_shifts" data-widget-style="large"><a class="d-flex icon-link" href="#">Late &amp; Missed Shifts</a></li>
                <li data-widget="manual_time_log" data-widget-style="large"><a class="d-flex icon-link" href="#">Manual Time</a></li>
                <li data-widget="past_payments" data-widget-style="large"><a class="d-flex icon-link" href="#">Payments</a></li>
                <li data-widget="projects" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">Projects</a></li>
                <li data-widget="my_recent_activity" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">Recent activity</a></li>
                <li data-widget="this_week" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">This week</a></li>
                <li data-widget="time_off_balances" data-widget-style="large"><a class="d-flex icon-link" href="#">Time off balances</a></li>
                <li data-widget="time_off_requests" data-widget-style="large"><a class="d-flex icon-link" href="#">Time off requested</a></li>
                <li data-widget="timesheet" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">Timesheet</a></li>
                <li data-widget="tasks" data-widget-style="large" class="is-on"><a class="d-flex icon-link" href="#">To-dos</a></li>
            </ul>
        </div>
    </div>
</div>


<!--dashboard info section-->

<div class="row dashboard-info">
    <div class="col-lg-3 col-sm-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>150</h3>

                <p>New Orders</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-sm-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-sm-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>44</h3>

                <p>User Registrations</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-sm-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>65</h3>

                <p>Unique Visitors</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>