
@{
    ViewBag.Title = "ActivityLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        User Activity
        <small>Log</small>
    </h1>
</section>


