@{
    ViewBag.Title = "Gift Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title">
    <h2 class="page-heading">
        Gift Card
    </h2>
</div>
<section class="content gift_card-section">
    <div class="row">
    <div class="move-up">
        <div class="product">
            <div class="giftcard">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="slide-cont">
                            <div class="product-banner"><img alt="Layla E-Gift Card" style="width: 100%;" src="https://quickfix16.com/wp-content/uploads/2021/05/gift-card-layla_v1.png" /></div>
                        </div>
                    </div>
                    <div class="col-sm-6 align-box">
                        <div class="product-description">
                            <h1 class="product_title entry-title">Layla E-Gift Card</h1>
                            <div class="descriptive-text">Send a Layla E-gift card to someone via email.</div>
                            <div class="woocommerce_gc_giftcard_form">
                                <label style="margin-bottom: 0 !important; font-weight: 700; font-size: 13px;">Select Amount</label>
                                <div class="main_radio_div">
                                    <a href="javascript://" id="25" class="radio_amt">$25</a><a href="javascript://" id="50" class="radio_amt">$50</a><a href="javascript://" id="75" class="radio_amt">$75</a>
                                    <a href="javascript://" id="100" class="radio_amt">$100</a><a href="javascript://" id="150" class="radio_amt">$150</a><a href="javascript://" id="175" class="radio_amt">$175</a>
                                    <a href="javascript://" id="200" class="radio_amt">$200</a><a href="javascript://" id="other" class="radio_amt other">Other</a>
                                </div>
                                <div class="customprice_div">$<input type="number" value="" min="1" class="customprice" /></div>
                                <input type="hidden" name="amountvalue" id="amountvalue" value="" />
                                <div class="ermsg">Please choose an amount.</div>
                                <div class="wc_gc_field wc_gc_giftcard_to_multiple">
                                    <label for="wc_gc_giftcard_to_multiple">To</label><input type="text" name="wc_gc_giftcard_to_multiple" placeholder="Enter an e-mail for each recipient, separating e-mails by comma (,)" value="" />
                                </div>
                                <div class="wc_gc_field wc_gc_giftcard_from"><label for="wc_gc_giftcard_from">From</label><input type="text" name="wc_gc_giftcard_from" placeholder="Enter your name" value="" /></div>
                                <div class="wc_gc_field wc_gc_giftcard_message">
                                    <label for="wc_gc_giftcard_message">Message</label><textarea rows="3" maxlength="500" name="wc_gc_giftcard_message" placeholder="Add your message (optional)"></textarea>
                                    <div id="counter" class="text-right limit-text-status text-primary">
                                        <small><strong>0/500</strong> characters limit.</small>
                                    </div>
                                </div>
                                <div class="wc_gc_field wc_gc_giftcard_delivery">
                                    <label for="wc_gc_giftcard_delivery">Delivery Date</label>
                                    <input autocomplete="off" type="text" placeholder="Now" name="wc_gc_giftcard_delivery" value="" id="dp1621362355726" class="datepicker hasDatepicker" />
                                </div>
                            </div>
                            <button type="submit" name="add-to-cart" class="single_add_to_cart_button add-to-cart button alt">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>