
@{
    ViewBag.Title = "Inboxprofile";
}

<div class="page-title">
    <h2 class="page-heading">Promotional Email</h2>
</div>
<section class="content section-content table-design customer-section">
    <div class="email_box">
        <div class="box_sidebar">
            <nav class="email_nav">
                <div class="email_compose">
                    <a href="#"><i class="fa fa-pencil-alt"></i> Compose</a>
                </div>
                <ul>
                    <li><a href="#">Inbox</a></li>
                    <li><a href="#">Sent</a></li>
                    <li><a href="#">Draft</a></li>
                </ul>
            </nav>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <div id="gridContainer" class="">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="dtdata" class="table table-blue table-bordered table-striped dataTable check-table no-footer" style="width:100%;" role="grid" aria-describedby="dtdata_info">
                                <thead class="thead-dark">
                                    <tr role="row"><th class="sorting" tabindex="0" aria-controls="dtdata" rowspan="1" colspan="1" style="width: 5%;" aria-label=": activate to sort column ascending"><input type="checkbox" name="checkAll" id="checkAll"><label></label></th><th class="sorting_desc" tabindex="0" aria-controls="dtdata" rowspan="1" colspan="1" style="width: 8%;" aria-label="ID: activate to sort column ascending" aria-sort="descending">ID</th><th class="sorting" tabindex="0" aria-controls="dtdata" rowspan="1" colspan="1" style="width: 12%;" aria-label="User Name: activate to sort column ascending">User Name</th><th class="sorting" tabindex="0" aria-controls="dtdata" rowspan="1" colspan="1" style="width: 25%;" aria-label="Email: activate to sort column ascending">Email</th><th class="sorting" tabindex="0" aria-controls="dtdata" rowspan="1" colspan="1" style="width: 10%;" aria-label="Status: activate to sort column ascending">Status</th><th class="sorting" tabindex="0" aria-controls="dtdata" rowspan="1" colspan="1" style="width: 22%;" aria-label="Role: activate to sort column ascending">Role</th><th name="action" class="sorting" tabindex="0" aria-controls="dtdata" rowspan="1" colspan="1" style="width: 8%;" aria-label="Action: activate to sort column ascending">Action</th></tr>
                                </thead>

                                <tbody><tr role="row" class="odd"><td><input type="checkbox" name="CheckSingle" id="CheckSingle" onclick="Singlecheck();" value="25001"><label></label></td><td class="sorting_1">25001</td><td>shakakimotho@gmail.com</td><td>shakakimotho@gmail.com</td><td>Active</td><td>Unapproved, Unmoderated</td><td><a href="javascript:void(0);" class="editbutton" onclick="EditUser(25001); " data-toggle="tooltip" title="View/Edit user"><i class="glyphicon glyphicon-pencil"></i></a></td></tr><tr role="row" class="even"><td><input type="checkbox" name="CheckSingle" id="CheckSingle" onclick="Singlecheck();" value="23079"><label></label></td><td class="sorting_1">23079</td><td>jobediesel</td><td>brandie@jobediesel.com</td><td>Active</td><td>Repair Shops</td><td><a href="javascript:void(0);" class="editbutton" onclick="EditUser(23079); " data-toggle="tooltip" title="View/Edit user"><i class="glyphicon glyphicon-pencil"></i></a></td></tr><tr role="row" class="odd"><td><input type="checkbox" name="CheckSingle" id="CheckSingle" onclick="Singlecheck();" value="22041"><label></label></td><td class="sorting_1">22041</td><td>JPECK.PHF@GMAIL.COM</td><td>JPECK.PHF@GMAIL.COM</td><td>Active</td><td>Repair Shops, Unmoderated</td><td><a href="javascript:void(0);" class="editbutton" onclick="EditUser(22041); " data-toggle="tooltip" title="View/Edit user"><i class="glyphicon glyphicon-pencil"></i></a></td></tr><tr role="row" class="even"><td><input type="checkbox" name="CheckSingle" id="CheckSingle" onclick="Singlecheck();" value="21992"><label></label></td><td class="sorting_1">21992</td><td>denis@ttsspokane.com</td><td>denis@ttsspokane.com</td><td>Active</td><td>Repair Shops</td><td><a href="javascript:void(0);" class="editbutton" onclick="EditUser(21992); " data-toggle="tooltip" title="View/Edit user"><i class="glyphicon glyphicon-pencil"></i></a></td></tr><tr role="row" class="odd"><td><input type="checkbox" name="CheckSingle" id="CheckSingle" onclick="Singlecheck();" value="21596"><label></label></td><td class="sorting_1">21596</td><td>westcoastdiesels@yahoo.com</td><td>westcoastdiesels@yahoo.com</td><td>Active</td><td>Repair Shops</td><td><a href="javascript:void(0);" class="editbutton" onclick="EditUser(21596); " data-toggle="tooltip" title="View/Edit user"><i class="glyphicon glyphicon-pencil"></i></a></td></tr><tr role="row" class="even"><td><input type="checkbox" name="CheckSingle" id="CheckSingle" onclick="Singlecheck();" value="21529"><label></label></td><td class="sorting_1">21529</td><td>STACKEDPERFORMANCE</td><td>SALES@STACKEDPERFORMANCELLC.COM</td><td>Active</td><td>Repair Shops</td><td><a href="javascript:void(0);" class="editbutton" onclick="EditUser(21529); " data-toggle="tooltip" title="View/Edit user"><i class="glyphicon glyphicon-pencil"></i></a></td></tr><tr role="row" class="odd"><td><input type="checkbox" name="CheckSingle" id="CheckSingle" onclick="Singlecheck();" value="21405"><label></label></td><td class="sorting_1">21405</td><td>lorenequipment1@gmail.com</td><td>lorenequipment1@gmail.com</td><td>Active</td><td>Unapproved, Unmoderated</td><td><a href="javascript:void(0);" class="editbutton" onclick="EditUser(21405); " data-toggle="tooltip" title="View/Edit user"><i class="glyphicon glyphicon-pencil"></i></a></td></tr><tr role="row" class="even"><td><input type="checkbox" name="CheckSingle" id="CheckSingle" onclick="Singlecheck();" value="21397"><label></label></td><td class="sorting_1">21397</td><td>armando1439@gmail.com</td><td>armando1439@gmail.com</td><td>Active</td><td>Repair Shops</td><td><a href="javascript:void(0);" class="editbutton" onclick="EditUser(21397); " data-toggle="tooltip" title="View/Edit user"><i class="glyphicon glyphicon-pencil"></i></a></td></tr><tr role="row" class="odd"><td><input type="checkbox" name="CheckSingle" id="CheckSingle" onclick="Singlecheck();" value="21373"><label></label></td><td class="sorting_1">21373</td><td>atxturborebuilders@gmail.com</td><td>atxturborebuilders@gmail.com</td><td>Active</td><td>Repair Shops</td><td><a href="javascript:void(0);" class="editbutton" onclick="EditUser(21373); " data-toggle="tooltip" title="View/Edit user"><i class="glyphicon glyphicon-pencil"></i></a></td></tr><tr role="row" class="even"><td><input type="checkbox" name="CheckSingle" id="CheckSingle" onclick="Singlecheck();" value="21230"><label></label></td><td class="sorting_1">21230</td><td>yaneztrucking13@yahoo.com</td><td>yaneztrucking13@yahoo.com</td><td>Active</td><td>Repair Shops</td><td><a href="javascript:void(0);" class="editbutton" onclick="EditUser(21230); " data-toggle="tooltip" title="View/Edit user"><i class="glyphicon glyphicon-pencil"></i></a></td></tr></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

