@{
    ViewBag.Title = "Create Flow";
    Layout = "~/Views/Shared/_qfk_Layout.cshtml";
}
<link href="~/Content/qfk/css/flow-layout.css" rel="stylesheet" />
<link href="~/Content/qfk/Selectr/selectr.min.css" rel="stylesheet" />
<script src="~/Content/qfk/Selectr/selectr.min.js"></script>
<style>
    .configuration-panel .form-control {
        height: 34px;
        padding: 5px 8px;
        border: 1px solid rgb(145, 151, 159);
        border-radius: 2px;
    }

    .fa-envelope-circle-check:before {
        content: "\e4e8";
    }
</style>
<div id="root" data-id="@ViewBag.id">
    <div class="flows-body">
        <!-- start page title -->
        <div class="row border-bottom">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between m-2">
                    <div>
                        <ol class="breadcrumb m-0 font-size-18">
                            <li class="breadcrumb-item"><a href="/flows/index">Flows</a></li>
                            <li name="flow-title" class="breadcrumb-item"></li>
                        </ol>
                    </div>
                    <div class="page-title-right">
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="flows-main">
            <aside id="leftcard" class="configuration-panel">
                <div class="configuration-panel-header">
                    <div class="configuration-panel-title">
                        Trigger Setup
                    </div>
                </div>
                <div class="configuration-panel-body no-footer">
                </div>
            </aside>
            <div class="flows-center" style="display: flex; flex-direction: column; width: 100%; max-width: calc(100% - 350px);">
                <div class="flow-canvas" style="user-select: unset;">
                    <div class="kl-zoom-container" style="position: relative;">
                        <div class="kl-zoom" style="transform: scale(1); transform-origin: left top;">
                            <div class="placed-components">
                                <div class="root-branch ">
                                    <div class="placed-component-container trigger logic">
                                        <!--unconfigured-->
                                        <div role="button" tabindex="-1">
                                            <div role="button" tabindex="-1" class="placed-component trigger logic selected">
                                                <div class="placed-component-body">
                                                    <div class="placed-component-icon-container">
                                                        <div class="placed-component-icon-background">
                                                            <i class="kl-icon kl-icon-trigger-bolt"></i>
                                                        </div>
                                                    </div>
                                                    <div class="placed-component-content">
                                                        <div class="placed-component-header">
                                                            <div class="placed-component-title"><span>Trigger</span></div>
                                                            <div class="placed-component-dropdown-container"></div>
                                                        </div>
                                                        <div class="placed-component-main" data-actionid="_FAKE_">
                                                            <p class=""><span class="TextStyleTemplate-sc-1jbnw9u-0 iGIlQp utilities__InlineBody-sc-1og1v64-0 kMXaEU">Select a flow trigger on the left to get started.</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="placed-component-footer"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="placed-component-container time_delay">
                                        <div class="droppable-target droppable-node" draggable="true">
                                            <div class="component-node-container">
                                                <div class="add-component-node"><i class="fas fa-plus"></i></div>
                                            </div>
                                        </div>
                                        <div role="button" tabindex="-1">
                                            <div class="draggable-time-delta-component" draggable="true">
                                                <div role="button" tabindex="-1" class="placed-component time-delta timing collapsed">
                                                    <div class="placed-component-body">
                                                        <div class="placed-component-icon-container">
                                                            <div class="placed-component-icon-background">
                                                                <i class="kl-icon kl-icon-clock"></i>
                                                            </div>
                                                        </div>
                                                        <div class="placed-component-content">
                                                            <div class="placed-component-header">
                                                                <div class="placed-component-title">
                                                                    <span class="scheduled-time-component"><span class="scheduled-time"><span class="readable-time">Wait 4 hours</span></span></span>
                                                                </div>
                                                                <div class="placed-component-dropdown-container">
                                                                    <div class="header-settings "><ul class=" pull-right"><li class="dropdown"><a href="#" class="dropdown-toggle settings-dropdown"><i data-testid="flow-canvas-placed-action-component-action-dropdown" class="kl-icon kl-icon-menu-dots"></i></a><ul class="dropdown-menu  "><li><a href="#" style="padding: 0px 5px;"><i role="img" class="LegacyIcon__StyledIcon-sc-1rq4n18-0 bndzyx kl kl-clone-email" aria-hidden="true" style="padding-right: 5px;"></i>Clone</a></li><li><a href="#" style="padding: 0px 5px;"><i role="img" class="LegacyIcon__StyledIcon-sc-1rq4n18-0 bndzyx kl kl-trash-filled" aria-hidden="true" style="padding-right: 5px;"></i>Delete</a></li></ul></li></ul></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="placed-component-container send_message">
                                        <div class="droppable-target droppable-node" draggable="true">
                                            <div class="component-node-container">
                                                <div class="add-component-node"><i class="fas fa-plus"></i></div>
                                            </div>
                                        </div>
                                        <div role="button" tabindex="-1">
                                            <div class="draggable-email-placed-component" draggable="true">
                                                <div class="absolute-timing-hint-wrapper">
                                                    <div role="button" tabindex="-1" class="placed-component send-email action">
                                                        <div class="placed-component-body">
                                                            <div class="placed-component-icon-container">
                                                                <div class="placed-component-icon-background">
                                                                    <i class="kl-icon kl-icon-send-email"></i>
                                                                </div>
                                                            </div>
                                                            <div class="placed-component-content">
                                                                <div class="placed-component-header">
                                                                    <div class="placed-component-title"><span>Abandoned Cart: Email 1</span></div>
                                                                    <div class="placed-component-dropdown-container">
                                                                        <div class="header-settings ">
                                                                            <ul class=" pull-right"><li class="dropdown"><a href="#" class="dropdown-toggle settings-dropdown"><i data-testid="flow-canvas-placed-action-component-action-dropdown" class="kl-icon kl-icon-menu-dots"></i></a><ul class="dropdown-menu  "><li><a href="#" style="padding: 0px 5px;"><i role="img" class="LegacyIcon__StyledIcon-sc-1rq4n18-0 bndzyx kl kl-pencil" aria-hidden="true" style="padding-right: 5px;"></i>Edit</a></li><li><a href="#" style="padding: 0px 5px;"><i role="img" class="LegacyIcon__StyledIcon-sc-1rq4n18-0 bndzyx kl kl-eye" aria-hidden="true" style="padding-right: 5px;"></i>Preview</a></li><li><a href="#" style="padding: 0px 5px;"><i role="img" class="LegacyIcon__StyledIcon-sc-1rq4n18-0 bndzyx kl kl-clone-email" aria-hidden="true" style="padding-right: 5px;"></i>Clone</a></li><li><a href="#" style="padding: 0px 5px;"><i role="img" class="LegacyIcon__StyledIcon-sc-1rq4n18-0 bndzyx kl kl-trash-filled" aria-hidden="true" style="padding-right: 5px;"></i>Delete</a></li></ul></li></ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="placed-component-main" data-actionid="56433540">It looks like you left something behind...</div>
                                                            </div>
                                                        </div>
                                                        <div class="placed-component-footer">
                                                            <div class="card-status-switcher-wrapper">
                                                                <span class="card-status-switcher  draft"><ul class=" "><li class="dropdown"><a href="#" class="dropdown-toggle "><div class="dropdown-text-with-caret">Draft<i class="fa fa-caret-down" aria-hidden="true"></i></div></a><ul class="dropdown-menu  "><li><span role="button" tabindex="-1" class="status-switcher-dropdown-item draft"><i class="fa fa-circle"></i>Draft</span></li><li><span role="button" tabindex="-1" class="status-switcher-dropdown-item manual"><i class="fa fa-circle"></i>Manual</span></li><li><span role="button" tabindex="-1" class="status-switcher-dropdown-item live"><i class="fa fa-circle"></i>Live</span></li></ul></li></ul></span>
                                                            </div>
                                                            <div class="Box__StyledBox-sc-16nrscc-0 kENtZq action-settings">
                                                                <i role="img" class="LegacyIcon__StyledIcon-sc-1rq4n18-0 hWKypy draft ADS-24-Fill ADS-24-Fill-mail-checkmark-24-fill" data-testid="flow-canvas-placed-component-setting-0" data-rh="Smart Sending is OFF" data-rh-at="top" aria-hidden="true"></i><i role="img" class="LegacyIcon__StyledIcon-sc-1rq4n18-0 hWKypy live ADS-24-Fill ADS-24-Fill-utm-24-fill" data-testid="flow-canvas-placed-component-setting-1" data-rh="UTM Tracking is ON" data-rh-at="top" aria-hidden="true"></i><i role="img" class="LegacyIcon__StyledIcon-sc-1rq4n18-0 hWKypy draft ADS-24-Fill ADS-24-Fill-filter-24-fill" data-testid="flow-canvas-placed-component-setting-filter-setting" data-rh="No Additional Filters" data-rh-at="top" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <span class="absolute-timing-hint" data-rh="This email will send on the same day as the trigger" data-rh-at="top"><i class="kl-icon kl-icon-trigger-bolt"></i>Day 0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="placed-component-container exit_node">
                                        <div class="droppable-target droppable-node" draggable="true">
                                            <div class="component-node-container">
                                                <div class="add-component-node"><i class="fas fa-plus"></i></div>
                                            </div>
                                        </div>
                                        <div class="droppable-target droppable-node">
                                            <div class="component-node-container  ">
                                            </div>
                                            <div class="placed-component-container placeholder">
                                                <div class="placed-component send-email action"></div>
                                            </div>
                                            <div class="component-node-container  "></div>
                                        </div>
                                        <div role="button" tabindex="-1">
                                            <div class="path-exit">
                                                <div class="flow-exit-node exit-node">
                                                    <span>Exit</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="kl-zoom-controls" style="position: fixed; width: 32px; left: calc(100% - 56px); bottom: 24px;">
                            <div>100%</div>
                            <div>
                                <a class="btn btn-default"><i class="fa fa-plus"></i></a>
                                <a class="btn btn-default"><i class="fa fa-minus"></i></a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/qfk/common.js"></script>
<script type="module" src="@Url.Content("~/js/qfk/flows/createflow.js?v=" + DateTime.Now.ToString("ddMMyyyymmss"))" asp-append-version="true"></script>

<script type="module">

</script>
