
@{
    ViewBag.Title = "Flows";
    Layout = "~/Views/Shared/_qfk_Layout.cshtml";
}

<!-- DataTables -->
<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
<!-- datatables js -->
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<div id="root">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <div>
                    <h4 class="title">Flows</h4>
                </div>
                <div class="page-title-right">
                    <a data-add="true" data-url='@Url.Action("create","flows", new {  } )' href="@Url.Action("create","flows", new {  } )" class="btn black_btn">Create flow</a>
                    <button name="add-flow" class="btn btn-outline-dark">Create flow</button>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card boxed_style">
                <div class="card-body">
                    <table id="datatable" class="table dt-responsive w-100 align-middle">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalAdd" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Create flow</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script src="~/js/qfk/common.js"></script>
<script type="module">
    import Http from '@Url.Content("~/js/http/index.js")';

    document.querySelector('[name="add-flow"]')?.addEventListener('click', (event) => {
        event.preventDefault();
        let _m = document.querySelector('#modalAdd'), myModal = new bootstrap.Modal(_m);
        _m.querySelector('.modal-title').innerHTML = 'Create Flow';
        // Add body
        let l = document.createElement('label', { class: "form-label" }, 'Name'),
            t = document.createElement('input', { class: "form-control", type: "text", placeholder: "e.g. Welcome series, Post purchase" });
        _m.querySelector('.modal-body').replaceChildren(l,t);
        // Add footer
        let c = document.createElement('button', { type: "button", class: "btn btn-secondary waves-effect", 'data-bs-dismiss': "modal" }, 'Close'),
            a = document.createElement('button', { type: "button", class: "btn btn-primary" }, 'Create flow');
        _m.querySelector('.modal-footer').replaceChildren(c, a);
        myModal.show(); t.focus();

        a.addEventListener('click', (evt) => {
            evt.preventDefault();
            if (t.value === '') { t.focus(); return false; };
            evt.target.disabled = true;
            Http.post(`/api/flow/create`, { params: {}, body: { name: t.value, trigger_type: 2 } }).then(response => response.json()).
                then(response => {
                    window.location = `${window.location.origin}/flows/${response.id}/edit`;
                    //myModal.hide();
                }).catch(error => {
                    console.log('error', error);
                    evt.target.disabled = false;
                    swal('Error!', error, 'error');
                });
        });
    });

</script>

