@model LaylaERP.Models.CustomerModel

@{
    ViewBag.Title = "NewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/intlTelInput.css" rel="stylesheet" />
<!-- Content Header (Page header) -->
<div class="page-title">
    <h2 class="page-heading">Users</h2>
</div>

<!-- Main content -->
<section class="content section-content">
    <div class="box box-primary col-md-10">
        <div class="box-header with-border">
            <h3 class="box-title">Add New Customer</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="form-horizontal create-new-customer" id="parent">
                    <input type="hidden" id="hfid" value="@ViewBag.id" />
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label " for="Email">Email</label>
                            <div class="">
                                <input type="email" id="txtUserEmail" class="form-control" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label " for="Nick Name">Nick Name</label>
                            <div class="">
                                <input type="text" id="txtUserNickName" class="form-control" placeholder="Nick Name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label " for="First Name">First Name</label>
                            <div class="">
                                <input type="text" id="txtFirstName" class="form-control" placeholder="First Name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label " for="Last Name">Last Name</label>
                            <div class="">
                                <input type="text" id="txtLastName" class="form-control" placeholder="Last Name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label " for="Address 1">Address 1</label>
                            <div class="">
                                <input type="text" id="txtBillingAddress1" class="form-control" placeholder="Address 1" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label " for="Address 2">Address 2</label>
                            <div class="">
                                <input type="text" id="txtBillingAddress2" class="form-control" placeholder="Address 2" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label " for="Post/Zip Code">Post/Zip Code</label>
                            <div class="">
                                <input type="text" id="txtBillingPostCode" class="form-control" placeholder="Post/Zip Code" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label " for="Country/Region">Country/Region</label>
                            <div class="">
                                <input type="text" id="txtBillingCountry" class="form-control" placeholder="Country/Region" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label " for="State/Country">State/Country</label>
                            <div class="">
                                <input type="text" id="txtBillingState" class="form-control" placeholder="State/Country" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label " for="City">City</label>
                            <div class="">
                                <input type="tel" id="txtBillingCity" class="form-control" placeholder="City" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label " for="Contact No.">Contact No.</label>
                            <div class="">
                                <input type="tel" id="txtBillingPhone" class="form-control" placeholder="Contact No." />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3  text-right">
                                <input type="submit" value="Submit" id="btnSave" class="btn btn-danger" />
                                @Html.ActionLink("Back to List", "Customer", null, new { @class = "btn btn-danger" })

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>

    </div>
    <!-- /.box -->


</section>
<!-- /.content -->
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
<script src="~/Scripts/intlTelInput.js"></script>
<script src="@Url.Content("~/js/Customer/Customer.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
<script>
    $(document).ready(function () {

        $(document).on('click', "#btnSave", function () {
            AddCustomer();
        })
        $('#txtBillingPostCode').change(function () {
            getdatabyzip();
        })


    });
    document.getElementById('txtBillingPhone').addEventListener('keyup', function (evt) {
        var phoneNumber = document.getElementById('txtBillingPhone');
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        phoneNumber.value = phoneFormat(phoneNumber.value);
    });


    function phoneFormat(input) {
        input = input.replace(/\D/g, '');
        input = input.substring(0, 10);
        var size = input.length;
        if (size == 0) {
            input = input;
        } else if (size < 4) {
            input = '(' + input;
        } else if (size < 7) {
            input = '(' + input.substring(0, 3) + ') ' + input.substring(3, 6);
        } else {
            input = '(' + input.substring(0, 3) + ') ' + input.substring(3, 6) + ' - ' + input.substring(6, 10);
        }
        return input;
    }
    var input = document.querySelector("#txtBillingPhone");
    window.intlTelInput(input, {
        // allowDropdown: false,
        // autoHideDialCode: false,
        // autoPlaceholder: "off",
        // dropdownContainer: document.body,
        // excludeCountries: ["us"],
        // formatOnDisplay: false,
        // geoIpLookup: function(callback) {
        //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        //     var countryCode = (resp && resp.country) ? resp.country : "";
        //     callback(countryCode);
        //   });
        // },
        // hiddenInput: "full_number",
        // initialCountry: "auto",
        // localizedCountries: { 'de': 'Deutschland' },
        // nationalMode: false,
        // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        // placeholderNumberType: "MOBILE",
        // preferredCountries: ['cn', 'jp'],
        // separateDialCode: true,
        utilsScript: "~/Scripts/intlTelInput.js",
    });

</script>

