
@{
    ViewBag.Title = "Editproductrule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title">
    <h2 class="page-heading">Update Order Split Logic</h2>
    <div class="text-right">
        <span title="Click here to back to order split logic list" data-placement="bottom" data-toggle="tooltip">@Html.ActionLink("Back to List", "productrule", null, new { @class = "btn btn-danger" })</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="box box-primary">
            <div class="box-body">
                <input type="hidden" id="hfid" />
                <input type="hidden" id="hfwarehouserule" />
                <input type="hidden" id="hfproductid" />

                <div class="form-group">
                    <label for="ddlproduct">Products<span style="color:red">*</span></label>
                    <select class="form-control select1" id="ddlProduct" style="width:100%;" disabled></select>
                </div>

                <div class="form-group">
                    <label for="prefixcode">Prefix-Code<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="txtprefixcode" />
                </div>

                <div class="form-group">
                    <label for="vendor">Vendor<span style="color:red">*</span></label>
                    <select class="form-control select1" id="ddlvendor" style="width:100%;"></select>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="box box-primary">
            <div class="box-body">

                <div class="form-group">
                    <label for="country">Country<span style="color:red"></span></label>
                    @*<input type="text" class="form-control" id="txtcountry" readonly />*@
                    <Select class="form-control" id="txtcountry">
                        <option value="US" selected>US</option>
                        <option value="CA">CA</option>
                    </Select>
                </div>

                <div class="form-group">
                    <label for="state">State<span style="color:red"></span></label>
                    @*<input type="text" class="form-control" id="txtstate" readonly />*@
                    <Select class="form-control" multiple id="txtstate" style="width: 100%;">
                        <option></option>
                    </Select>
                </div>

                <div class="form-group">
                    <label for="warehouse">Warehouse<span style="color:red">*</span></label>
                    <select class="form-control select1" id="ddlwarehouse" style="width:100%;"></select>
                </div>
                <div class="box-footer">
                    <a href="#" class="btn btn-danger" id="btnUpdate"><span title="Click here to update record" data-placement="top" data-toggle="tooltip"><b>Update</b></span></a>
                    
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1);

        setTimeout(function () { EditSelect(id); }, 500);

        $(document).on('click', "#btnUpdate", function () {
            updateProductWarehouseRule();
        });

        $(".select1").select2(); 
            $("#txtstate").select2({
                allowClear: true, minimumInputLength: 2, placeholder: "Search State",
                ajax: {
                    url: '/Product/GetStateData', type: "POST", contentType: "application/json; charset=utf-8", dataType: 'json', delay: 250,
                    data: function (params) { var obj = { strValue1: params.term, strValue2: $("#txtcountry").val() }; return JSON.stringify(obj); },
                    processResults: function (data) { var jobj = JSON.parse(data); return { results: $.map(jobj, function (item) { return { text: item.StateFullName, name: item.StateFullName, val: item.State, id: item.State } }) }; },
                    error: function (xhr, status, err) { }, cache: true
                }
            });
        isEdit(true);
    });

    function isEdit(val) {
        localStorage.setItem('isEdit', val ? 'yes' : 'no');
    }
</script>

<script>
    function EditSelect(id) {
        var strValue1 = id;
        var obj =
            $.ajax({
                url: "/Setup/SelectTableWarehouseRule/" + strValue1,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                data: JSON.stringify(obj),
                success: function (data) {
                    console.log(data);
                    var jobj = JSON.parse(data);
                    if (jobj.length > 0) {
                        $("#ddlProduct").val(jobj[0].pid).trigger('change');
                        setTimeout(function () { $("#ddlwarehouse").val(jobj[0].warehouseid).trigger('change'); }, 2000);
                        $("#ddlvendor").val(jobj[0].vendorid).trigger('change');
                        $("#txtcountry").val(jobj[0].country).trigger('change');
                        //$("#txtstate").val(jobj[0].state);
                        $("#hfid").val(jobj[0].id);
                        $("#hfproductid").val(jobj[0].pid);
                        $("#txtprefixcode").val(jobj[0].code);
                        $("#hfwarehouserule").val(jobj[0].fk_product_rule);
                        if (jobj[0].state !== null && jobj[0].state !== undefined)
                        $("#txtstate").select2("val", [jobj[0].state.split(',')]);   
                        //$("#txtstate").empty().append('<option value="' + jobj[0].state + '" selected>' + jobj[0].state + '</option>');
                        //$("#ddlwarehouse").append('<option value="' + jobj[0].warehouseid + '" selected>' + jobj[0].warehouse + '</option>');
                    }
                },
                error: function (msg) {

                }
            });

    }

</script>

<script src="@Url.Content("~/js/Setup/editproductrule.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>