
@{
    ViewBag.Title = "editfreeproduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h2 class="page-heading">Assign Free Product Edit</h2><span title="Click Here To Back To List" data-placement="bottom" data-toggle="tooltip"><a href="../../Setup/freeproduct" class="btn btn-danger">Back to List</a></span>
    <div class="text-right">

    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-group">
                    <input type="hidden" id="hfid" />
                    <label for="product">Product<span style="color:red">*</span></label>
                    <select class="form-control select2" id="ddlproduct" style="width:100%;" disabled></select>
                </div>

                <div class="form-group">
                    <label for="freeproduct">Free Product<span style="color:red">*</span></label>
                    <select class="form-control select2" id="ddlfreeproduct" style="width:100%;"></select>
                </div>

                <div class="form-group">
                    <label for="quantity">Quantity<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="txtquantity" />
                </div>

                <div class="form-group">
                    <input type="checkbox" id="chkstatus" name="status"> <label for="Active">Active</label><br>
                </div>

                <div class="box-footer">
                    <a href="#" class="btn btn-danger" id="btnUpdate"><span title="Click Here To Update Details" data-placement="bottom" data-toggle="tooltip"><b>Update</b></span></a>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1);
        EditSelect(id);
        getProduct();
        getfreeProduct();
        $('.select2').select2();
        $("#btnUpdate").click(function () {
            UpdateFreeProduct();
        })
    })
</script>

<script>
    function EditSelect(id) {
        var strValue1 = id;
        var obj =
            $.ajax({
                url: "/Setup/SelectFreeProduct/" + strValue1,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                data: JSON.stringify(obj),
                success: function (data) {
                    console.log(data);
                    var jobj = JSON.parse(data);
                    if (jobj.length > 0) {
                        console.log(jobj[0].free_product_id);
                        $("#hfid").val(jobj[0].rowid);
                        $("#ddlproduct").val(jobj[0].product_id).trigger('change');
                        $("#ddlfreeproduct").val(jobj[0].free_product_id).trigger('change');
                        $("#txtquantity").val(jobj[0].free_quantity);
                        jobj[0].status == true ? $("#chkstatus").prop("checked", true) : $("#chkstatus").prop("checked", false);
                    }
                },
                error: function (msg) {

                }
            });

    }

</script>

<script>
    function getProduct() {
        $.ajax({
            url: "/Setup/GetProduct",
            type: "Get",
            success: function (data) {
                var opt = '<option value="0">Please Select Product</option>';
                for (var i = 0; i < data.length; i++) {
                    opt += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                }
                $("#ddlproduct").html(opt);
            }

        });
    }

    function getfreeProduct() {
        $.ajax({
            url: "/Setup/GetProducts2",
            type: "Get",
            success: function (data) {
                var opt = '<option value="0">Please Select Product</option>';
                for (var i = 0; i < data.length; i++) {
                    opt += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                }
                $("#ddlfreeproduct").html(opt);
            }

        });
    }
</script>

<script>
    function UpdateFreeProduct() {
        id = $("#hfid").val();
        productid = $("#ddlproduct").val();
        freeproductid = $("#ddlfreeproduct").val();
        quantity = $("#txtquantity").val();
        status = $("#chkstatus").prop("checked") ? 1 : 0;

        if (productid == 0) {
            swal('Alert', 'Please Select Product', 'error').then(function () { swal.close(); $('#ddlproduct').focus(); });
        }
        else if (freeproductid == 0) {
            swal('Alert', 'Please Select Free Product', 'error').then(function () { swal.close(); $('#ddlfreeproduct').focus(); });
        }
        else if (productid == freeproductid) {
            swal('Alert', 'Please Select Other Free Product', 'error').then(function () { swal.close(); $('#ddlfreeproduct').focus(); });
        }
        else if (quantity == "") {
            swal('Alert', 'Please Enter Quantity', 'error').then(function () { swal.close(); $('#txtquantity').focus(); });
        }

        else {
            var obj = {
                rowid: id,
                free_product_id: freeproductid,
                free_quantity: quantity,
                status: status,
            }
            $.ajax({
                url: '/Setup/UpdateFreeProduct/', dataType: 'json', type: 'Post',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj),
                dataType: "json",
                beforeSend: function () { $("#loader").show(); },
                success: function (data) {
                    if (data.status == true) {
                        swal('Alert!', data.message, 'success').then((result) => { location.href = '../freeproduct'; });

                    }
                    else {
                        swal('Alert!', data.message, 'error');
                    }
                },
                complete: function () { $("#loader").hide(); },
                error: function (error) { swal('Error!', 'something went wrong', 'error'); },
            })

        }

    }
</script>