
@{
    ViewBag.Title = "Purchase Order Disapprove";
    Layout = null;
}

<h2 class="lbl-tilte" data-status="@ViewBag.status" data-id="@ViewBag.id">Purchase Order Disapprove.</h2>
<script src="~/Content/AdminLTE-3.1.0/jquery/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        let _status = $('.lbl-tilte').data('status'), _id = parseInt($('.lbl-tilte').data('id')) || 0;
        if (_status == "Success") {
            $('.lbl-tilte').empty().append('Your purchase order Disapproved. <a title="Click here" href="' + window.location.origin + '">Click here</a>');
            //getPurchaseOrderPrint(_id);
        }
        else { $('.lbl-tilte').empty().append(_status + ' <a title="Click here" href="' + window.location.origin + '">Click here</a>');}
    });

    function getPurchaseOrderPrint(id) {
        if (id > 0) {
            var option = { strValue1: id };
            $.ajax({
                url: "/PurchaseOrder/GetPurchaseOrderPrint", type: "Get", beforeSend: function () { }, data: option,
                success: function (result) { printinvoice(id, result); },
                complete: function () { setTimeout(function () { window.location = window.location.origin; }, 10000); },
                error: function (xhr, status, err) { console.log(xhr); }, async: false
            });
        }
    }
    function printinvoice(id, result) {
        let data = JSON.parse(result.data); 
        let po_authmail = data['po'][0].po_authmail;
        
        let _com_add = result.com_name + ', <br>' + result.add + ', <br>' + result.city + ', ' + result.state + ' ' + result.zip + ', <br>' + (result.country == "CA" ? "Canada" : result.country == "US" ? "United States" : result.country) + '.<br>';
        _com_add += 'Phone: ' + result.phone.toString().replace(/(\d\d\d)(\d\d\d)(\d\d\d\d)/, "($1) $2-$3") + ' <br> ' + result.email + ' <br> ' + result.website;

        //$('#PrintModal .modal-body').empty().append(myHtml);
        let opt = { strValue1: po_authmail, strValue2: data['po'][0].ref, strValue3: '', strValue4: data['po'][0].user_email, strValue5: _com_add }
        if (opt.strValue1.length > 5) {
            $.ajax({
                type: "POST", url: '/PurchaseOrder/SendMailInvoice', contentType: "application/json; charset=utf-8", dataType: "json", data: JSON.stringify(opt),
                success: function (result) {
                    console.log(result);
                    setTimeout(function () { window.location = window.location.origin; }, 10000);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) { alert(errorThrown); },
                complete: function () { setTimeout(function () { window.location = window.location.origin; }, 10000); }, async: false
            });
        }
    }
</script>
