
@{
    ViewBag.Title = "List Bank Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*datatables CSS*@
<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
@*datatables js*@
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap.min.js" type="text/javascript"></script>

<input type="hidden" id="hfEdit" value="" />
<div class="page-title">
    <h2 class="page-heading">List Bank Accounts</h2><a class="btn btn-danger" href="../bank/newfinaccount" id="btnAddAccount" onclick="return ActivityLog('Add bank accounts','/Bank/BankAccountList');"><span title="Click here to add new bank account" data-placement="bottom" data-toggle="tooltip">Add Account</span></a>
</div>
<section class="content section-content table-design customer-section">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" id="mytabs" role="tablist">
            <li class="active"><a href="#tab_1" data-toggle="tab">Bank Account</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
               
                <div class="userrole_section section_wrapper appearance-menu-section">
                    @*<form id="saveForm" name="saveForm" method="post" autocomplete="off">*@
                    <div class="box box-primary">
                        <div class="box-header">
                            <table id="dtdata" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                <thead>
                                    <tr>
                                        <th>Account Number</th>
                                        <th>Label</th>
                                        <th>Type</th>
                                        <th>Accounting Account</th>
                                        <th>Open Account Initial Amount</th>
                                        <th>Balance</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    @*</form>*@
                </div>
            </div>
            <!-- Tab warehouse end-->

        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        BankAccountList();

        var loc = window.location.pathname;
        CheckPermissions("#btnAddAccount", "#hfEdit", "", loc);
        });

</script>
<script>
    function BankAccountList() {
        
        $.ajax({
            url: '/Bank/GetBankAccountList',
            method: 'post',
            datatype: 'json',
            contentType: "application/json; charset=utf-8",
            processing: true,
            
            success: function (data) {
                $('#dtdata').dataTable({
                    destroy: true,
                    scrollX: true,
                    data: JSON.parse(data),
                    "columns": [
                        { data: 'account_number', title: 'Account Number', sWidth: "10%" },
                        { data: 'label', title: 'Label', sWidth: "10%" },                      
                        { data: 'type', title: 'Account Type', sWidth: "15%" },
                        { data: 'accounting', title: 'Accounting Account', sWidth: "15%" },
                        //{ data: 'journal', title: 'Accounting code journal', sWidth: "15%" },
                        { data: 'initial_balance', title: 'Open Account Initial Balance', sWidth: "15%", render: $.fn.dataTable.render.number(',', '.', 2, '$') },
                        { data: 'balance', title: 'Balance', sWidth: "10%", render: $.fn.dataTable.render.number(',', '.', 2, '$') },
                        { data: 'status', title: 'Status', sWidth: "10%" },
                        {
                            'data': 'ID', sWidth: "8%",
                            'render': function (id, type, full, meta) {
                                if ($("#hfEdit").val() == "1") {
                                    return '<span title="Click here to edit bank details" data-placement="bottom" data-toggle="tooltip"><a href="../Bank/financialaccount/' + id + '" onclick="ActivityLog(\'Edit bank account\',\'Bank/financialaccount/' + id + '\');"><i class="glyphicon glyphicon-pencil"></i></a></span>';
                                }
                               else { return "No Permission"; }
                            }
                        },
                    ],
                    "order": [[0, 'desc']],
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
            }
        });

    }
</script>
<script src="@Url.Content("~/js/Users/RolePermission.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>