
@{
    ViewBag.Title = "New Financial Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Content/DataTables/bootstrap-datepicker.js"></script>

<div class="page-title">
    <h2>New Financial Account</h2><span title="Click Here To Back To List" data-placement="bottom" data-toggle="tooltip">@Html.ActionLink("Back to List", "BankAccountList", null, new { @class = "btn btn-danger" })</span>
</div>
<section class="content section-content massstocktransfer commercial_proposal mt-1" id="new_bank_account_section">
    <div class="col-md-12">
        <div class="box box-primary create-user-primary">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="bankcash">Bank or Cash Label</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtbankcashlabel" placeholder="Enter Bank or Cash Label">
                        </div>
                        <div class="form-group">
                            <label for="accounttype">Account Type</label><span style="color:red">*</span>
                            <select class="form-control" id="txtaccounttype">
                                <option value="1">Saving Account</option>
                                <option value="2">Current or Credit Card Account</option>
                                <option value="3">Cash Account</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="bankstatus">Status</label><span style="color:red">*</span>
                            <select class="form-control" id="txtbankstatus">
                                <option  value="1">Open</option>
                                <option  value="0">Close</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="accountcountry">Account Country</label><span style="color:red">*</span>
                            <select class="form-control" id="txtaccountcountry">
                                <option selected value="US">United States</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="state">State/Province</label><span style="color:red">*</span>
                            <input class="form-control" type="text" id="txtstate" />
                            @*<select class="form-control" id="txtstate">
                <option selected value="NY">New York</option>
        </select>*@
                        </div>

                        <div class="form-group">
                            <label for="tag">Web</label><span style="color:red"></span>
                            <input class="form-control" type="text" id="txtweb"/>
                        </div>

                        <div class="form-group">
                            <label for="tag">Comment</label><span style="color:red"></span>
                            <input class="form-control" type="text" id="txtcomment" />
                        </div>

                        <div class="form-group">
                            <label for="tag">Initial balance</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtinitial" />
                        </div>

                    </div>
                    <div class="col-sm-4">


                        <div class="form-group">
                            <label for="tag">Date</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtdate" /><span class="even-space"></span>
                        </div>

                        <div class="form-group">
                            <label for="tag">Minimum allowed balance</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtminallowbalance" />
                        </div>

                        <div class="form-group">
                            <label for="tag">Minimum desired balance</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtdesiredbalance" />
                        </div>

                        @*<div class="form-group">
            <label for="tag">Minimum desired balance</label>
            <input type="text" class="form-control" id="txtdesiredbalance" />
        </div>*@

                        <div class="form-group">
                            <label for="tag">Bank name</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtbankname" />
                        </div>

                        <div class="form-group">
                            <label for="tag">Bank Code</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtbankcode" />
                        </div>

                        <div class="form-group">
                            <label for="tag">Account Number</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtaccountnumber" />
                        </div>

                        <div class="form-group">
                            <label for="tag">IBAN Account Number</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtIBAN" />
                        </div>

                        <div class="form-group">
                            <label for="tag">BIC/SWIFT code</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtBIC" />
                        </div>

                    </div>
                    <div class="col-sm-4">

                        <div class="form-group">
                            <label for="tag">Currency</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtcurrency" value="USD" />
                        </div>

                        <div class="form-group">
                            <label for="tag">Bank address</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtbankaddress" />
                        </div>

                        <div class="form-group">
                            <label for="tag">Account owner name</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtaccountowner" />
                        </div>

                        <div class="form-group">
                            <label for="tag">Account owner address</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtowneraddress" />
                        </div>
                        <div class="form-group">
                            <label for="tag">Accounting Account</label><span style="color:red">*</span>
                            <select class="form-control select2" id="ddlaccounting">
                                @*<option value="1">Assets</option>*@
                            </select>
                        </div>

                        <div class="form-group" style="display:none">
                            <label for="tag">Accounting code journal</label><span style="color:red">*</span>
                            <select class="form-control select2" id="ddljournal">
                            </select>
                        </div>
                        <a href="#" class="btn btn-danger" id="btnSave"><span title="Click Here To Save Bank Account Details" data-placement="bottom" data-toggle="tooltip"><b>Save</b></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {

        $(document).on('click', "#btnSave", function () {
            AddBankAccount();
        });
        $(".select2").select2();
        //getAccountingAccount();
        setTimeout(function () { $(".select2").select2(); }, 2000);
    });
</script>

<script>
    $(function () {
        $("#txtdate").datepicker({
            format: 'mm-dd-yyyy',
        });

    });
</script>

<script src="@Url.Content("~/js/Bank/Bank.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
