@{
    ViewBag.Title = "Create Ship Orders";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Ship Order</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
