
@{
    ViewBag.Title = "Return order approval by vendor";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Images/layla32.png">
    <title>Return order approval by vendor</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
