
@{
    ViewBag.Title = "AddNewEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Content/DataTables/bootstrap-datepicker.js"></script>

<div class="page-title">
    <h2>Add Events</h2> <a title="Click here to back to events list" data-placement="bottom" data-toggle="tooltip" href="../../Events/EventsList" class="btn btn-danger" data-original-title="Click here to back to list">Back to List</a>
</div>
<section class="content section-content massstocktransfer commercial_proposal mt-1" id="new_bank_account_section">
    <div class="col-md-12">
        <div class="box box-primary create-user-primary">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="label">Label</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtlabel" />
                        </div>

                        <div class="form-group">
                            <label for="startdate">Start Date</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtstartdate" /><span class="even-space"></span>
                        </div>
                        <div class="form-group">
                            <label for="enddate">End Date</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtenddate" /><span class="even-space"></span>
                        </div>

                        <div class="form-group">
                            <label for="eventassign">Event Assigned To </label><span style="color:red">*</span>
                            <select class="form-control select2" id="ddluser" placeholder="Select user" multiple style="width: 100%;"></select>
                        </div>
                        <div class="form-group">
                            <label for="tag">Related Vendor</label><span style="color:red">*</span>
                            <select class="form-control select2" id="ddlvendor">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contact">Related Contact</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtcontact" />
                        </div>
                        <div class="form-group">
                            <label for="task">Task</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txttask" />
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label><span style="color:red"></span>
                            <input type="text" class="form-control" id="txtdescription" />
                        </div>

                        <div class="form-group">
                            <label for="description">Status</label><span style="color:red"></span><br />
                            <input type="checkbox" id="chkstatus" checked/><span>Active</span>
                        </div>
                        <button class="btn btn-danger" id="btnSave"><span title="Click here to save event details" data-placement="bottom" data-toggle="tooltip">Save</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $("#txtstartdate").datepicker({
            format: 'mm-dd-yyyy',
        });
        $("#txtenddate").datepicker({
            format: 'mm-dd-yyyy',
        });
    });
</script>
<script src="~/js/jquery.mask.js" asp-append-version="true"></script>
<script src="@Url.Content("~/js/Events/Events.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>