@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body {
    font-family: 'Open Sans', sans-serif !important;
    color: #4f4f4f !important;
    font-size: 15px !important;
}
button, input, select, textarea, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
}
/********
    header
********/
.skin-blue.layla-skin .main-header .navbar {
    background: #e0e0e0;
}

    .skin-blue.layla-skin .main-header .navbar .sidebar-toggle:before {
        content: none;
    }

.skin-blue.layla-skin .main-header .logo, .skin-blue .main-header .navbar .sidebar-toggle:hover {
    background: #e0e0e0;
}

.layla-skin .navbar-custom-menu .navbar-nav li a {
    color: #ff4100 !important;
}

.layla-skin .main-header .sidebar-toggle .icon-bar {
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background: #ff4100;
}

    .layla-skin .main-header .sidebar-toggle .icon-bar:first-child {
        top: 0px;
        -webkit-animation: topbar-back 500ms linear 0s;
        -moz-animation: topbar-back 500ms linear 0s;
        animation: topbar-back 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .layla-skin .main-header .sidebar-toggle .icon-bar + .icon-bar {
        margin-top: 6px;
    }

.layla-skin .main-header .sidebar-toggle {
    padding: 5px 15px;
}
.layla-skin .main-header .navbar {
    display: flex;
    display: -ms-flex;
    align-items:center;
    -ms-align-items:center; 
}
.layla-skin .main-header .navbar-custom-menu {
margin-left:auto;
}
.skin-blue.layla-skin .wrapper, .skin-blue.layla-skin .main-sidebar, .skin-blue.layla-skin .left-side {
    background: #e0e0e0;
}
.skin-blue.layla-skin .user-panel > .info, .skin-blue.layla-skin .user-panel > .info > a {
    color: #4f4f4f;
}
.skin-blue.layla-skin .sidebar a {
    text-transform: capitalize;
    color: #4f4f4f;
}
#tab-menu .page-tabs-content a {
    padding: 0px 15px;
    
}
#tab-menu .page-tabs-content a.active {
    background: #fd4c0f;
    border: 0px;
}
    #tab-menu .page-tabs-content a i {
        font-size: 11px;
        right: -6px;
        top: -8px;
    }
    #tab-menu .page-tabs-content a.active i {
        color: #fff;
        
    }
    .main-sidebar section.sidebar {
        border-top: 1px solid #c5c5c5;
    }
.main-header .logo .logo-lg {
    height: 100%;
}

    .main-header .logo .logo-lg img {
        max-height: 100%;
        padding: 5px 0px;
    }
.content-iframe {
   /* background: #ecf0f5 !important;*/
}
.skin-blue .sidebar-form {
    border-radius: 0px;margin-right:15px;
    border: 1px solid #c3c3c3;
}
    .skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
        box-shadow: none;
        background-color: #fff;
    }
    .skin-blue .sidebar-form .btn {
        border-left: 1px solid #c3c3c3;
    }
.skin-blue .sidebar-menu > li > .treeview-menu {
margin:0px;
}

/*.skin-blue .sidebar-menu > li > .treeview-menu {
    background: #fff;
}*/
.content-tabs {
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    background: #f9f9f9 !important;
}
.content-tabs {
    line-height: 40px;
}
.slimScrollBar {
max-height:120px;}
.treeview.activeLink .nav-link {
background:#000 !important; color:#fff !important;}
.activeLink a {
    color: #fff !important;
    background: #ff4100 !important;
}
.sidebar-menu .active > a > .pull-right-container > .fa-angle-left {
    -webkit-transform: rotate( -90deg );
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate( -90deg );
}
.sidebar-menu a {
cursor:pointer;}
.skin-blue .sidebar-menu > li.active > a {
}
.skin-blue .sidebar-menu > li > .treeview-menu {
border-left:0px solid transparent;
}
    .skin-blue .sidebar-menu > li > .treeview-menu {
    border-left-color:#3c8dbc;
}
.skin-blue .sidebar-menu > li > a {
border:0px;}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a {
    background: #adadad;
    /*color: #000;*/
}
.skin-blue .sidebar-menu > li > .treeview-menu {
background:#fff;padding-left:0px;}
    .skin-blue .sidebar-menu .treeview-menu > li.active > a, .skin-blue .sidebar-menu .treeview-menu > li > a:hover, .skin-blue .sidebar-menu .treeview-menu > li > a {
        color: #4f4f4f;
    }
.treeview-menu > li > a {
    padding: 5px 5px 5px 20px !important;
}
.navbar-nav > .user-menu > .dropdown-menu, .navbar-nav > .user-menu > .dropdown-menu > .user-body {
    padding: 0px;
    border-color: #c5c5c5;
    overflow: hidden;
}

.user-panel .text-success {
    color: #09a509;
}
.skin-blue .main-header li.user-header {
    background: #fff;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
color:#000;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    border: 1px solid #c9c9c9 ;
}
.navbar-nav > .user-menu > .dropdown-menu {
margin-top:1px;}
    .navbar-nav > .user-menu > .dropdown-menu > .user-body a {
        color: #4f4f4f !important;
        padding: 5px 0px;
        display: block;
    }
    .navbar-nav > .user-menu > .dropdown-menu > .user-footer {
        background: #F1F1F1; border-top:1px solid #c5c5c5;
    }
        .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
            border: 1px solid #ff4100;
            padding: 5px 15px;
            display: inline-block;
            border-radius: 4px;
            box-shadow: 0px 0px 4px #4a4f55;
            -webkit-box-shadow: 0px 0px 4px #4a4f55;
            color: #4a4f55;
            transition: 0.5s ease all;
            background-color: rgba(0,0,0,0);
        }
            .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {
                color: #fff !important;
                background-color: #ff4100;
                transition: 0.5s ease all;
            }
            .main-footer {
                color: #fff;
                font-size: 14px;
                background: #494851;
                border-top: 2px solid #fff;
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
.tab_iframe {
    display: block;
}
.layla-skin .navbar-custom-menu .navbar-nav li a {
    color: #ff4100 !important;
    font-size: 13px;
}
    .layla-skin .navbar-custom-menu .navbar-nav li a i {
        color: #a0a0a0;
        margin-right: 3px;
        font-size: 15px;
    }

.loading-message, #loader {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255, .5);
    width: 100%;
    height: 100%;
}
    .loading-message img, #loader img {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
.main-sidebar .slimScrollDiv {
    border-right: 1px solid #c5c5c5;
}
    /***************changes*/
    .skin-blue.layla-skin .wrapper, .skin-blue.layla-skin .main-sidebar, .skin-blue.layla-skin .left-side {
        background: #f1f1f1;
    }
.skin-blue.layla-skin .main-header .navbar {
    background: #f1f1f1;
}
.skin-blue.layla-skin .main-header .logo, .skin-blue .main-header .navbar .sidebar-toggle:hover {
    background: #f1f1f1;
}
.navbar-custom-menu .dropdown-toggle:hover, .navbar-custom-menu .open .dropdown-toggle{
    background: #fff !important;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body {border:0px;
}
.profile-dialog {
width:1100px;}
    .profile-dialog .modal-content {
    border-radius:5px; background:#f9f9f9;}
.page-title {
    display: flex;
    align-items: center;
    margin: 0px;
}
    .page-title h2 {
        font-size: 25px;
        margin: 0px 10px 0px 0px;
    }
/***user profile and create*/

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.create-user-box {
}

.user-body .container-fluid, .user-body .wrapper {
    height: 100%;
}

.createuser-section {
    min-height: calc(100% - 100px);
}

.btn-danger {
    background: #ff4100 !important;
    color: #fff;
}

.form-address {
    min-height: 110px;
}


.add-profile:hover .edit-pic-profile {
    opacity: 1;
}

.add-profile i.fa {
    font-size: 14px;
    margin-right: 3px;
}

.add-profile .edit-pic-profile {
    position: absolute;
    opacity: 0;
    transition: .5s all;
    right: -25px;
    top: 0px;
    border-radius: 5px;
    background: #FD4C0F;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px 4px;
}

[for="file"] {
    display: flex;
    font-weight: 400;
    align-items: center;
    cursor: pointer;
    margin: 0px;
}

.user-box-profile {
    text-align: center;
}

.add-profile {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}

.genrate_password {
    color: #ff4100;
    background: #f5f5f5;
    font-size: 9px;
    padding: 2px 8px;
    position: absolute;
    opacity: 0;
    transition: .5s all;
    cursor: pointer;
    right: 0px;
    top: 3px;
}

.form-password-group {
    position: relative;
}

    .form-password-group:hover .genrate_password {
        opacity: 1;
    }

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.pop-btn {
display:inline-block; padding-left:30px;}
.profile-username {
    font-size: 20px;
}

.form-control {
    color: #4f4f4f;
}
/***select2*/
#userprofile .select2-container .select2-selection--single,
#userprofile .select2-selection .select2-selection--single,
.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de !important;
    border-radius: 0;
    padding: 0px 0px !important;
    height: 34px !important;
}

    #userprofile .select2-container .select2-selection--single .select2-selection__rendered,
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #4f4f4f !important;
        line-height: 32px !important;
        margin-top: 0px !important;
        padding-left:12px !important
    }

    #userprofile .select2-container .select2-selection--single .select2-selection__arrow,
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 32px !important;
    }

    #userprofile .select2-container .select2-selection--single .select2-selection__placeholder {
        color: #4f4f4f;
    }

#userprofile table .select2-container .select2-selection--single .select2-selection__placeholder {
    font-weight: 500;
}
.add-profile canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.add-profile {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    padding: 3px;
    border: 3px solid #d2d6de;
}

    .add-profile .profile-user-img {
        padding: 0px;
        border: 0px;
        object-fit: cover;
        height: 100%;
    }
button#btnGeneratePassword {
    float: right;
    border: 1px solid #ff4100;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #4a4f55;
    -webkit-box-shadow: 0px 0px 4px #4a4f55;
    color: #4a4f55;font-size:12px;
    transition: 0.5s ease all;
    background-color: rgba(0,0,0,0);
}
    button#btnGeneratePassword:hover {
        color: #fff;
        background-color: #ff4100;
        transition: 0.5s ease all;
    }
    .profile-dialog.reset-password-model {
        width: 500px;
    }
#userprofile .createuser-section,
.reset-password-model .createuser-section {
    min-height: initial;
}
div#resetpassword {
    z-index: 99999;
}
.swal2-container {
    z-index: 99999 !important;
}
.select2-container .select2-selection--single .select2-selection__clear {
    float: right !important;
}
@media(max-width:767px) {
    .layla-skin .navbar-custom-menu .navbar-nav li a i {
    color:#ff4100; font-size:20px;
    }
    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        margin-top:0px; right:0px;
    }
    .user-menu .fa-user {
        margin: 0px !important;
    }
    .main-header > .logo {
        position: absolute;
        left: 50%;
        top: 0px;
        transform: translateX(-50%);width:auto; z-index:9999;
    }
    .fixed .content-wrapper, .fixed .right-side {
        padding-top: 50px;
    }
    .main-header .user-menu + li {
    display:none;}
}


html, body, body > .wrapper {
    height: 100% !important;
}
#content-wrapper {
    height: calc(100% - 40px) !important;
    min-height: initial !important;
}
.content-iframe {
height:calc(100% - 40px);}
    .content-iframe #tab-content, .content-iframe #tab-content .tab-pane {
    height:100%;}
    .content-iframe .tab_iframe {
    height:100% !important; min-height:initial !important;}
@media(max-width:1199px) {
    .profile-dialog {
        max-width: calc(100% - 20px);
        margin: 10px auto;
    }
    .create-user-primary .select2-container {
        max-width: 100%;
        width: 100% !important;
    }
}
@media(max-width:1000px) {
    .content-iframe {
    height:100%;}
}
@media(max-width:575px) {
    .create-user-primary .box-header .col-sm-4 {
        padding: 0px;
    }
    .create-user-primary .box-header .form-group {
    display:flex; flex-direction:column;}
    .create-user-primary .box-footer .text-right .pop-btn { padding:0px;
    }
    .create-user-primary .box-footer .text-right {display:flex; justify-content:space-between;
    margin:0px;}
}

.search-box-indy #txtsearch {
height:50px;}
.search-box-indy #btnsearchbar {
    height: 50px;
    width: 60px;
    border: 1px solid #ccc;
    background: transparent;
}
.search-box-indy .createuser-section {
min-height:initial;}
.search-box-indy #saveForm .form-group {
position:relative;}
[name="strValue1"] + label {
    margin-bottom: 0px; width:100%;
    cursor: pointer;
    margin-left: 1px;
    margin-right: 0px !important;
    display: inline-flex;
    padding: 10px 35px 8px 20px;
    align-items: center;
    color: #fff;
    background: #3c8dbc;
    border: 1px solid #367fa9;
    border-radius: 3px;
    font-weight: 400;
    position: relative;
}

[name="strValue1"] {
    display: none;
    visibility: hidden;
    opacity: 0;
}

    [name="strValue1"] + label:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -7.5px;
        width: 15px;
        height: 15px;
        border: 2px solid #fff;
        border-radius: 100%;
    }

    [name="strValue1"]:checked + label:after {
        background: #fff;
    }

.table-indy {
 
    width: 100%;
}
    .table-indy th, .table-indy td {position:relative; vertical-align:middle; font-size:14px; word-break:break-all; border-bottom:1px solid #d2d6de; border-collapse:collapse; padding:5px;
    }
        .table-indy td:first-child {
        border-right:1px solid #d2d6de;}
        form#saveForm .col-sm-4 {
            display: flex;
            flex-direction: column;
        }
form#saveForm .form-group:last-child {
    border: 1px solid #d2d6de;
    flex: 1;
}
form#saveForm .form-group {
}
form#saveForm {
    display: flex;
    margin-bottom: 0px;
}
.search-box-indy .create-user-primary {
    margin-bottom:0px;
}
.table-indy td img {
width:50px; height:50px; border-radius:100%; padding:3px; border:1px solid #d2d6de;}
.table-indy td h5{margin-top:0px;margin-bottom:2px; font-size:16px; font-weight:600;}
.table-indy td a {
    position: absolute;
    right: 10px;
    top: 10px;
}