body {
    background: #f9f9f9;
}
/*****
dashboard
*******/
.bg-success, .bg-success > a {
    color: #fff !important;
}

.bg-info, .bg-info > a {
    color: #fff !important;
}

.bg-warning, .bg-warning > a {
    color: #1f2d3d !important;
}

.bg-danger, .bg-danger > a {
    color: #fff !important;
}

.bg-success {
    background-color: #28a745 !important;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.sub-heading {
    font-size: 15px;
    color: #000;
}

.dashboard-info {
    margin: 15px -7.5px 0px;
}

    .dashboard-info > .col-sm-3 {
        padding: 0px 7.5px;
    }

