
@{
    ViewBag.Title = "New Commercial Proposal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Content/DataTables/bootstrap-datepicker.js"></script>

<div class="page-title">
    <h2>New Commercial Proposal</h2>
</div>
<section class="content section-content massstocktransfer commercial_proposal mt-1">
    <div class="box box-primary">
        <div class="box-body">
            <div class="rowbox">
                <div class="col-md-3"><label>Ref.</label></div>
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="Draft" id="txtref" disabled />
                </div>
            </div>
            <div class="rowbox">
                <div class="col-md-3"><label>Vendor</label></div>
                <div class="col-md-5">
                    <select class="form-control" id="ddlVendor">
                        @*<option value="0">--Select third party--</option>*@
                    </select>
                </div>
            </div>
            <div class="rowbox">
                <div class="col-md-3"><label>Ref. Vendor</label></div>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="txtrefvendor" />
                </div>
            </div>

            <div class="rowbox">
                <div class="col-md-3"><label>Date of Proposal</label></div>
                <div class="col-md-5">
                    <input class="form-control" type="text" placeholder="7/27/2021" id="txtdatep" /><span>Now</span>
                </div>
            </div>
            <div class="rowbox">
                <div class="col-md-3"><label>Validity Duration</label></div>
                <div class="col-md-5">
                    <input class="form-control" type="text" placeholder="15" id="txtvalidity" /><span>Days</span>
                </div>
            </div>
            <div class="rowbox">
                <div class="col-md-3"><label>Payment Terms</label></div>
                <div class="col-md-5">
                    <select class="form-control" id="ddlPaymentTerms">
                        @*<option value="0">----</option>*@
                    </select><span><i class="fa fa-info-circle"></i></span>
                </div>
            </div>
            <div class="rowbox">
                <div class="col-md-3"><label>Balance</label></div>
                <div class="col-md-5">
                    <select class="form-control" id="ddlBalancedays"></select><span><i class="fa fa-info-circle"></i></span>
                </div>
            </div>
            <div class="rowbox">
                <div class="col-md-3"><label>Payment Type</label></div>
                <div class="col-md-5">
                    <select class="form-control" id="ddlGetPaymentType">
                        @*<option value="0">----</option>*@
                    </select><span><i class="fa fa-info-circle"></i></span>
                </div>
            </div>

            @*<div class="rowbox">
            <div class="col-md-3"><label>Source</label></div>
            <div class="col-md-5">
                <select class="form-control" id="ddlGetSourceType">
                    <option value="0">----</option>
                </select><span><i class="fa fa-info-circle"></i></span>
            </div>
        </div>*@

            <div class="rowbox">
                <div class="col-md-3"><label>Availability Delay(after order)</label></div>
                <div class="col-md-5">
                    <select class="form-control" id="ddlavailability">
                        <option value="0">Please Select Delay</option>
                        <option value="1">Immediate</option>
                        <option value="2">1 week</option>
                        <option value="3">2 weeks</option>
                        <option value="4">3 weeks</option>
                    </select><span><i class="fa fa-info-circle"></i></span>
                </div>
            </div>
            <div class="rowbox">
                <div class="col-md-3"><label>Shipping Method</label></div>
                <div class="col-md-5">
                    <select class="form-control" id="ddlshipping">
                        <option value="0">Please Select Shipping Method</option>
                        <option value="1">Generic transport service</option>
                        <option value="2">In-store collection</option>
                        <option value="3">UPS</option>
                    </select><span><i class="fa fa-info-circle"></i></span>
                </div>
            </div>
            <div class="rowbox">
                <div class="col-md-3"><label>Delivery Date</label></div>
                <div class="col-md-5">
                    <input class="form-control" type="text" id="deliverydate" /><span class="even-space"></span>
                </div>
            </div>
            <div class="rowbox">
                <div class="col-md-3"><label>Incoterms</label></div>
                <div class="col-md-5">
                    <select class="form-control" id="ddlIncoTerm"></select>
                    <input class="form-control" type="text" id="txtIncoTerm" />
                </div>
            </div>
            <div class="rowbox">
                <div class="col-md-3"><label>Default Doc Template</label></div>
                <div class="col-md-5">
                    <select class="form-control" id="ddldoc">
                        <option value="0">azur</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3"><label>Note(Public)</label></div>
            <div class="col-md-9">
                <textarea class="form-control" id="txtpublic"></textarea>
            </div>
            <div class="col-md-3"><label>Note(Private)</label></div>
            <div class="col-md-9">
                <textarea class="form-control" id="txtprivate"></textarea>
            </div>
            <div class="box-footer text-right">
                <input type="submit" class="btn btn-danger" id="btnSave" value="Create Draft" />
                @Html.ActionLink("Back to List", "ListingProposal", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
   
    
</section>

<script src="@Url.Content("~/js/CommercialPorposal/NewPorposal.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>

<script>
    $(document).ready(function () {
        $("#loader").hide();
        var dt2 = new Date();
        var dt4 = dt2.getUTCFullYear() + '-' + ("0" + (dt2.getUTCMonth() + 1)).slice(-2) + '-' + ("0" + dt2.getUTCDate()).slice(-2);
        document.getElementById("txtdatep").value = dt4;

        $(document).on('click', "#btnSave", function () {
            AddCommercialProposal();
        });

    });
</script>
<script>
    $(function () {
        $("#deliverydate").datepicker({
            format: 'yyyy-mm-dd',
        });
    });

</script>


<script>
    function AddCommercialProposal() {
        debugger
        //rowid = $("#hfid").val();
        ref = $("#txtref").val();
        vendor = $("#ddlVendor").val();
        refcustomer = $("#txtrefvendor").val();
        dateofproposal = $("#txtdatep").val();
        validationduration = $("#txtvalidity").val();
        paymentterms = $("#ddlPaymentTerms").val();
        balance = $("#ddlBalancedays").val();
        paymenttype = $("#ddlGetPaymentType").val();
        //source = $("#ddlGetSourceType").val();
        availability = $("#ddlavailability").val();
        shippingmethod = $("#ddlshipping").val();
        incoterms = $("#ddlIncoTerm").val();
        doctemplate = $("#ddldoc").val();
        notepublic = $("#txtpublic").val();
        noteprivate = $("#txtprivate").val();
        deliverydate = $("#deliverydate").val();
        incotermslocation = $("#txtIncoTerm").val();

        if (ref == "") {
            swal('Alert', 'Please enter reference name', 'error').then(function () { swal.close(); $('#txtref').focus(); });
        }
        else if (vendor == "-1") {
            swal('Alert', 'Please select vendor', 'error').then(function () { swal.close(); $('#ddlVendor').focus(); });
        }
        else if (validationduration == "") {
            swal('Alert', 'Please enter validity duration', 'error').then(function () { swal.close(); $('#txtvalidity').focus(); });
        }
        else if (paymentterms == "-1") {
            swal('Alert', 'Please select payment terms', 'error').then(function () { swal.close(); $('#ddlPaymentTerms').focus(); });
        }
        else if (balance == "-1") {
            swal('Alert', 'Please select balance', 'error').then(function () { swal.close(); $('#ddlBalancedays').focus(); });
        }
        else if (paymenttype == "-1") {
            swal('Alert', 'Please select payment type', 'error').then(function () { swal.close(); $('#ddlGetPaymentType').focus(); });
        }
        else if (availability == "0") {
            swal('Alert', 'Please select delay', 'error').then(function () { swal.close(); $('#ddlavailability').focus(); });
        }
        else if (shippingmethod == "0") {
            swal('Alert', 'Please select shipping method', 'error').then(function () { swal.close(); $('#ddlshipping').focus(); });
        }
        else if (deliverydate == "") {
            swal('Alert', 'Please enter delivery date', 'error').then(function () { swal.close(); $('#deliverydate').focus(); });
        }
        else if (incoterms == "-1") {
            swal('Alert', 'Please select incoterms', 'error').then(function () { swal.close(); $('#ddlIncoTerm').focus(); });
        }
        else {

            var obj = {
                reff: ref,
                fk_vendor:vendor,
                datep:dateofproposal,
                fin_validite: validationduration,
                validity_duration:validationduration,
                payment_term:paymentterms,
                balance:balance,
                payment_type:paymenttype,
                fk_availability:availability,
                fk_shipping_method:shippingmethod,
                fk_incoterms:incoterms,
                model_pdf:doctemplate,
                note_public:notepublic,
                note_private: noteprivate,
                date_delivery: deliverydate,
                location_incoterms: incotermslocation,

            }
            $.ajax({
                url: '/CommercialProposal/AddProposal/', dataType: 'json', type: 'Post',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj),
                dataType: "json",
                beforeSend: function () { $("#loader").show(); },
                success: function (data) {
                    if (data.status == true) {
                        //$('#parent > input:text').val('');
                        swal('Alert!', data.message, 'success');
                    }
                    else {
                        swal('Alert!', data.message, 'error');
                    }
                },
                complete: function () { $("#loader").hide(); },
                error: function (error) { swal('Error!', 'something went wrong', 'error'); },
            })

        }
    }
                        
</script>