@{
    ViewBag.Title = "List Financial Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h2>Bank Accounts</h2>
    <a class="btn btn-danger" id="btnAdd" href="newfinaccount">Create New</a>
</div>
<section class="content section-content massstocktransfer commercial_proposal mt-1" id="bank_account_section">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Bank account</a></li>
            <li><a href="#tab_2" data-toggle="tab">Bank entries</a></li>
            <li><a href="#tab_3" data-toggle="tab">Planned entries</a></li>
            <li><a href="#tab_4" data-toggle="tab">Monthly reporting</a></li>
            <li><a href="#tab_6" data-toggle="tab">Account statements</a></li>
            <li><a href="#tab_7" data-toggle="tab">Linked files</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="d-flex proposal-top">
                            <div class="edit-proposal-box">
                                <div class="proposal-box">
                                    <input type="file" name="file" id="proposal" class="inputfile">
                                    <label for="proposal"><i class="fas fa-landmark"></i></label>
                                </div>
                                <div class="edit-proposal-texts">
                                    <h3 class="box-title">#101</h3>
                                    <p>Capital One</p>
                                    <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i>United States</p>
                                </div>
                            </div>
                            <div class="back-to-list">
                                <p><button class="btn btn-danger">Back to list</button></p>
                                <p><button class="btn btn-danger">Open</button></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Account type</label>
                                    <div class="col-md-8">
                                        <p>Current or credit card account</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Currency</label>
                                    <div class="col-md-8">
                                        <p>Yes</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Minimum allowed balance</label>
                                    <div class="col-md-8">
                                        <p>-</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Minimum desired balance</label>
                                    <div class="col-md-8">
                                        <p>-</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Accounting account</label>
                                    <div class="col-md-8">
                                        <p>1030 - <span class="text-gray">Savings Account</span></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Accounting code journal</label>
                                    <div class="col-md-8">
                                        <p>BQ - <span class="text-gray">Finance journal</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Tags/categories</label>
                                    <div class="col-md-6">
                                        <p>Comment</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Bank name</label>
                                    <div class="col-md-6">
                                        <p>Capital One Bank</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Bank code</label>
                                    <div class="col-md-6">
                                        <p>54</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">IBAN account number</label>
                                    <div class="col-md-6">
                                        <p>-</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">BIC/SWIFT code</label>
                                    <div class="col-md-6">
                                        <p>-</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">ICS</label>
                                    <div class="col-md-6">
                                        <p>-</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">ICSTransfer</label>
                                    <div class="col-md-6">
                                        <p>-</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Bank address</label>
                                    <div class="col-md-6">
                                        <p>Calfornia</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Account owner name</label>
                                    <div class="col-md-6">
                                        <p>Layla Sleep</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Account owner address</label>
                                    <div class="col-md-6">
                                        <p>157 Church Street Suite 1956, New Haven CT 06510</p>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer text-right">
                                <button class="btn btn-danger">Modify</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_2">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="d-flex proposal-top">
                            <div class="edit-proposal-box">
                                <div class="proposal-box">
                                    <input type="file" name="file" id="proposal" class="inputfile">
                                    <label for="proposal"><i class="fas fa-landmark"></i></label>
                                </div>
                                <div class="edit-proposal-texts">
                                    <h3 class="box-title">#101</h3>
                                    <p>Capital One</p>
                                    <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i>United States</p>
                                </div>
                            </div>
                            <div class="back-to-list">
                                <p><button class="btn btn-danger">Back to list</button></p>
                                <p><button class="btn btn-danger">Open</button></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title">
                                    Bank entries <span class="badge">6</span>
                                </h3>
                            </div>
                            <div class="box-body">
                                <div class="table-responsive bank-table-wrapper">
                                    <table id="dtdata" class="table-blue table check-table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Ref.</th>
                                                <th>Description</th>
                                                <th>Oper. Date</th>
                                                <th>Value date</th>
                                                <th>Type</th>
                                                <th>Number</th>
                                                <th>Third-party/User</th>
                                                <th>Bank account</th>
                                                <th>Debit</th>
                                                <th>Credit</th>
                                                <th>Balance</th>
                                                <th>Account statement</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="ws_nowrap"><i class="fas fa-receipt"></i>- 13</span></td>
                                                <td><span class="ws_nowrap"><i class="fas fa-money-check-alt"></i>Vendor payment</span></td>
                                                <td>08/09/2021</td>
                                                <td>08/09/2021</td>
                                                <td>Credit card</td>
                                                <td>&nbsp;</td>
                                                <td>Hangzhou Pinhang Home Textile Co.,Ltd (Home Tex)</td>
                                                <td>#101</td>
                                                <td>54,434.14</td>
                                                <td>&nbsp;</td>
                                                <td>-6,684.14</td>
                                                <td>&nbsp;</td>
                                                <td>
                                                    <span class="ws_nowrap">
                                                        <a href="#">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                        <a href="#">
                                                            <i class="fas fa-trash marginleftonly"></i>
                                                        </a>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer text-right">
                                <button class="btn btn-danger">Modify</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_3">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="d-flex proposal-top">
                            <div class="edit-proposal-box">
                                <div class="proposal-box">
                                    <input type="file" name="file" id="proposal" class="inputfile">
                                    <label for="proposal"><i class="fas fa-landmark"></i></label>
                                </div>
                                <div class="edit-proposal-texts">
                                    <h3 class="box-title">#101</h3>
                                    <p>Capital One</p>
                                    <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i>United States</p>
                                </div>
                            </div>
                            <div class="back-to-list">
                                <p><button class="btn btn-danger">Back to list</button></p>
                                <p><button class="btn btn-danger">Open</button></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title">
                                    Bank entries <span class="badge">6</span>
                                </h3>
                            </div>
                            <div class="box-body">
                                <div class="table-responsive bank-table-wrapper">
                                    <table id="dtdata" class="inventory-table table-blue table check-table table-bordered table-striped">
                                        <tbody>
                                            <tr>
                                                <td>Due date</td>
                                                <td>Description</td>
                                                <td>Third-party</td>
                                                <td>Debit</td>
                                                <td>Credit</td>
                                                <td class="text-right">Balance</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left" colspan="5">Current balance</td>
                                                <td class="ws_nowrap text-right">-6,684.14</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left" colspan="5">Remaining unpaid</td>
                                                <td class="ws_nowrap text-right">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>08/09/2021</td>
                                                <td>SI2108-0002</td>
                                                <td>FXI</td>
                                                <td class="ws_nowrap text-right">50,794.00</td>
                                                <td>&nbsp;</td>
                                                <td class="ws_nowrap text-right">-57,478.14</td>
                                            </tr>
                                            <tr>
                                                <td>08/09/2021</td>
                                                <td>SI2108-0002</td>
                                                <td>FXI</td>
                                                <td class="ws_nowrap text-right">50,794.00</td>
                                                <td>&nbsp;</td>
                                                <td class="ws_nowrap text-right">-57,478.14</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left" colspan="5">Future balance (USD)</td>
                                                <td class="ws_nowrap text-right">$-57,560.96</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_4">
                <h2 class="box-title">Monthly reporting</h2>
            </div>
            <div class="tab-pane" id="tab_6">
                <h2 class="box-title">Account statements</h2>
            </div>
            <div class="tab-pane" id="tab_7">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="d-flex proposal-top">
                            <div class="edit-proposal-box">
                                <div class="proposal-box">
                                    <input type="file" name="file" id="proposal" class="inputfile">
                                    <label for="proposal"><i class="fas fa-landmark"></i></label>
                                </div>
                                <div class="edit-proposal-texts">
                                    <h3 class="box-title">#101</h3>
                                    <p>Capital One</p>
                                    <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i>United States</p>
                                </div>
                            </div>
                            <div class="back-to-list">
                                <p><button class="btn btn-danger">Back to list</button></p>
                                <p><button class="btn btn-danger">Open</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table-blue table check-table table-bordered inventory-table fixed-table">
                            <tbody>
                                <tr>
                                    <td class="titlefield">Number of attached files/documents</td>
                                    <td class="text-left" colspan="3">0</td>
                                </tr>
                                <tr>
                                    <td class="titlefield">Total size of attached files/documents</td>
                                    <td class="text-left" colspan="3">0 b.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <label class="control-label">Attach a new file/document</label>
                                <div class="col-sm-12">
                                    <form class="form-inline">
                                        <div class="form-group align-items-end file-group">
                                            <input class="form-control-file file_input_elem" type="file" multiple="" accept="">
                                            <input type="submit" class="btn btn-danger" name="sendit" value="Upload">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="box-header">
                                <label class="control-label">Link a new file/document</label>
                                <div class="col-sm-12">
                                    <form class="form-inline">
                                        <div class="form-group align-items-center file-group">
                                            <input type="text" class="form-control" " placeholder="Url to Link">
                                            <input type="text" class="form-control" placeholder="Label">
                                            <button type="submit" class="btn btn-danger">Link</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="mb-35">
                                    <label class="control-label">Attached files and documents</label>
                                    <div class="table-responsive bank-table-wrapper">
                                        <table class="inventory-table table-blue table check-table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Documents</th>
                                                <th>Size</th>
                                                <th>Date</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="mb-35">
                                    <label class="control-label">Linked files and documents</label>
                                    <div class="table-responsive bank-table-wrapper">
                                        <table class="inventory-table table-blue table check-table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Linked</th>
                                                <th>Date</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>