
@{
    ViewBag.Title = "New Financial Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h2>Add New Financial Account</h2>
</div>
<section class="content section-content massstocktransfer commercial_proposal mt-1" id="new_bank_account_section">

</section>