@{
    ViewBag.Title = "Accounting Journal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content section-content 404-section">
    <div class="notfound-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="error-msg">
                        <span _ngcontent-serverapp-c40="">Ooops.</span>
                        The Page You’re Looking For Isn’t Here.
                    </div>
                    <div class="back-home">
                        <a href="/">GO BACK</a>
                        <a href="/">Laylasleep.com</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="error-icon">
                        <img loading="lazy" alt="Page Not Found" src="https://quickfix16.com/wp-content/themes/layla-white/images/home-404.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
