
@{
    ViewBag.Title = "Purchase Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .ml-auto {
        margin-left: auto;
    }
</style>
<div class="page-title mb-35">
    <h2>Kits & Buying Prices </h2>&nbsp;&nbsp;&nbsp;&nbsp;<a href="../ListProduct" class="btn no-btn">Back to list</a>
</div>
<section class="content section-content massstocktransfer commercial_proposal mt-1" id="proposal-table">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a class="active" href="#tab_21" data-toggle="tab">Buying prices<span class="badge badge-danger"></span></a></li>
            <li><a href="#tab_22" style="display:none" data-toggle="tab">Product</a></li>
            <li><a href="#tab_23" style="display:none" data-toggle="tab">Selling prices</a></li>
            <li><a href="#tab_24" data-toggle="tab">Kits<span class="badge badge-danger"></span></a></li>
            <li><a href="#tab_25" data-toggle="tab">Notes</a></li>
            <li><a href="#tab_26" data-toggle="tab">Linked files</a></li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane active" id="tab_21">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="d-flex proposal-top">
                            <div class="back-to-list">
                                <div class="d-flex align-items-center">
                                    <label class="control-label ws_nowrap">Select Variation:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <select name="ddlproductchild" id="ddlproductchild" class="form-control">
                                    </select>
                                </div>
                                @*<p><button class="btn btn-danger">Signed(needs billing)</button></p>*@
                            </div>
                            <div class="edit-proposal-box">
                                <div class="proposal-box" style="display:none">
                                    <input type="file" name="file" id="proposal" class="inputfile">
                                    <label for="proposal"><i class="fa fa-edit"></i></label>
                                </div>
                                <div class="edit-proposal-texts" style="display:none">
                                    <h3 class="box-title" id="txtprosutname"></h3>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Cost price</label>
                                    <div class="col-md-8">
                                        <p id="txtCostprice"></p>
                                    </div>
                                </div>

                                @*<div class="form-group">
                                        <label class="col-md-4 control-label">Weighted average price</label>
                                        <div class="col-md-8">
                                            <p id="txtaverageprice"></p>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Best buying price</label>
                                    <div class="col-md-8">
                                        <p id="txtbestbying"></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <button id="btnbuying" class="btn btn-danger" style="margin-bottom:20px;">Add buying price</button>
                        <div id="dvbuysing">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">SKU</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="txtvendersku" readonly class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Vendor</label>
                                        <div class="col-sm-9">
                                            <select id="ddlvender" class="form-control">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Min. purchase quantity</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="txtminpurchasequantity" value="1" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Sales Tax </label>
                                        <div class="col-sm-9">
                                            <input type="text" id="txtSaletax" class="form-control">
                                        </div>
                                    </div>


                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Price (with no discount)</label>
                                        <div class="col-sm-3">
                                            <input type="text" id="txtcurrencyconversionrate" class="form-control">
                                        </div>
                                        <div class="col-sm-6">
                                            <select id="ddltaxrate" class="form-control">
                                                <option value="0" selected="">Excl. tax</option>
                                                <option value="1">Inc. tax</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Cost Price</label>
                                        <div class="col-sm-3">
                                            <input type="text" id="txtcostprice" class="form-control">
                                        </div>
                                    </div>


                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Discount</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="txtDiscountqty" class="form-control">
                                        </div>
                                        <div class="col-sm-1">
                                            %
                                        </div>
                                    </div>

                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Remarks</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="txtRemarks" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex">
                                        <div class="col-sm-8">
                                        </div>
                                        <div class="col-sm-2">
                                            <button id="btnbuyingsave" class="btn btn-danger">Saved</button>
                                        </div>
                                        <div class="col-sm-2">
                                            <button id="btnbuyingcl" class="btn btn-danger">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h2 class="box-title">Vendor prices</h2>
                            </div>
                            <div class="box-body">
                                <div class="form-group d-flex">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" id="divVendor">
                                            <table id="dtdataVendor" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Vendor</th>
                                                        <th>Purchase quantity</th>
                                                        <th>Sales Tax</th>
                                                        <th>Price</th>
                                                        <th>Cost Price</th>
                                                        <th>Discount</th>
                                                        <th>Date</th>
                                                        <th>Action</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Vendor_services"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" style="display:none" id="tab_22">

                <div class="row rowbox proposal-row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Stock quantity</label>
                                    <div class="col-md-8">
                                        <p id="txtstockquantity"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Allow backorders</label>
                                    <div class="col-md-8">
                                        <p id="txtAllowbackorders"></p>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                        <label class="col-md-4 control-label">Shipping Class</label>
                                        <div class="col-md-8">
                                            <p id="txtShippingClass"></p>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tax Class</label>
                                    <div class="col-md-8">
                                        <p id="txtTaxClass"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Description</label>
                                    <div class="col-md-8">
                                        <p id="txtDescription"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Dimensions (L x W x H) (in)</label>
                                    <div class="col-md-6">
                                        <p id="txtDimensions"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Virtual</label>
                                    <div class="col-md-6">
                                        <p id="txtVirtual"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Manage Stock</label>
                                    <div class="col-md-6">
                                        <p id="txtManage"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane" style="display:none" id="tab_23">

                <div class="row rowbox proposal-row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">SKU</label>
                                    <div class="col-md-8">
                                        <p id="txtSku"></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Regular Price($)</label>
                                    <div class="col-md-8">
                                        <p id="txtRegularprice"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Sale Price</label>
                                    <div class="col-md-8">
                                        <p id="txtsaleprice"></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="tab-pane" id="tab_24">
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nature of product (material/finished)</label>
                                    <div class="col-md-8">
                                        <p id="txtNatureofproduct"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Regular Price($)</label>
                                    <div class="col-md-8">
                                        <p id="txtRegularpricekit"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Sale Price</label>
                                    <div class="col-md-8">
                                        <p id="txtsalepricekit"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title">List of kits with this product as a component</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group d-flex">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" id="divParent">
                                            <table id="dtdatakits" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left">Parent products</th>
                                                        <th>Label</th>
                                                        <th>Qty</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Product_Parent"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title">
                                    List of products/services that are component(s) of this kit
                                </h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group d-flex">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" id="divAddservices">
                                            <table id="dtAddservices" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                                <thead>
                                                    <tr>

                                                        <th class="text-left">Child products</th>
                                                        <th>Label</th>
                                                        <th>Minimum buying price</th>
                                                        <th>Minimum selling price</th>
                                                        <th>Stock</th>
                                                        <th style="width: 5%">Qty</th>
                                                        <th>Increase/Decrease stock on parent change</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Product_services"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer text-right">
                                <button id="btnservicessave" class="btn btn-danger">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <div class="user-top-section">
                                    <div class="tablenav top">
                                        <div class="alignleft actions bulkactions">
                                            <label class=" control-label ws_nowrap">Keyword filter:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                            <input type="text" id="txtkeewordfilter" class="form-control">
                                            <label class="control-label ws_nowrap">Category filter:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                            @*<input type="text" id="txtCategoryfilter" class="form-control">*@
                                            <select name="ddlCategoryfilter" id="ddlCategoryfilter" class="form-control">
                                            </select>
                                            <input type="button" id="filtersrchexp" value="Search" class="button" />
                                            @*<input type="submit" name="filtersrchexp" value="Export" class="button button-primary" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-header">
                                <h3 class="box-title">
                                    Search product to add
                                </h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group d-flex">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" id="divAddItemFinal">
                                            <table id="dtdatachildkits" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left">Child products</th>
                                                        <th>Label</th>
                                                        <th>Qty</th>
                                                        <th>Increase/Decrease stock on parent change</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="order_line_items"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="form-group d-flex">
                            <div class="col-sm-9">
                            </div>
                            <div class="col-sm-1">
                                <button id="btnaddupdatechild" class="btn btn-danger">ADD/UPDATE</button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="tab-pane" id="tab_25">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group mx-0">
                            <label class="control-label">Private</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="form-group mx-0">
                            <label class="control-label">Public</label>
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_26">
                <div class="box box-primary">
                    @*<div class="box-header">
                        <div class="d-flex proposal-top">
                            <div class="edit-proposal-box">
                                <div class="proposal-box">
                                    <input type="file" name="file" id="proposal" class="inputfile">
                                    <label for="proposal"><i class="fas fa-landmark"></i></label>
                                </div>
                                <div class="edit-proposal-texts">
                                    <h3 class="box-title">#101</h3>
                                    <p>Capital One</p>
                                    <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i>United States</p>
                                </div>
                            </div>
                            <div class="back-to-list">
                                <p><button class="btn btn-danger">Back to list</button></p>
                                <p><button class="btn btn-danger">Open</button></p>
                            </div>
                        </div>
                    </div>*@
                    <div class="box-body">
                        <table class="table-blue table check-table table-bordered inventory-table fixed-table">
                            <tbody>
                                <tr>
                                    <td class="titlefield">Number of attached files/documents</td>
                                    <td class="text-left" colspan="3">0</td>
                                </tr>
                                <tr>
                                    <td class="titlefield">Total size of attached files/documents</td>
                                    <td class="text-left" colspan="3">0 b.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <label class="control-label">Attach a new file/document</label>
                                <div class="col-sm-12">
                                    <form class="form-inline">
                                        <div class="form-group align-items-end file-group">
                                            <input class="form-control-file file_input_elem" type="file" multiple="" accept="">
                                            <input type="submit" class="btn btn-danger" name="sendit" value="Upload">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="box-header">
                                <label class="control-label">Link a new file/document</label>
                                <div class="col-sm-12">
                                    <form class="form-inline">
                                        <div class="form-group align-items-center file-group">
                                            <input type="text" class="form-control" " placeholder="Url to Link">
                                            <input type="text" class="form-control" placeholder="Label">
                                            <button type="submit" class="btn btn-danger">Link</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="mb-35">
                                    <label class="control-label">Attached files and documents</label>
                                    <div class="table-responsive bank-table-wrapper">
                                        <table class="inventory-table table-blue table check-table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Documents</th>
                                                    <th>Size</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="mb-35">
                                    <label class="control-label">Linked files and documents</label>
                                    <div class="table-responsive bank-table-wrapper">
                                        <table class="inventory-table table-blue table check-table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Linked</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.tiny.cloud/1/qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc/tinymce/5.8.2-114/tinymce.min.js"></script>
<script src="@Url.Content("~/js/Product/AddnewPurchase.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>

