 
@{
    ViewBag.Title = "Purchase Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .ml-auto {
        margin-left: auto;
    }
</style>
<div class="page-title mb-35">
    <h2>Kits & Buying Prices </h2>&nbsp;&nbsp;&nbsp;&nbsp;

</div>
<section class="content section-content massstocktransfer commercial_proposal mt-1" id="proposal-table">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a class="active" href="#tab_21" title="Click here to see Buying prices" data-toggle="tab">Buying prices<span class="badge badge-danger"></span></a></li>
            @*<li><a href="#tab_22" style="display:none" data-toggle="tab">Product</a></li>
                <li><a href="#tab_23" style="display:none" data-toggle="tab">Selling prices</a></li>*@

            <li title="Click here to see Kits" data-toggle="tooltip"><a href="#tab_24"  data-toggle="tab">Kits<span class="badge badge-danger"></span></a></li>
            <li title="Click here to see Linked Warehouse" data-toggle="tooltip"><a href="#tab_23"  data-toggle="tab">Linked Warehouse</a></li>
            <li title="Click here to see Linked Warehouse" data-toggle="tooltip"><a href="#tab_25" title="Click here to see Notes" data-toggle="tab">Notes</a></li>
            <li title="Click here to see Linked Warehouse" data-toggle="tooltip"><a href="#tab_26" title="Click here to see Linked files" data-toggle="tab">Linked files</a></li>
        </ul>
        <div class="tab-content">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="d-flex proposal-top">
                        <div class="back-to-list">
                            <div class="d-flex align-items-center">
                                <input type="hidden" id="hfbuyingid" />
                                <input type="hidden" id="hfwarehouseid" />
                                <label class="control-label ws_nowrap">Select Variation:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <select name="ddlproductchild" id="ddlproductchild" class="form-control">
                                </select>
                            </div>
                            @*<p><button class="btn btn-danger">Signed(needs billing)</button></p>*@
                        </div>
                        <div class="edit-proposal-box">
                            @*<div class="proposal-box" style="display:none">
                                    <input type="file" name="file" id="proposal" class="inputfile">
                                    <label for="proposal"><i class="fa fa-edit"></i></label>
                                </div>
                                <div class="edit-proposal-texts" style="display:none">
                                    <h3 class="box-title" id="txtprosutname"></h3>

                                </div>*@
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="tab_21">

                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Vendor</label>
                                    <div class="col-md-8">
                                        <p id="txtVendor"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Cost price</label>
                                    <div class="col-md-8">
                                        <p id="txtCostprice"></p>
                                    </div>
                                </div>

                                @*<div class="form-group">
                                        <label class="col-md-4 control-label">Weighted average price</label>
                                        <div class="col-md-8">
                                            <p id="txtaverageprice"></p>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Best buying price</label>
                                    <div class="col-md-8">
                                        <p id="txtbestbying"></p>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <button id="btnbuying" class="btn btn-danger" title="Click here to see buying price" data-toggle="tooltip" style="margin-bottom:20px;">Add buying price</button>
                        <div id="dvbuysing">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">SKU</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="txtvendersku" readonly class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Vendor</label>
                                        <div class="col-sm-9">
                                            <select id="ddlvender" class="form-control">
                                                <option value="">Select Vendor</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Tag/Lot/Serial No.</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="txttaglotno" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Min. purchase quantity</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="txtminpurchasequantity" value="1" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Sales Tax </label>
                                        <div class="col-sm-9">
                                            <input type="text" id="txtSaletax" class="form-control">
                                        </div>
                                    </div>


                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Price (with no discount)</label>
                                        <div class="col-sm-3">
                                            <input type="text" id="txtcurrencyconversionrate" value="0" class="form-control">
                                        </div>
                                        <div class="col-sm-6">
                                            <select id="ddltaxrate" class="form-control">
                                                <option value="0" selected="">Excl. tax</option>
                                                <option value="1">Inc. tax</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Shipping Price</label>
                                        <div class="col-sm-3">
                                            <input type="text" id="txtshippingprice" value="0" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Cost Price</label>
                                        <div class="col-sm-3">
                                            <input type="text" id="txtcostprice" class="form-control">
                                        </div>
                                    </div>


                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Discount</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="txtDiscountqty" class="form-control">
                                        </div>
                                        <div class="col-sm-1">
                                            %
                                        </div>
                                    </div>

                                    <div class="form-group d-flex">
                                        <label class="col-sm-3 control-label">Remarks</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="txtRemarks" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group d-flex">
                                        <div class="col-sm-8">
                                        </div>
                                        <div class="col-sm-2">
                                            <button id="btnbuyingsave" title="Click here to add buying price" data-toggle="tooltip" class="btn btn-danger">Add</button>
                                        </div>
                                        <div class="col-sm-2">
                                            <button id="btnbuyingcl" title="Click here to Cancel" data-toggle="tooltip" class="btn btn-danger">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h2 class="box-title">Vendor prices</h2>
                            </div>
                            <div class="box-body">
                                <div class="form-group d-flex">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" id="divVendor">
                                            <table id="dtdataVendor" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left">Vendor</th>
                                                        <th>Tag/Lot/Serial No.</th>
                                                        <th>Purchase quantity</th>
                                                        <th>Sales Tax</th>
                                                        <th>Price</th>
                                                        <th>Shipping Price</th>
                                                        <th>Cost Price</th>
                                                        <th>Discount</th>
                                                        <th>Date</th>
                                                        <th>Action</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Vendor_services"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="tab-pane active" style="display:none" id="tab_22">

            <div class="row rowbox proposal-row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Stock quantity</label>
                                <div class="col-md-8">
                                    <p id="txtstockquantity"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Allow backorders</label>
                                <div class="col-md-8">
                                    <p id="txtAllowbackorders"></p>
                                </div>
                            </div>-->
            @*<div class="form-group">
                    <label class="col-md-4 control-label">Shipping Class</label>
                    <div class="col-md-8">
                        <p id="txtShippingClass"></p>
                    </div>
                </div>*@
            <!--<div class="form-group">
                                    <label class="col-md-4 control-label">Tax Class</label>
                                    <div class="col-md-8">
                                        <p id="txtTaxClass"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Description</label>
                                    <div class="col-md-8">
                                        <p id="txtDescription"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Dimensions (L x W x H) (in)</label>
                                    <div class="col-md-6">
                                        <p id="txtDimensions"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Virtual</label>
                                    <div class="col-md-6">
                                        <p id="txtVirtual"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Manage Stock</label>
                                    <div class="col-md-6">
                                        <p id="txtManage"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane" style="display:none" id="tab_23">

                <div class="row rowbox proposal-row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">SKU</label>
                                    <div class="col-md-8">
                                        <p id="txtSku"></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Regular Price($)</label>
                                    <div class="col-md-8">
                                        <p id="txtRegularprice"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Sale Price</label>
                                    <div class="col-md-8">
                                        <p id="txtsaleprice"></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>-->



            <div class="tab-pane" id="tab_24">
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-body">
                                @*<div class="form-group">
                                        <label class="col-md-4 control-label">Nature of product (material/finished)</label>
                                        <div class="col-md-8">
                                            <p id="txtNatureofproduct"></p>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Regular Price($)</label>
                                    <div class="col-md-8">
                                        <p id="txtRegularpricekit"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Sale Price</label>
                                    <div class="col-md-8">
                                        <p id="txtsalepricekit"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title">List of kits with this product as a component</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group d-flex">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" id="divParent">
                                            <table id="dtdatakits" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left">Parent products</th>
                                                        <th>Label</th>
                                                        <th>Qty</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Product_Parent"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title">
                                    List of products/services that are component(s) of this kit
                                </h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group d-flex">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" id="divAddservices">
                                            <table id="dtAddservices" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                                <thead>
                                                    <tr>

                                                        <th class="text-left">Child products</th>
                                                        <th>Label</th>
                                                        <th>Buying price</th>
                                                        <th>Sell price</th>
                                                        <th>Stock</th>
                                                        <th>Qty</th>
                                                        <th>Increase/Decrease stock</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="Product_services"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer text-right">
                                <button id="btnservicessave" title="Click here to update quantity " data-toggle="tooltip" class="btn btn-danger">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <div class="user-top-section">
                                    <div class="tablenav top">
                                        <div class="alignleft actions bulkactions">
                                            <label class=" control-label ws_nowrap">Keyword filter:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                            <input type="text" id="txtkeewordfilter" class="form-control">
                                            <label class="control-label ws_nowrap">Category filter:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                            @*<input type="text" id="txtCategoryfilter" class="form-control">*@
                                            <select name="ddlCategoryfilter" id="ddlCategoryfilter" class="form-control">
                                            </select>
                                            <input type="button" id="filtersrchexp" value="Search" class="button" />
                                            @*<input type="submit" name="filtersrchexp" value="Export" class="button button-primary" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-header">
                                <h3 class="box-title">
                                    Search product to add
                                </h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group d-flex">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" id="divAddItemFinal">
                                            <table id="dtdatachildkits" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left">Child products</th>
                                                        <th>Label</th>
                                                        <th>Qty</th>
                                                        <th>Increase/Decrease stock</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="order_line_items"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="form-group d-flex">
                            <div class="col-sm-12 text-right">
                            
                            
                                <button id="btnaddupdatechild" title="Click here to Add/Update Child products" data-toggle="tooltip" class="btn btn-danger">Add/Update</button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="tab-pane" id="tab_23">

                <div class="row rowbox proposal-row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="control-label ws_nowrap">Warehouse:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <select name="ddlwarehouse" id="ddlwarehouse" class="form-control">
                                        <option value="">Select Warehouse</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button id="btnWarehouse" title="Click here to add warehouse" data-toggle="tooltip" class="btn btn-danger">Add</button>
                                </div>
                                <div class="form-group">

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h2 class="box-title">Warehouse</h2>
                            </div>
                            <div class="box-body">
                                <div class="form-group d-flex">
                                    <div class="col-sm-12">
                                        <div class="table-responsive" id="divwarehouse">
                                            <table id="dtdatawarehouser" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left">Warehouse</th>
                                                        <th class="text-right">Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="warehouse_services"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="tab_25">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group mx-0">
                            <label class="control-label">Private</label>
                            <textarea id="txtPrivate" class="form-control"></textarea>
                        </div>
                        <div class="form-group mx-0">
                            <label class="control-label">Public</label>
                            <textarea id="txtPublic" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group right">
                        <button id="btnNotes" title="Click here to add notes" data-toggle="tooltip" class="btn btn-danger">Add</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_26">
                <div class="box box-primary">
                    @*<div class="box-header">
                            <div class="d-flex proposal-top">
                                <div class="edit-proposal-box">
                                    <div class="proposal-box">
                                        <input type="file" name="file" id="proposal" class="inputfile">
                                        <label for="proposal"><i class="fas fa-landmark"></i></label>
                                    </div>
                                    <div class="edit-proposal-texts">
                                        <h3 class="box-title">#101</h3>
                                        <p>Capital One</p>
                                        <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i>United States</p>
                                    </div>
                                </div>
                                <div class="back-to-list">
                                    <p><button class="btn btn-danger">Back to list</button></p>
                                    <p><button class="btn btn-danger">Open</button></p>
                                </div>
                            </div>
                        </div>*@
                    <div class="box-body">
                        <table class="table-blue table check-table table-bordered inventory-table fixed-table">
                            <tbody>
                                <tr>
                                    <td class="titlefield">Number of attached files/documents</td>
                                    <td class="text-left" colspan="3"><p id="txtnumattached"></p></td>
                                </tr>
                                @*<tr>
                                        <td class="titlefield">Total size of attached files/documents</td>
                                        <td class="text-left" colspan="3">0 b.</td>
                                    </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <label class="control-label">Attach a new file/document</label>
                                <div class="col-sm-12">

                                    @*@using (Html.BeginForm("FileUploade", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {*@
                                       
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <input type="file" name="ImageFile" id="ImageFile" />
                                        </div>
                                        <div class="col-md-6 left">
                                            <input type="button" id="btnuploade" value="Upload" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="box-header">
                                    <label class="control-label">Link a new file/document</label>
                                    <div class="col-sm-12">
                                        <form class="form-inline">
                                            <div class="form-group align-items-center file-group">
                                                <input type="text" class="form-control" " placeholder="Url to Link">
                                                <input type="text" class="form-control" placeholder="Label">
                                                <button type="submit" class="btn btn-danger">Link</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>*@
                            <div class="box-body">
                                <div class="mb-35">
                                    <label class="control-label">Attached files and documents</label>
                                    <div class="table-responsive bank-table-wrapper">
                                        <div class="table-responsive" id="divfileupload">
                                            <table id="dtfileupload" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left">Documents</th>
                                                        <th>Size</th>
                                                        <th>Date</th>
                                                        <th>View</th>
                                                        <th class="text-right">Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="divfileupload_services"></tbody>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                @*<div class="mb-35">
                                        <label class="control-label">Linked files and documents</label>
                                        <div class="table-responsive bank-table-wrapper">
                                            <table class="inventory-table table-blue table check-table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Linked</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<body>
    <img src="">
</body>
<script src="https://cdn.tiny.cloud/1/qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc/tinymce/5.8.2-114/tinymce.min.js"></script>
<script src="@Url.Content("~/js/Product/AddnewPurchase.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>

