
@{
    ViewBag.Title = "ListProduct";
    
}

<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
@*datatables js*@
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<style>
    td.details-control {
        background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
    }
</style>
<div class="page-title">
    <h2>Product List</h2>
    <a class="btn btn-danger" id="btnAdd" href="AddNewProduct">Add New</a>
</div>

<section class="content section-content neworder-section table-design">
    <div class="row">
        <div class="col-md-12">
            <div class="user_subCrumbs">
                <input type="hidden" id="hfType" value="" />
                <ul class="subsubsub">
                    <li class="all"><a id="all" href="javascript:void(0);" class="current">All (<span class="count">0</span></a>) |</li>
                    <li class="published"><a href="javascript:void(0);" id="published">Live (<span class="count">0</span>)</a> |</li>
                    <li class="private"><a href="javascript:void(0);" id="private">Active (<span class="count">0</span>)</a> </li>
                    <li class="trash"><a href="javascript:void(0);" id="trash">InActive (<span class="count">0</span>)</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="user-top-section">
                <div class="tablenav top tablenav-top2">
                    <div class="alignleft actions bulkactions">
                        <select class="form-control" id="ddlbulkaction">
                            <option value="0" selected="selected">Bulk actions</option>
                            <option value="publish">Active</option>
                            <option value="trash">InActive</option>
                        </select>
                        <button type="button" id="btnChange" onclick="Status();" class="btn btn-primary btn-flat button">Apply</button>
                    </div>

                    <div class="alignleft actions">
                        <select class="form-control" id="ddltype">
                            <option value="0">Select a category</option>
                        </select>
                        <input type="submit" name="filter_action" id="btnOtherFilter" class="button" value="Filter">
                    </div>
                    <div style="display:none" class="alignleft actions">
                        <select class="form-control" id="ddlproducttype">
                            <option value="0">Filter by product type</option>
                            <option value="simple">Simple product</option>
                            <option value="downloadable">&rarr; Downloadable</option>
                            <option value="virtual">&rarr; Virtual</option>
                            <option value="grouped">Grouped product</option>
                            <option value="external">External/Affiliate product</option>
                            <option value="variable">Variable product</option>
                        </select>
                    </div>
                    <div style="display:none" class="alignleft actions">
                        <select class="form-control" id="ddstockstatus">
                            <option value="0">Filter by stock status</option>
                            <option value="instock">In stock</option>
                            <option value="outofstock">Out of stock</option>
                            <option value="onbackorder">On backorder</option>
                        </select>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end top-->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="dtdata" class="inventory-table table-blue table check-table table-bordered table-striped dataTable " width="100%">
                                <thead>
                                    <tr>
                                        @*<th style="width:10%">Parent ID</th>
                                        <th style="width:10%">ID</th>
                                        <th style="width:10%">Product Type</th>
                                        <th style="width:10%">SKU</th>
                                        <th style="width:40%">Product Name</th>
                                        <th style="width:10%" class="text-right">InHand Stock</th>
                                        <th style="width:10%" class="text-right">Units in POs</th>
                                        <th style="width:10%" class="text-right">Sale Units</th>
                                        <th style="width:10%" class="text-right">Available Units</th>
                                        <th style="width:10%" class="text-right">Damage Units</th>*@
                                        <th><input type="checkbox" name="checkall" id="checkall" onClick="CheckAll();"><label></label></th>
                                        <th style="width:10%">ID</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>SKU</th>
                                        @*<th style="display:none">Stock</th>*@
                                        @*<th class="price_threw">Price</th>*@
                                        <th class="price_threw">Retail Price</th>
                                        <th class="price_threw">Sale Price</th>
                                        <th>Categories</th>
                                        <th>Creation Date</th>
                                        <th>Publish Date</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-12 inventory-btn">
                            <button type="button" id="btnSave" class="btn btn-danger" style="display:none">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<script src="~/js/common.js"></script>
<script src="@Url.Content("~/js/Product/ProductList.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
