@model string

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>View with HTML Content</title> 
</head>
<body>
    <div>
        @*<a href="https://localhost:44351/Test/Index">ddd</a>*@
        @Html.Raw(Model)
    </div>
</body>
</html>
