
@{
    ViewBag.Title = "GetStockAtDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*datatables CSS*@
<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
@*datatables js*@
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<link href="~/Content/DataTables/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Content/DataTables/bootstrap-datepicker.js"></script>
<div class="page-title">
    <h2 class="page-heading">Stock at date</h2>
   
</div>
<section class="content content-section p-0 reports-section">
    <div class="user-top-section">
        <div class="tablenav top">
            <div class="alignleft actions bulkactions">
                <span class="even-space">Date</span><input type="text" id="date" />
                <select class="form-control" id="ddlProduct" placeholder="Select Products" style="width: 100%;">
                    <option value="0">--Select Product--</option>
                </select>

                <select class="form-control" id="ddltargetwarehouse">
                    <option value="0">--Select warehouse--</option>
                </select>


                <input type="button" name="action" id="btnsubmit" value="Go" />


            </div>
        </div>
    </div>
    <div class="userrole_section section_wrapper appearance-menu-section">
        <div class="box box-primary">
            <div class="box-header">

                <table id="dtdata" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                    <thead>
                        <tr>
                            <th>Ref</th>
                            <th>Label</th>
                            <th>Stock at date</th>
                            <th>Input stock value</th>
                            <th>Value for sell</th>
                            <th>Units in stock</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</section>

    <script type="text/javascript">
        $(document).ready(function () {
           

            $(document).on('click', "#btnsubmit", function () {
                StockTransferGrid();
                var table = $('#dtdata').DataTable();
                table.clear().draw();
            });

            $.get('/Warehouse/GetProduct', function (data) {
                var items = "";
                $.each(data, function (index, value) {
                    items += $('<option>').val(this['Value']).text(this['Text']).appendTo("#ddlProduct");
                })
            });

            $.get('/Warehouse/Gettargetwarehouse', function (data) {
                var items = "";
                $.each(data, function (index, value) {
                    items += $('<option>').val(this['Value']).text(this['Text']).appendTo("#ddltargetwarehouse");
                })
            });
        })
    </script>

    <script>
        function StockTransferGrid() {
            var id = $('#ddlProduct').val();
            var fk_entrepot = $("#ddltargetwarehouse").val();
            var mydate = $("#date").val();
            var obj = { fk_product: id, fk_entrepot: fk_entrepot, mydate: mydate };
            $.ajax({
                url: '/Warehouse/ListStockAtDate',
                method: 'post',
                datatype: 'json',
                contentType: "application/json; charset=utf-8",
                processing: true,
                data: JSON.stringify(obj),
                success: function (data) {
                    var d = JSON.parse(data);
                    if (d[0].sellvalue != null) {

                        $('#dtdata').dataTable({
                            destroy: true,
                            data: JSON.parse(data),
                            "columns": [
                                { data: 'ref', title: 'Ref', sWidth: "20%" },
                                { data: 'label', title: 'Label', sWidth: "15%", },
                                { data: 'stockatdate', title: 'Stock at date', sWidth: "20%" },
                                { data: 'inputvalue', title: 'Input value', sWidth: "15%" },
                                { data: 'sellvalue', title: 'Sell value', sWidth: "10%" },
                                { data: 'currentstock', title: 'Current Stock', sWidth: "15%" },

                            ],

                            "order": [[0, 'desc']],
                        });
                    }
                    else {
                        $('#dtdata').dataTable({
                            destroy: true,
                            "oLanguage": {
                                "sEmptyTable": "No data available in table",
                            }
                        });
                    }
                    
                },

                
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
            });

        }
    </script>

    

    <script>
        $(function () {
            $("#date").datepicker({
                format: 'yyyy-mm-dd',
            });
        });
    </script>
    