
@{
    ViewBag.Title = "Metrics";
    Layout = "~/Views/Shared/_qfk_Layout.cshtml";
}

<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
<!-- datatables js -->
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>

<div id="root">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Metrics</h4>

                <div class="page-title-right">
                    <a href="activity" class="btn btn-primary waves-effect waves-light">Activity feed</a>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="datatable" class="table dt-responsive w-100 align-middle">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script async src="@Url.Content("~/js/qfk/analytics/metrics.js?v=" + DateTime.Now.ToString("ddMMyyyymmss"))" asp-append-version="true"></script>

