
@{
    ViewBag.Title = "Partially Order List";
}

<div class="page-title">
    <h2>Partially Order List</h2>
</div>
<section class="content section-content table-design customer-section">
    <div class="tab-content">    
            <div id="divprdata" class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="dtdataPartially" class="inventory-table table-blue table check-table table-bordered table-striped dataTable" width="100%">
                                        <thead>
                                            <tr> 
                                                <th width="5%"><input type="checkbox" name="checkallpr" id="checkallpr" onClick="CheckAllpr();"><label></label></th>
                                                <th>PO No.</th>
                                                <th>Address</th>
                                                <th>SO No. Name</th>
                                                <th>Address</th>
                                                <th>Total Amount</th>
                                                <th>Paid Amount</th>
                                                <th>Balance Amount</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
</section>
