@model LaylaERP.Models.Export_Details

@{
    ViewBag.Title = "Export";
    Layout = "~/Views/Shared/_ExportLayout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="dx-viewport demo-container">
                <div id="gridContainer">
                    <h3 class="text-center text-uppercase">Order Details</h3>
                    <table id="example" class="table table-bordered" style="width:100%;">
                        <thead class="thead-dark">
                            <tr>
                                <th>Order Id</th>
                                <th>Order Date</th>
                                <th>Product Name</th>
                                <th>Item Type</th>
                                <th>Product Id</th>
                                <th>Variant Id </th>
                                <th>Qty</th>
                                <th>Subtotal</th>
                                <th>Total</th>

                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

@section scripts{

    <script type="text/javascript">
            $(document).ready(function () {
                $('#example').DataTable({
                    "ajax": {
                        "url": '/Export/GetData',
                        "type": 'GET',
                        "dataType": 'json',
                    },
                    "columns": [
                        { 'data': 'order_id' },
                        {
                            'data': 'order_created',
                            'render': function (jsonDate) {
                                var date = new Date(parseInt(jsonDate.substr(6)));
                                var month = ("0" + (date.getMonth() + 1)).slice(-2);
                                return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear();
                            }
                        },
                        { 'data': 'product_name' },
                        { 'data': 'item_type' },
                        { 'data': 'product_id' },
                        { 'data': 'variant_id' },
                        { 'data': 'qty' },
                        { 'data': 'subtotal' },
                        { 'data': 'total' }

                    ],
                    "dom": 'Bfrtip',
                    "buttons": [

                        {
                            extend: 'csv',
                            className: 'btn btn-dark rounded-0',
                            text: '<i class="fas fa-file-csv"></i> CSV'
                        },
                        {
                            extend: 'print',
                            className: 'btn btn-dark rounded-0',
                            text: '<i class="fas fa-print"></i> Print'
                        }
                    ]
                });
            });
    </script>
}
