@model LaylaERP.Models.Export_Details

@{
    ViewBag.Title = "Export";
    Layout = "~/Views/Shared/_ExportLayout.cshtml";
}
<div class="page-title">
    <h2 class="page-heading">Export</h2>
</div>

<div class="setting-section">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Orders</a></li>
            <li><a href="#tab_2" data-toggle="tab">Users</a></li>
            <li><a href="#tab_3" data-toggle="tab">Customers</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="user_subCrumbs">
                    <input type="button" id="showall" class="button" value="Show All" />
                    From <input type="text" name="fromdate" id="fromdate" />
                    To<input type="text" name="todate" id="todate" />
                    @*From <input type="date" name="fromdate" id="fromdate">
        To <input type="date" name="todate" id="todate" >*@
                <input type="button" id="btnSubmit" class="button" value="GO" />
                </div><br /><br />
                <div id="poststuff" class="woocommerce-reports-wide">
                    <div class="postbox">
                        <div class="inside reports-wide">
                            <div class="widefat">
                                <table id="exportdata" class="table-blue table table-bordered check-table" style="width:100%;">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th></th>
                                            <th>Order Id</th>
                                            <th>Order Date</th>
                                            <th>Customer Id</th>
                                            <th>Number Of Items</th>
                                            <th>Subtotal</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end tab one-->
            <div class="tab-pane" id="tab_2">
                <div class="user_subCrumbs">
                    <input type="button" id="showallusers" class="button" value="Show All" />
                    From <input type="text" name="fromdateusers" id="fromdateusers" />
                    To<input type="text" name="todateusers" id="todateusers" />
                    <input type="button" id="btnSubmit1" class="button" value="GO" />
                    <br /><br />
                </div>
                <div id="poststuff" class="woocommerce-reports-wide">
                    <div class="postbox">
                        <div class="inside reports-wide">
                            <div class="widefat">
                                <table id="exportusersdata" class="table-blue table table-bordered check-table display" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Status</th>
                                            <th>Role</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                   
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end tab two-->
            <div class="tab-pane" id="tab_3">
                <div class="user_subCrumbs">
                    <input type="button" id="showallcustomers" class="button" value="Show All" />
                    From <input type="text" name="fromdatecustomers" id="fromdatecustomers" />
                    To<input type="text" name="todatecustomers" id="todatecustomers" />
                    <input type="button" id="btnSave2" class="button" value="GO" /><br /><br />
                </div>
                <div id="poststuff" class="woocommerce-reports-wide">
                    <div class="postbox">
                        <div class="inside reports-wide">
                            <div class="widefat">
                                <table class="table-blue" id="exportcustomersdata">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Status</th>
                                            <th>Phone</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end tab three-->
        </div>
    </div>
</div>

@*<section class="content activity-section export-section table-design">
        <div class="box box-primary">
            <div class="box-header">
    <div class="row">
                <div class="dx-viewport demo-container">
                    <div id="gridContainer">
                        <table id="exportdata" class="table-blue table table-bordered check-table" style="width:100%;">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Order Id</th>
                                    <th>Order Date</th>
                                    <th>Product Name</th>
                                    <th>Item Type</th>
                                    <th>Product Id</th>
                                    <th>Variant Id </th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
</section>*@

@section scripts{

    <script type="text/javascript">
       
        $(document).ready(function () {

            //DatagridOrder();
            //DatagridUsers();
            //DatagridCustomer();
            
            $("#btnSubmit").click(function () {
                
                if ($("#fromdate").val() == "") {
                    swal('Alert', 'Please Enter From Date', 'error').then(function () { swal.close(); $('#fromdate').focus(); });
                }
                else if ($("#todate").val() == "") {
                    swal('Alert', 'Please Enter To Date', 'error').then(function () { swal.close(); $('#todate').focus(); });
                }
                else {
                        DatagridOrder();
                        $("#fromdate").val("");
                        $("#todate").val("");
                        return false;
                }
            });
            setTimeout(function () { DatagridOrder(); }, 50);

            //$(document).on('click', "#btnSave", function () {
            //    DatagridOrder();
            //})
            $("#btnSubmit1").click(function () {

                if ($("#fromdateusers").val() == "") {
                    swal('Alert', 'Please Enter From Date', 'error').then(function () { swal.close(); $('#fromdateusers').focus(); });
                }
                else if ($("#todateusers").val() == "") {
                    swal('Alert', 'Please Enter To Date', 'error').then(function () { swal.close(); $('#todateusers').focus(); });
                }
                else {
                    DatagridUsers();
                    $("#fromdateusers").val("");
                    $("#todateusers").val("");
                    return false;
                }
            });
            setTimeout(function () { DatagridUsers(); }, 50);

            $("#btnSave2").click(function () {

                if ($("#fromdatecustomers").val() == "") {
                    swal('Alert', 'Please Enter From Date', 'error').then(function () { swal.close(); $('#fromdatecustomers').focus(); });
                }
                else if ($("#todatecustomers").val() == "") {
                    swal('Alert', 'Please Enter To Date', 'error').then(function () { swal.close(); $('#todatecustomers').focus(); });
                }
                else {
                    DatagridCustomer();
                    $("#fromdatecustomers").val("");
                    $("#todatecustomers").val("");
                    return false;
                }
            });
            setTimeout(function () { DatagridCustomer(); }, 50);
            //$(document).on('click', "#btnSave2", function () {
            //    DatagridCustomer();
            //})

            $("#showall").click(function () { DatagridOrder(); return false; });
            $("#showallusers").click(function () { DatagridUsers(); return false; });
            $("#showallcustomers").click(function () { DatagridCustomer(); return false; });
        });

        //----------------Orders DataGrid Start---------------------
        function DatagridOrder() {
            var from_date = $("#fromdate").val();
            var to_date = $("#todate").val();
            //var obj = { mydate: mydate };
            $('#exportdata').DataTable({
                destroy: true,
                searching:false,
                    "ajax": {
                        "url": '/Export/GetData',
                        "type": 'POST',
                        "dataType": 'json',
                        "data": { from_date: from_date, to_date: to_date }
                        //"data": JSON.stringify(obj)
                        
                    },
                "columns": [
                    { 'data': null },
                        { 'data': 'order_id' },
                        {
                            'data': 'order_created',
                            'render': function (jsonDate) {
                                var date = new Date(parseInt(jsonDate.substr(6)));
                                var month = ("0" + (date.getMonth() + 1)).slice(-2);
                                return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear();
                            }
                        },
                        { 'data': 'customer_id' },
                        //{ 'data':'orderstatus' },
                        { 'data': 'qty' },
                        { 'data': 'subtotal' },
                        { 'data': 'total' }

                    ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0,
                    'checkboxes': {
                        'selectRow': true
                    },
                    data: null,
                    defaultContent: '',
                }],
                "select": {
                    "style": 'multi',
                    "selector": 'td:first-child'
                },
                    "order": [1, 'desc'],

                    "dom": 'Bfrtip',
                    "buttons": [

                        {
                            extend: 'csv',
                            className: 'button',
                            text: '<i class="fas fa-file-csv"></i> CSV',
                        },
                        {
                            extend: 'print',
                            className: 'button',
                            text: '<i class="fas fa-print"></i> Print'
                        }
                ],
                
                });
        }
        //------------Orders DataGrid End----------------
        //-----------Users DataGrid Start----------------
        function DatagridUsers() {
            var fromdateusers = $("#fromdateusers").val();
            var todateusers = $("#todateusers").val();
            $('#exportusersdata').DataTable({
                destroy: true,
                searching: false,
                "ajax": {
                    "url": '/Export/UsersExport',
                    "type": 'POST',
                    "dataType": 'json',
                    "data": { from_dateusers: fromdateusers, to_dateusers: todateusers}
                },

                "columns": [
                    { 'data': null, 'swidth': "5%" },
                    { 'data': 'UID', 'sWidth': "5%" },
                    { 'data': 'user_login', 'sWidth': "20%" },
                    { 'data': 'user_email', 'sWidth': "20%" },
                    { 'data': 'user_status', 'sWidth': "10%" },
                    { 'data': 'my', 'sWidth': "10%" },
                    {
                        'data': 'created_date',
                        'render': function (jsonDate) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear();
                        }
                    },

                ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0,
                    'checkboxes': { 'selectRow': true },
                    data: null,
                    defaultContent:'',
                }],
                select:{
                    style: 'multi',
                    selector:'td:first-child',
                },

                "order":[0, 'desc'],
                "dom": 'Bfrtip',
                "buttons": [

                    {
                        extend: 'csv',
                        className: 'button',
                        text: '<i class="fas fa-file-csv"></i> CSV'
                    },
                    {
                        extend: 'print',
                        className: 'button',
                        text: '<i class="fas fa-print"></i> Print'
                    }
                ],

            });
        }
        //-----------Users DataGrid End------------------------
        //--------Customer Datagrid Start-----------------------
        function DatagridCustomer() {
            var fromdatecustomers = $("#fromdatecustomers").val();
            var todatecustomers = $("#todatecustomers").val();
            $('#exportcustomersdata').DataTable({
                destroy: true,
                searching: false,
                "ajax": {
                    "url": '/Export/CustomersExport',
                    "type": 'POST',
                    "dataType": 'json',
                    "data": { from_datecustomers: fromdatecustomers, to_datecustomers: todatecustomers }
                },

                "columns": [
                    { 'data': null, 'swidth': "5%" },
                    { 'data': 'UID', 'sWidth': "5%" },
                    { 'data': 'user_login', 'sWidth': "20%" },
                    { 'data': 'user_email', 'sWidth': "20%" },
                    { 'data': 'user_status', 'sWidth': "10%" },
                    { 'data': 'phone', 'sWidth': "10%" },
                    {
                        'data': 'created_date',
                        'render': function (jsonDate) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                            return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear();
                        }
                    },

                ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0,
                    'checkboxes': { 'selectRow': true },
                    data: null,
                    defaultContent: '',
                }],
                select: {
                    style: 'multi',
                    selector: 'td:first-child',
                },

                "order": [0, 'desc'],
                "dom": 'Bfrtip',
                "buttons": [

                    {
                        extend: 'csv',
                        className: 'button',
                        text: '<i class="fas fa-file-csv"></i> CSV'
                    },
                    {
                        extend: 'print',
                        className: 'button',
                        text: '<i class="fas fa-print"></i> Print'
                    }
                ],

            });
        }

        //--------------Customer DataGrid End------------

    </script>
    <script>
        $(function () {
            $("#fromdate").datepicker({
                format: 'yyyy-mm-dd',
               });
            

            $("#todate").datepicker({
                format: 'yyyy-mm-dd',
            });


            $("#fromdateusers").datepicker({
                format: 'yyyy-mm-dd',
            });


            $("#todateusers").datepicker({
                format: 'yyyy-mm-dd',
            });

            $("#fromdatecustomers").datepicker({
                format: 'yyyy-mm-dd',
            });


            $("#todatecustomers").datepicker({
                format: 'yyyy-mm-dd',
            });

        });


        function datevalidation() {
            var d1 = $("#fromdate").val();
            var d2 = $("#todate").val();
            if (d1 > d2) {
                window.alert("d1 is greater");
            }

        }

    </script>
   
}
