@model LaylaERP.Models.Export_Details

@{
    ViewBag.Title = "Export";
    Layout = "~/Views/Shared/_ExportLayout.cshtml";
}
<div class="page-title">
    <h2 class="page-heading">Export</h2>
</div>
 
<div class="setting-section">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Orders</a></li>
            <li><a href="#tab_2" data-toggle="tab">Users</a></li>
            <li><a href="#tab_3" data-toggle="tab">Customers</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="user_subCrumbs">
                    <input type="button" id="btnvieworders" class="button" value="Refresh" />
                    From <input type="text" name="fromdate" id="fromdate" />
                    To<input type="text" name="todate" id="todate" />
                    @*From <input type="date" name="fromdate" id="fromdate">
        To <input type="date" name="todate" id="todate" >*@
                    <input type="button" id="btnorder" class="button" value="GO" />
                </div><br /><br />
                <div id="poststuff" class="woocommerce-reports-wide">
                    <div class="postbox">
                        <div class="inside reports-wide">
                            <div class="widefat">
                                <table id="exportdata" class="table-blue table table-bordered check-table" style="width:100%;">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th><input type="checkbox" class="selectAll" name="selectAll" value="all"><label></label></th>
                                            <th>Order Id</th>
                                            <th>Order Date</th>
                                            <th>Customer Id</th>
                                            <th>Number Of Items</th>
                                            <th>Subtotal</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end tab one-->
            <div class="tab-pane" id="tab_2">
                <div class="user_subCrumbs">
                    <input type="button" id="btnviewusers" class="button" value="Refresh" />
                    From <input type="text" name="fromdateusers" id="fromdateusers" />
                    To<input type="text" name="todateusers" id="todateusers" />
                    <input type="button" id="btnusers" class="button" value="GO" />
                    <br /><br />
                </div>
                <div id="poststuff" class="woocommerce-reports-wide">
                    <div class="postbox">
                        <div class="inside reports-wide">
                            <div class="widefat">
                                <table id="exportusersdata" class="table-blue table table-bordered check-table display" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" class="selectAllUsers" name="selectAllUsers" value="all"><label></label></th>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Status</th>
                                            <th>Role</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end tab two-->
            <div class="tab-pane" id="tab_3">
                <div class="user_subCrumbs">
                    <input type="button" id="btnviewcustomers" class="button" value="Refresh" />
                    From <input type="text" name="fromdatecustomers" id="fromdatecustomers" />
                    To<input type="text" name="todatecustomers" id="todatecustomers" />
                    <input type="button" id="btncustomers" class="button" value="GO" />
                    <br /><br />
                </div>
                <div id="poststuff" class="woocommerce-reports-wide">
                    <div class="postbox">
                        <div class="inside reports-wide">
                            <div class="widefat">
                                <table class="table-blue table table-bordered check-table display" id="exportcustomersdata" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" class="selectAllCustomers" name="selectAllCustomers" value="all"><label></label></th>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Status</th>
                                            <th>Phone</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end tab three-->
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            //DatagridCustomers();
            //DatagridOrder();
           
            //DatagridUsers();
           
//Button click for Orders
            $("#btnorder").click(function () {
                if ($("#fromdate").val() == "") {
                    swal('Alert', 'Please Enter From Date', 'error').then(function () { swal.close(); $('#fromdate').focus(); });
                }
                else if ($("#todate").val() == "") {
                    swal('Alert', 'Please Enter To Date', 'error').then(function () { swal.close(); $('#todate').focus(); });
                }
                else {
                    var d1 = $("#fromdate").val();
                    var d2 = $("#todate").val();
                    var d3 = new Date();
                    var d4 = d3.getFullYear() + '-' + ("0" + (d3.getMonth() + 1)).slice(-2) + '-' + d3.getDate();
                    if (d1 > d2) {
                        swal('Alert', 'Please check, From date should not be greater than To date ', 'error').then(function () { swal.close(); $('#fromdate').focus(); });
                    }
                    else if (d2 > d4)
                    {
                        swal('Alert', 'Please check, To date should not be greater than current date ', 'error').then(function () { swal.close(); $('#todate').focus(); });
                    }
                    else {
                        DatagridOrder();
                        $("#fromdate").val("");
                        $("#todate").val("");
                        return false;
                    }
                }
            });
            setTimeout(function () { DatagridOrder(); }, 50);

//Button Click for users
            $("#btnusers").click(function () {
                var d5 = $("#fromdateusers").val();
                var d6 = $("#todateusers").val();
                var d7 = new Date();
                var currentdate = d7.getFullYear() + '-' + ("0" + (d7.getMonth() + 1)).slice(-2) + '-' + d7.getDate();

                if ($("#fromdateusers").val() == "") {
                    swal('Alert', 'Please Enter From Date', 'error').then(function () { swal.close(); $('#fromdateusers').focus(); });
                }
                else if ($("#todateusers").val() == "") {
                    swal('Alert', 'Please Enter To Date', 'error').then(function () { swal.close(); $('#todateusers').focus(); });
                }
                else if (d5 > d6) {
                    swal('Alert', 'Please check, From date should not be greater than To date ', 'error').then(function () { swal.close(); $('#fromdateusers').focus(); });
                }
                else if (d6 > currentdate) {
                    swal('Alert', 'Please check, To date should not be greater than Current date ', 'error').then(function () { swal.close(); $('#todateusers').focus(); });
                }
                else {
                        DatagridUsers();
                        $("#fromdateusers").val("");
                        $("#todateusers").val("");
                        return false;
                }
            });
            setTimeout(function () { DatagridUsers(); }, 50);

           

//Button click for customer
            $("#btncustomers").click(function () {
                var dt = $("#fromdatecustomers").val();
                var dt1 = $("#todatecustomers").val();
                var dt2 = new Date();
                var dt3 = dt2.getFullYear() + '-' + ("0" + (dt2.getMonth() + 1)).slice(-2) + '-' + dt2.getDate();

                if ($("#fromdatecustomers").val() == "") {
                    swal('Alert', 'Please Enter From Date', 'error').then(function () { swal.close(); $('#fromdatecustomers').focus(); });
                }
                else if ($("#todatecustomers").val() == "") {
                    swal('Alert', 'Please Enter To Date', 'error').then(function () { swal.close(); $('#todatecustomers').focus(); });
                }
                else if (dt > dt1)
                {
                    swal('Alert', 'Please check, From date should not be greater than To date ', 'error').then(function () { swal.close(); $('#fromdatecustomers').focus(); });
                }
                else if (dt1 > dt3)
                {
                    swal('Alert', 'Please check, To date should not be greater than Current date', 'error').then(function () { swa.close(); $('#todatecustomers').focus(); });
                }
                else {
                    DatagridCustomers();
                    $("#fromdatecustomers").val("");
                    $("#todatecustomers").val("");
                    return false;
                }
            });
            setTimeout(function () { DatagridCustomers(); }, 50);

            //$(document).on('click', "#btnorder", function () {
            //    DatagridOrder();
            //})
            //$(document).on('click', "#btnuser", function () {
            //    DatagridUsers();
            //})
           
            $("#btnvieworders").click(function () { DatagridOrder(); });
            $("#btnviewusers").click(function () { DatagridUsers(); });
            $("#btnviewcustomers").click(function () { DatagridCustomers(); });

        });

        //-------------Order DataGrid Start----------------
        function DatagridOrder() {
            var from_date = $("#fromdate").val();
            var to_date = $("#todate").val();
            //var obj = { mydate: mydate };
            $('#exportdata').DataTable({
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                destroy: true,
                searching: false,
                "ajax": {
                    "url": '/Export/GetData',
                    "type": 'POST',
                    "dataType": 'json',
                    "data": { from_date: from_date, to_date: to_date }
                    //"data": JSON.stringify(obj)

                },
                
                "columns": [

                    { 'data': null, sWidth: "5%" },
                    { 'data': 'order_id' },
                    {
                        'data': 'order_created',
                        //'render': function (jsonDate) {
                        //    var date = new Date(parseInt(jsonDate.substr(6)));
                        //    var month = ("0" + (date.getMonth() + 1)).slice(-2);
                        //    return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear();
                        //}
                    },
                    { 'data': 'customer_id' },
                    //{ 'data':'orderstatus' },
                    { 'data': 'qty' },
                    { 'data': 'subtotal' },
                    { 'data': 'total' }

                ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0,
                    'checkboxes': {
                        "selectRow": false,
                    },
                    data: null,
                    defaultContent: '',
                }],
                "select": {
                    "style": 'multi',
                    "selector": 'td:first-child',
                },
                "order": [1, 'desc'],

                "dom": 'lBfrtip',
                "buttons": [

                    {
                        extend: 'csv',
                        className: 'button',
                        text: '<i class="fas fa-file-csv"></i> CSV'
                    },
                    {
                        extend: 'print',
                        className: 'button',
                        text: '<i class="fas fa-print"></i> Print'
                    }
                ],

            });

            //------------SELECT ALL CHEBOX-----------
            var DT1 = $('#exportdata').DataTable();
            $(".selectAll").on("click", function (e) {
                if ($(this).is(":checked")) {
                    DT1.rows().select();
                } else {
                    DT1.rows().deselect();
                }
            });
        }

        //---------------Order DataGrid End---------------

        //--------------Users DataGrid Start-----------------
        function DatagridUsers() {
            var fromdateusers = $("#fromdateusers").val();
            var todateusers = $("#todateusers").val();
            $('#exportusersdata').DataTable({
                destroy: true,
                searching: false,
                bAutoWidth: false,
                "ajax": {
                    "url": '/Export/UsersExport',
                    "type": 'POST',
                    "dataType": 'json',
                    "data": { from_dateusers: fromdateusers, to_dateusers: todateusers }
                },
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],

                "columns": [
                    { 'data': null, sWidth:"5%" },
                    { 'data': 'UID', sWidth: "10%"},
                    { 'data': 'user_login', sWidth: "10%"},
                    { 'data': 'user_email', sWidth: "25%" },
                    { 'data': 'user_status', sWidth: "15%" },
                    { 'data': 'my', sWidth:"20%" },
                    {
                        'data': 'created_date', sWidth:"15%"
                        //'render': function (jsonDate) {
                        //    var date = new Date(parseInt(jsonDate.substr(6)));
                        //    var month = ("0" + (date.getMonth() + 1)).slice(-2);
                        //    return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear();
                        //}
                    },

                ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0,
                    'checkboxes': { 'selectRow': true },
                    data: null,
                    defaultContent: '',
                    
                }],
                select: {
                    style: 'multi',
                    selector: 'td:first-child',
                },

                "order": [0, 'desc'],
                "dom": 'lBfrtip',
                "buttons": [

                    {
                        extend: 'csv',
                        className: 'button',
                        text: '<i class="fas fa-file-csv"></i> CSV'
                    },
                    {
                        extend: 'print',
                        className: 'button',
                        text: '<i class="fas fa-print"></i> Print'
                    }
                ],

            });

//------------------SELECT ALL CHECKBOXES---------------
            var DT2 = $('#exportusersdata').DataTable();
            $(".selectAllUsers").on("click", function (e) {
                if ($(this).is(":checked")) {
                    DT2.rows().select();
                } else {
                    DT2.rows().deselect();
                }
            });
        }
        //----------------Users DataGrid End--------------

        //--------------Cuustomers Datagrid Start----------
        function DatagridCustomers() {
            var fromdatecustomers = $("#fromdatecustomers").val();
            var todatecustomers = $("#todatecustomers").val();
            $('#exportcustomersdata').DataTable({
                destroy: true,
                searching: false,
                bAutoWidth: false,
                "ajax": {
                    "url": '/Export/CustomersExport',
                    "type": 'POST',
                    "dataType": 'json',
                    "data": { from_datecustomers: fromdatecustomers, to_datecustomers: todatecustomers }
                },
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],

                "columns": [
                    { 'data': null, sWidth: "5%" },
                    { 'data': 'UID', 'sWidth': "10%" },
                    { 'data': 'customer_login', 'sWidth': "20%" },
                    { 'data': 'customer_email', 'sWidth': "20%" },
                    { 'data': 'customer_status', 'sWidth': "10%" },
                    { 'data': 'customer_phone', 'sWidth': "20%" },
                    {
                        'data': 'customerdate_created',
                        //'render': function (jsonDate) {
                        //    var date = new Date(parseInt(jsonDate.substr(6)));
                        //    var month = ("0" + (date.getMonth() + 1)).slice(-2);
                        //    return ("0" + date.getDate()).slice(-2) + '-' + month + '-' + date.getFullYear();
                        //}
                    },

                ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0,
                    'checkboxes': { 'selectRow': true },
                    data: null,
                    defaultContent: '',
                }],
                select: {
                    style: 'multi',
                    selector: 'td:first-child',
                },

                "order": [0, 'desc'],
                "dom": 'lBfrtip',
                "buttons": [

                    {
                        extend: 'csv',
                        className: 'button',
                        text: '<i class="fas fa-file-csv"></i> CSV'
                    },
                    {
                        extend: 'print',
                        className: 'button',
                        text: '<i class="fas fa-print"></i> Print'
                    }
                ],

            });

            var DT3 = $('#exportcustomersdata').DataTable();
            $(".selectAllCustomers").on("click", function (e) {
                if ($(this).is(":checked")) {
                    DT3.rows().select();
                } else {
                    DT3.rows().deselect();
                }
            });

        }

        //----------------Customers DataGrid End-----------------
    </script>
    <script>
        $(function () {
            $("#fromdate").datepicker({
                format: 'yyyy-mm-dd',
            });


            $("#todate").datepicker({
                format: 'yyyy-mm-dd',
            });


            $("#fromdateusers").datepicker({
                format: 'yyyy-mm-dd',
            });


            $("#todateusers").datepicker({
                format: 'yyyy-mm-dd',
            });

            $("#fromdatecustomers").datepicker({
                format: 'yyyy-mm-dd',
            });


            $("#todatecustomers").datepicker({
                format: 'yyyy-mm-dd',
            });

        });

    </script>
}
