@{
    ViewBag.Title = "New Commercial Proposal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h2>Edit Commercial Proposal</h2>
</div>
<section class="content section-content massstocktransfer commercial_proposal mt-1">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Commercial Proposal</a></li>
            <li><a href="#tab_2" data-toggle="tab">Contacts/Addresses</a></li>
            <li><a href="#tab_3" data-toggle="tab">Notes<span class="badge badge-danger">4</span></a></li>
            <li><a href="#tab_4" data-toggle="tab">Linked files<span class="badge badge-danger">4</span></a></li>
            <li><a href="#tab_5" data-toggle="tab">Log</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="d-flex proposal-top">
                            <div class="edit-proposal-box">
                                <div class="proposal-box">
                                    <input type="file" name="file" id="proposal" class="inputfile">
                                    <label for="proposal"><i class="fa fa-edit"></i></label>
                                </div>
                                <div class="edit-proposal-texts">
                                    <h3 class="box-title">PROV2108-00005</h3>
                                    <p>Ref. customer<button><i class="fas fa-pencil-alt"></i></button></p>
                                    <p>Vendor: Lyl texttile(LYT)(Other proposals)</p>
                                </div>
                            </div>
                            <div class="back-to-list">
                                <p><button class="btn no-btn">Back to list</button></p>
                                <p><button class="btn btn-danger">Signed(needs billing)</button></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowbox proposal-row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Discounts</label>
                                    <div class="col-md-8">
                                        <p>This customer has a default discount of 10%</p>
                                        <span class="form-info">The name is how it appears on your site.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Date of proposal</label>
                                    <div class="col-md-8">
                                        <p>07/26/2021</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Validity ending date</label>
                                    <div class="col-md-8">
                                        <p>08/10/2021</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Payment Terms</label>
                                    <div class="col-md-8">
                                        <p>30 days of month-end</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Payment Type</label>
                                    <div class="col-md-8">
                                        <p>Check</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Delivery date</label>
                                    <div class="col-md-8">
                                        <p><i class="fas fa-pencil-alt"></i>07/31/2021</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Availability delay (after order)</label>
                                    <div class="col-md-8">
                                        <p>2 weeks</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Shipping method</label>
                                    <div class="col-md-8">
                                        <p><i class="fas fa-pencil-alt"></i>UPS</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Source</label>
                                    <div class="col-md-8">
                                        <p>Internet</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Calculated weight</label>
                                    <div class="col-md-8">
                                        <p>1,000 Kg</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Calculated volume</label>
                                    <div class="col-md-8">
                                        <p>1,000 m<sup>3</sup></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Incoterms</label>
                                    <div class="col-md-8">
                                        <p><i class="fas fa-pencil-alt"></i>GIF</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Amount (excl. tax)</label>
                                    <div class="col-md-6">
                                        <p>$22,000</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Amount tax</label>
                                    <div class="col-md-6">
                                        <p>$2,000</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Amount (inc. tax)</label>
                                    <div class="col-md-6">
                                        <p>$24,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-body" id="proposal-table">
                        <table class="table-blue table check-table table-bordered">
                            <thead>
                                <tr role="row">
                                    <th class="text-left">Description</th>
                                    <th>Sale tax</th>
                                    <th>U.P.(net)</th>
                                    <th>Qty</th>
                                    <th>Disc</th>
                                    <th>Total(excl.)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left">Layla_Metal_Plateform_Base-Layla metal plateform base</td>
                                    <td>6%</td>
                                    <td>249.00</td>
                                    <td>100</td>
                                    <td>10%</td>
                                    <td>24,000</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="proposals-btns">
                            <button class="text-uppercase btn btn-danger">Re-Open</button>
                            <button class="text-uppercase btn btn-danger">Send Email</button>
                            <button class="text-uppercase btn btn-danger">Create Order</button>
                            <button class="text-uppercase btn btn-danger">Create Invoice Or Credit Note</button>
                            <button class="text-uppercase btn btn-default">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_2">
                <h2>Contacts/Addresses</h2>
            </div>
            <div class="tab-pane" id="tab_3">
                Notes
            </div>
            <div class="tab-pane" id="tab_4">
                Linked files
            </div>
            
        </div>
    </div>
</section>