

@{
    ViewBag.Title = "New Proposal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewProposal</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
