
@{ ViewBag.Title = "Agent Commission Rate";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@*datatables CSS*@
<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
@*datatables js*@
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap.min.js" type="text/javascript"></script>

<div class="page-title">
    <h2 class="page-heading">Commission Rate</h2><a class="btn btn-danger" href="AddCommissionRate">Add</a>
</div>
<div class="userrole_section commission-section section_wrapper table-design">
    @*<form id="saveForm" name="saveForm" method="post" autocomplete="off">*@
    <div class="box box-primary">
        <div class="box-header">
            <table id="dtdata" class="table-blue table check-table table-bordered table-striped dataTable " width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>AOV Range1</th>
                        <th>AOV Range2</th>
                        <th>Commission Rate (%)</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    @*</form>*@
</div>



<script type="text/javascript">
    $(document).ready(function () {
        MenuGrid();

    })
</script>

<script>
    function MenuGrid() {

        $.ajax({
            url: '/AgentCommissionRate/GetCommission',
            method: 'post',
            datatype: 'json',
            contentType: "application/json; charset=utf-8",
            processing: true,
            success: function (data) {
                $('#dtdata').dataTable({
                    scrollX: true,
                    destroy: true,
                    data: JSON.parse(data),
                    "columns": [
                        { data: 'id', title: 'Id', sWidth: "10%" },
                        { data: 'AOV_Range1', title: 'AOV Range1', sWidth: "10%" },
                        { data: 'AOV_Range2', title: 'AOV Range2', sWidth: "20%" },
                        { data: 'Comm_Rate', title: 'Commission Rate (%)', sWidth: "20%" },
                        {
                            'data': 'id', sWidth: "10%",
                            'render': function (id, type, full, meta) {
                                return '<a href="javascript:void(0);" onClick="EditUser(' + id + ')"><i class="glyphicon glyphicon-pencil"></i></a>'
                            }
                        }
                    ],
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
            }
        });

    }

    function EditUser(id) {
        window.location.href = 'UpdateCommission?id=' + id;
    }
</script>



