
@{
    ViewBag.Title = "ChartOfAccountEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Content/DataTables/bootstrap-datepicker.js"></script>

<div class="page-title">
    <h2>Add Chart Of Account Entry</h2> <a title="Click here to back to chart account entry list" data-placement="bottom" data-toggle="tooltip" href="../../Accounting/ChartAccountEntryList" class="btn btn-danger" data-original-title="Click here to back to list">Back to List</a>
</div>
<section class="content section-content massstocktransfer commercial_proposal mt-1" id="new_bank_account_section">
    <div class="col-md-12">
        <div class="box box-primary create-user-primary">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">Name</label><span style="color:red">*</span>
                            <select class="form-control select2" id="ddlname"></select>
                        </div>
                        <div class="form-group">
                            <label for="startdate">Type</label><span style="color:red">*</span>
                            <select class="form-control select2" id="ddltype"></select>
                        </div>
                        <div class="form-group">
                            <label for="enddate">Detail Type</label><span style="color:red">*</span>
                            <select class="form-control select2" id="ddldetailtype"></select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="eventassign">Debit Amount</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtbalance" />
                        </div>
                        <div class="form-group">
                            <label for="tag">Credit Amount</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtbankbalance" />
                        </div>
                        <div class="form-group">
                            <label for="description">Date</label><span style="color:red">*</span>
                            <input type="text" class="form-control" id="txtentrydate" /><span class="even-space"></span>
                        </div>
                        <button class="btn btn-danger" id="btnSave"><span title="Click here to save details" data-placement="bottom" data-toggle="tooltip">Save</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $("#txtentrydate").datepicker({
            format: 'mm-dd-yyyy',
        }).datepicker("setDate", 'now');
    });
</script>
<script src="~/js/jquery.mask.js" asp-append-version="true"></script>
<script src="@Url.Content("~/js/Accounting/ChartAccountEntry.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
