
@{
    ViewBag.Title = "Agingorders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.rangePicker = "/Content/AdminLTE-3.1.0/bower_components/bootstrap-daterangepicker/daterangepicker.css";

}

 

<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
@*datatables js*@
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap.min.js" type="text/javascript"></script> 
<div class="page-title">
    <h2 class="page-heading">All Orders</h2>
</div>
<section class="content section-content neworder-section table-design"> 
    <div class="row">
        <input type="hidden" id="hfType" value="" />
        <div class="col-md-12"> 
            <div class="user-top-section">
                <div class="tablenav top tablenav-top2">
                    <div class="alignleft actions">
                        <div class="input-group">
                            <input type="hidden" id="hfhref" />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input id="txtOrderDate" data-auto-update-input="false" readonly="readonly" class="form-control">
                        </div>
                    </div>
                    <div class="alignleft actions">
                        @*<input id="txtcouponcode" class="form-control">*@
                        <label>Status</label>
                        <select class="form-control select2 billinfo" id="ddlstatus">
                            <option value="0" >Select Status</option>
                            <option value="wc-pending" selected="">Pending</option>
                            <option value="wc-processing">Processing</option>
                            <option value="wc-on-hold">Hold</option>
                            <option value="wc-completed">Completed</option>
                            <option value="wc-cancelled">Cancelled</option>
                            <option value="wc-refunded">Refunded</option>
                            <option value="wc-failed">Failed</option>
                            <option value="wc-cancelnopay">Cancelnopay</option>
                        </select>
                        <button type="button" id="btnsearch" onclick="Search();" class="btn btn-primary btn-flat button">Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="exportorderdata" class="table-blue table table-bordered check-table" style="width:100%;">
                                    <thead class="thead-dark">
                                        <tr>
                                            
                                            <th>Order Id</th>
                                            <th>Name</th>
                                            <th>Total</th>
                                            <th>Tax</th>
                                            <th>Order Total</th>
                                            <th>Status</th>
                                            <th>Order Date</th>
                                            <th>Aging</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<script type="text/javascript">
    //$(document).ready(function () {
    //    var loc = window.location.pathname;
    //    CheckPermissions("#btnChange", "#hfEdit", "", loc);
    //    //CheckPermissions("#btnChange", "#btnChange", "", loc);
    //});
</script>

<link href="~/Content/AdminLTE-3.1.0/daterangepicker/daterangepicker.monthpicker.css" rel="stylesheet" />
<script src="~/Content/AdminLTE-3.1.0/daterangepicker/daterangepicker.monthpicker.js"></script>
<script src="~/js/common.js"></script>
<script src="@Url.Content("~/js/Report/Agingorders.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
 

