
@{
    ViewBag.Title = "CommissionEarnAgent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
<!-- datatables js -->
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<div class="page-title">
    <h2>Commission Earn Agent</h2>
</div>

<div class="content section-content commission-section not-fixed">
    <div class="user-top-section">
        <div class="tablenav top">
            <div class="alignleft actions bulkactions">
                <form method="GET">
                    <div class="agent-form-date">
                        <input type="text" size="11" id="start_date" placeholder="Start date mm-dd-yyyy" name="start_date" class="range_datepicker from hasDatepicker" autocomplete="off">
                        <input type="text" size="11" id="end_date" placeholder="End date mm-dd-yyyy" name="end_date" class="range_datepicker to hasDatepicker" autocomplete="off">
                  
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">Commission Orders Data</a></li>
            <li><a href="#tab_2" data-toggle="tab">Commission Earned Agent</a></li>
        </ul>

        <div class="tab-content commission-tab">
            <div class="tab-pane active" id="tab_1">
                <input type="button" id="filtersrchexp" value="Show" class="button" />
                <div id="poststuff" class="woocommerce-reports-wide">
                    <div class="box box-primary">
                        <div class="box-header">
                            <table id="dtdata" class="table-blue table check-table table-bordered table-striped dataTable" width="100%">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Employee Name</th>
                                        <th>Grand Total</th>
                                        <th>Merchandise Total</th>
                                        <th>Tax</th>
                                        <th>Recycling Fee</th>
                                        <th>Coupon Amount</th>
                                        <th>Commissionable Amount</th>
                                        <th>Status</th>
                                        <th>
                                            Paid Date&nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                        </th>
                                        <th>Transaction ID</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tab_2">
                <input type="button" id="filtersrchexpE" value="Show" class="button" />
                <div id="poststuff" class="woocommerce-reports-wide">
                    <div class="box box-primary">
                        <div class="box-header">
                            <table id="dtdataemployee" class="table-blue table check-table table-bordered table-striped dataTable" width="100%">
                                <thead>
                                    <tr>
                                        <th>Row Labels</th>
                                        <th>Sum of Commissionable Amount</th>
                                        <th>Count of Order ID</th>
                                        <th>AOV</th>
                                        <th>Commission Earned</th>
                                    </tr>
                                </thead>
                                <tfoot>

                                    <tr>
                                        <th>
                                            Grand Total
                                        </th>
                                        <th><label id="txtStatus1"></label></th>
                                        <th><label id="txtcount"></label></th>
                                        <th><label id="txtaov"></label></th>
                                        <th><label id="txtComEar"></label></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //setTimeout(function () { DatagridOrder(); }, 50);
        $("#filtersrchexp").click(function () {
            if ($("#start_date").val() == "") {
                swal('Alert', 'Please Enter Start_Date', 'error').then(function () { swal.close(); $('#start_date').focus(); });
            }
            else if ($("#end_date").val() == "") {
                swal('Alert', 'Please enter End_Date', 'error').then(function () { swal.close(); $('#end_date').focus(); });
            }
            else {

                DatagridOrder();
           
                //$("#month").val("");
                //  $("#year").val("");
                return false;

            }
        });
      //  setTimeout(function () { DatagridOrder(); }, 50);
        $("#filtersrchexpE").click(function () {
            if ($("#start_date").val() == "") {
                swal('Alert', 'Please Enter Start_Date', 'error').then(function () { swal.close(); $('#start_date').focus(); });
            }
            else if ($("#end_date").val() == "") {
                swal('Alert', 'Please enter End_Date', 'error').then(function () { swal.close(); $('#end_date').focus(); });
            }
            else {

               
                DatagridOrderDetails();
                //$("#month").val("");
                //  $("#year").val("");
                return false;

            }
        });
       // setTimeout(function () { DatagridOrderDetails(); }, 50);
    });

    function DatagridOrder() {
        var Month = $("#start_date").val();
        var Year = $("#end_date").val();
        //var obj = { mydate: mydate };
        $('#dtdata').DataTable({
            destroy: true,
            "scrollX": true,
            searching: false,
            "ajax": {
                "url": '/Reports/GetPodiumOrderDetails',
                "type": 'POST',
                "dataType": 'json',
                "data": { Month: Month, Year: Year }
                //"data": JSON.stringify(obj)

            },
            "columns": [


                { 'data': 'order_id', 'sWidth': "5%" },
                { 'data': 'first_name', 'sWidth': "15%" },
                { 'data': 'total', 'sWidth': "10%" },
                { 'data': 'subtotal', 'sWidth': "15%" },
                { 'data': 'tax', 'sWidth': "5%" },
                { 'data': 'fee', 'sWidth': "10%" },
                { 'data': 'address', 'sWidth': "15%" },
                { 'data': 'Discount', 'sWidth': "10%" },
                { 'data': 'orderstatus', 'sWidth': "10%" },
                { 'data': 'billing_city', 'sWidth': "10%" },
                //{
                //    'data': 'created_date', sWidth: "10%",
                //    'render': function (jsonDate) {
                //        var date = new Date(parseInt(jsonDate.substr(6)));
                //        var datevalue = ("0" + (date.getDate())).slice(-2);
                //        return ("0" + (date.getMonth() + 1)).slice(-2) + '-' + datevalue + '-' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
                //    }
                //},

                //{ 'data':'orderstatus' },
                { 'data': 'customer_id', 'sWidth': "15%" },


            ],
            columnDefs: [{
                orderable: false,
                data: null,
                defaultContent: '',
            }],

            "order": [0, 'desc'],

            "dom": 'Bfrtip',
            "buttons": [

                {
                    extend: 'csv',
                    className: 'button',
                    text: '<i class="fas fa-file-csv"></i> Export',
                    filename: function () {
                        var from = $("#start_date").val().replaceAll('/', '.');
                        var to = $("#end_date").val().replaceAll('/', '.');
                        return from + '-' + to;
                    },
                },

            ],

        });
    }
    function DatagridOrderDetails() {
        var Month = $("#start_date").val();
        var Year = $("#end_date").val();
        //var obj = { mydate: mydate };
        $('#dtdataemployee').DataTable({
            destroy: true,
            "scrollX": true,
            searching: false,
            "ajax": {
                "url": '/Reports/GetPodiumEmployeeOrderDetails',
                "type": 'POST',
                "dataType": 'json',
                "data": { Month: Month, Year: Year }
                //"data": JSON.stringify(obj)

            },
            "columns": [


                { 'data': 'first_name', 'sWidth': "5%" },
                { 'data': 'fee', 'sWidth': "15%" },
                { 'data': 'order_id', 'sWidth': "10%" },
                { 'data': 'tax', 'sWidth': "15%" },
                { 'data': 'total', 'sWidth': "5%" },



            ],
            footerCallback: function (row, data, start, end, display) {
                var api = this.api(), data;
                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                };
                // Total over this page
                data = api.column(2, {
                    page: 'current'
                }).data(); pageTotalCount = data.length ? data.reduce(function (a, b) { return intVal(a) + intVal(b); }) : 0;

                data = api.column(1, {
                    page: 'current'
                }).data(); pageTotalCoomiAm = data.length ? data.reduce(function (a, b) { return intVal(a) + intVal(b); }) : 0;

                data = api.column(3, {
                    page: 'current'
                }).data(); pageTotalAOV = data.length ? data.reduce(function (a, b) { return intVal(a) + intVal(b); }) : 0;

                data = api.column(4, {
                    page: 'current'
                }).data(); pageTotalCommitEarned = data.length ? data.reduce(function (a, b) { return intVal(a) + intVal(b); }) : 0;

                //$(api.column(1).footer()).html('$' + pageTotalCoomiAm.toFixed(2));
                //$(api.column(2).footer()).html(pageTotalCount);
                //$(api.column(3).footer()).html('$' + pageTotalAOV.toFixed(2));
                //$(api.column(4).footer()).html('$' + pageTotalCommitEarned.toFixed(2));

                $(api.column(1).footer()).html('$' + pageTotalCoomiAm);
                $(api.column(2).footer()).html(pageTotalCount);
                $(api.column(3).footer()).html('$' + pageTotalAOV);
                $(api.column(4).footer()).html('$' + pageTotalCommitEarned);
                
            },
             
            columnDefs: [{
                orderable: false,
                data: null,
                defaultContent: '',
            }],

            "order": [1, 'asc'],

            "dom": 'Bfrtip',
            "buttons": [

                {
                    extend: 'csv', footer: true,
                    className: 'button',
                    text: '<i class="fas fa-file-csv"></i> Export',
                    filename: function () {
                        var from = $("#start_date").val().replaceAll('/', '.');
                        var to = $("#end_date").val().replaceAll('/', '.');                     
                        return  from + '-' + to;
                    },
                },

            ],

        });
    }

    jQuery(function ($) {
        $('[name="start_date"], [name="end_date"]').datepicker();
    });
    jQuery(function ($) {
        $('[name="start_dateE"], [name="end_dateE"]').datepicker();
    });
    jQuery(function ($) {
        function res() {
        var ele = $('.agent-form-date'),
            top1 = ele.offset().top,
            left1 = ele.offset().left,
            wid1 = ele.outerWidth(true),
            left1 = left1 + wid1;
        $('#filtersrchexp, #filtersrchexpE').css({
            'left': left1, 'top':top1
        });
        }
        res();
        $(window).resize(function () {
            res();
        });
    });
</script>
 

