
@{
    ViewBag.Title = "ForecastInventoryLSPowerBi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Forecast Inventory (LS)</h3>

<iframe title="ForecastInventory(LS) - Forecast Inventory(LS)" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=c2c390aa-51cc-475c-bf47-725249528218&autoAuth=true&ctid=09d4994c-610a-4168-ae7b-6bb4e533216e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLWItcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>