
@{
    ViewBag.Title = "MiscReportPowerBi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>MiscReportPowerBi</h3>
<iframe title="Misc report overview - Aj base overview" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=1b309c96-6fce-41bc-bdd3-3d300c82a23c&autoAuth=true&ctid=09d4994c-610a-4168-ae7b-6bb4e533216e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLWItcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true">

</iframe>
