
@{
    ViewBag.Title = "overviewv4clintreport";
}

<h3>Ad Cost Overview</h3>
<iframe title="Layla Sleep - Overview V4-Client - Overview" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=20a6b5f3-b53f-4207-9dbe-2006933df592&autoAuth=true&ctid=09d4994c-610a-4168-ae7b-6bb4e533216e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLWItcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
