
@{
    ViewBag.Title = "PastDueMiscBills";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.rangePicker = "/Content/AdminLTE-3.1.0/bower_components/bootstrap-daterangepicker/daterangepicker.css";
    var user = LaylaERP.UTILITIES.CommanUtilities.Provider.GetCurrent();

}
<link href="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE-3.1.0/datatables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />
@*datatables js*@
<script src="~/Content/AdminLTE-3.1.0/datatables/datatables.min.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE-3.1.0/datatables/DataTables-1.10.20/js/dataTables.bootstrap.min.js" type="text/javascript"></script>

@*<style>
    .dataTables_scrollHeadInner {
        width: 100% !important;
    }
</style>*@

<section class="content section-content neworder-section table-design">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">
                <h2 class="page-heading lbltitle" data-ut="@user.UserType.ToString().ToLower()">Past Due Misc Bills</h2>
                <div style="margin-left:auto;min-width:280px;">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="txtDate" data-auto-update-input="false" readonly="readonly" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="dtdata" class="inventory-table table-blue table check-table table-bordered table-striped dataTable">
                                    <thead>
                                        <tr>
                                            <th>Bill No.</th>
                                            <th>Date</th>
                                            <th>Invoice No</th>
                                            <th>Vendor Name</th>
                                            <th>Destination</th>
                                            <th>Destination Address</th>
                                            <th>Planned date of delivery</th>
                                            <th>Status</th>
                                            <th>Due Date</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
 
</section>
<script type="text/javascript">
    //$(document).ready(function () {
    //    var loc = window.location.pathname;
    //    CheckPermissions("#btnChange", "#hfEdit", "", loc);
    //    //CheckPermissions("#btnChange", "#btnChange", "", loc);
    //});
</script>

<link href="~/Content/AdminLTE-3.1.0/daterangepicker/daterangepicker.monthpicker.css" rel="stylesheet" />
<script src="~/Content/AdminLTE-3.1.0/daterangepicker/daterangepicker.monthpicker.js"></script>
<script src="~/js/common.js"></script>
<script src="@Url.Content("~/js/Report/PastDueMiscBills.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
<script src="@Url.Content("~/js/PaymentInvoice/MiscBillPrint.js?v="+DateTime.Now.ToString(" ddMMyyyymmss")+"")" asp-append-version="true"></script>



