
@{
    ViewBag.Title = "SalesRepresentativePBI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Sales Representative Orders</h3>
<iframe 
        title="salerepresentative - Sales Representative Orders" width="1140" height="541.25" 
        src="https://app.powerbi.com/reportEmbed?reportId=3d0591ea-adfb-4c8c-b66f-89ba7afb6db8&autoAuth=true&ctid=09d4994c-610a-4168-ae7b-6bb4e533216e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLWItcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" 
        frameborder="0" allowFullScreen="true">
</iframe>


