
@{
    ViewBag.Title = "SalesReoprtPowerBi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Sales overview</h3>

    <iframe 
            title="SalesOrderChart - Sales overview 2021" width="1140" height="541.25" 
            src="https://app.powerbi.com/reportEmbed?reportId=45db970f-33a6-4952-88fe-c6f9c705cc62&autoAuth=true&ctid=09d4994c-610a-4168-ae7b-6bb4e533216e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLWItcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" 
            frameborder="0" allowFullScreen="true">
    </iframe>