
@{
    ViewBag.Title = "SalesForecastReportPowerBi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Sales Forecast Report</h3>

<iframe title="Forecast report overview - Forecast sales historical overview 2022" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=0e2740e8-7492-4a90-aa14-fa94bd36d9cb&autoAuth=true&ctid=09d4994c-610a-4168-ae7b-6bb4e533216e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QyLWItcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true">

</iframe>