
@{
    ViewBag.Title = "Received Orders";

}

<div class="page-title">
    <h2 class="page-heading">Received Orders List</h2>
    <div class="user-top-section">
        <div class="tablenav top tablenav-top2">
            <div class="alignleft actions">
                <input id="txtorderrecevepo" placeholder="Search Criteria" onkeypress="return AddKeyPressReceived(event);" autocomplete="off" class="form-control">
                <button type="button" id="btnreceveSearch" class="btn btn-primary btn-flat button">Search</button>
            </div>
        </div>
    </div>
</div>
<section class="content section-content table-design customer-section">
    <div class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="dtdataPartially" class="inventory-table table-blue table check-table table-bordered table-striped dataTable1" width="100%">
                                    <thead>
                                        <tr>
                                            @*<th width="5%" style="display:none"><input type="checkbox" name="checkall" id="checkall" onClick="CheckAll();"><label></label></th>*@
                                            <th>PO No.</th>
                                            <th>Date</th>
                                            <th>Invoice No</th>


                                            <th>Address</th>
                                            <th>SO No. Name</th>
                                            <th>Address</th>
                                            <th>Zip Code</th>
                                            <th>Planned date of delivery</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                         
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
@*<script src="@Url.Content("~/js/Reception/ReceivePrint.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/Reception/ReceiveOrderList.js?v="+DateTime.Now.ToString("ddMMyyyymmss")+"")" asp-append-version="true"></script>*@